[2018-11-07 22:45] jeremybarbet opened #1 "Remaining before release"
General

- [x] Remove definitions file
- [x] Tap gesture on overlay
- [x] Keyboard avoiding view

iOS

- [x] Bounce to the bottom of scrollview, and disable on top of it

Android

- [x] Make it works

[2018-11-13 20:59] #1 closed

[2018-12-05 15:09] OmgDef opened #3 "FooterComponent doesn't render"

[2018-12-05 15:12] OmgDef opened #4 "Content overflows the container if HeaderComponent is set"
This happens because ```onScrollViewChange``` is called before the header height is calculated.

![simulator screen shot - iphone x - 2018-12-05 at 23 11 51](https://user-images.githubusercontent.com/6762337/49522688-2eb9e700-f8e3-11e8-8ff0-92e977fc5511.png)

[2018-12-05 15:37] bogoslavskiy opened #5 "Swipe down for close does not work if content is scrolled down"

[2018-12-05 18:04] jeremybarbet commented on #4
Yes you are right, it's already on my todo list, feel free to open a pull request if you already have a fix in mind

[2018-12-05 18:05] jeremybarbet commented on #3
This example rendered a footer component https://github.com/jeremybarbet/react-native-modalize/blob/master/example/modals/InputForm.tsx you can see it on Expo.

Do you have more informations about your issue?

[2018-12-05 18:06] jeremybarbet commented on #5
Are you talking about the snapping feature where you want to swipe the header even if the scrollview is at the bottom?

[2018-12-05 21:16] bogoslavskiy commented on #5
That's what i mean
![bug](https://user-images.githubusercontent.com/5034713/49544538-19958600-f8ec-11e8-8484-894d1794dd00.gif)

[2018-12-05 21:16] bogoslavskiy commented on #5
I really like your implementation. Great job. I waiting for the implementation with FlatList

[2018-12-06 07:58] jeremybarbet commented on #5
Thanks, I appreciated the feedback. You can open a pull request if you want to start the FlatList implementation.

Apart from that, this is a known issue, it's on my todo list 👌🏻

[2018-12-08 12:39] Ragularuban opened #7 "Allow Horizontal ScrollViews inside content"
Issue:
Horizontal ScrollView inside the modal does not work.

Solution:
A very similar solution can be introduced -
https://stackoverflow.com/questions/44407955/scrollview-inside-an-panresponder

[2018-12-10 18:51] jeremybarbet commented on #7
Did you try to import the ScrollView from RNGH?

[code]

[2018-12-10 22:32] jeremybarbet commented on #3
Should be good now 👌🏻

[2018-12-10 22:32] #3 closed

[2018-12-10 22:32] jeremybarbet commented on #4
Should be good now 👌🏻

[2018-12-10 22:32] #4 closed

[2018-12-11 16:47] Ragularuban commented on #7
I updated the module and tried. It started working like a charm!

I imported 'ScrollView' from 'react-native' and still works now 🤔

[2018-12-11 16:47] #7 closed

[2018-12-12 23:01] jeremybarbet commented on #7
If you run under Android, you will need to use the ScrollView from RNGH, I had issues with the default one from react-native.

[2018-12-13 23:31] waltershub opened #9 "Cover all parent views"
The model only covers the c component its rendered in, there should an option to cover the whole screen, like react native model

[2018-12-14 14:52] jeremybarbet commented on #9
If I get you right, I think it's because you didn't use the props `withReactModal`, it's false by default.

[2018-12-21 00:51] guizmo opened #10 "react-navigation modal"
Hello, really nice module !
i'd like to know how i could  use Modalize and react-navigation to open a modal above the all screen (and not use withReactModal).

thanks for your time

[2018-12-21 10:17] jeremybarbet commented on #10
Hey!

Thank you for the interest in this package. I created an example repository using react-navigation: https://github.com/jeremybarbet/react-navigation-with-modalize. It's definitely not perfect but it will show you roughly the steps to set it up correctly.

The important steps are:

- **Step 1** Defining the modal in the stack navigator: https://github.com/jeremybarbet/react-navigation-with-mo

[2018-12-23 14:48] Ragularuban opened #11 "Can we have sticky headers inside the modal?"
Is there a possibility to add sticky headers to the content inside modal?

[code]

PS:
1) The `absolute` property of header and footer component is not clear

[2018-12-23 14:50] Ragularuban opened #12 "Ability to change KeyboardAvoidingView behavior"
I am wondering if there is  a possibility to modify the KeyboardAvoidingView behavior of the modal?

[2018-12-23 16:30] jeremybarbet commented on #11
Are you thinking about something like this https://facebook.github.io/react-native/docs/sectionlist#stickysectionheadersenabled?

Maybe the absolute property for the `header`/`footer` is not specific enough. But in short, `isAbsolute` makes the header either on top of the scrollview or not.

Do you think about something better?

[2018-12-23 21:08] guizmo commented on #10
Thanks for that Jeremy
That gave me an idea... i'll test it out and share what i did once it's
working

On Fri, 21 Dec 2018 at 21:18, Jérémy Barbet <notifications@github.com>
wrote:

[2019-01-03 13:14] jeremybarbet commented on #12
Hey!

May I ask you which kind of behavior are you trying to do?

I added two examples on the default modal with a horizontal and a vertical scrollview to show that you need to use the one from `react-native-gesture-handler`.

Of course the swipe gesture will be lost because it's related to the main modal and not the child scrollview.

Even though, it's still possible to expose the KeyboardAvoidin

[2019-01-03 13:17] jeremybarbet commented on #11
I have to take a look for the `stickyHeaderIndices`, but I don't see a reason it wouldn't work.

Yes, you are right, this is confusing. I should say "if you use position absolute on your header component then you have to pass `isAbsolute: true`". I wanted and still, want to do it automatically, but I haven't found a way to check the header style object to see if the position property is passed or

[2019-01-04 12:25] sagardesai16 opened #17 "TouchableOpacity onPress doesn't work inside the view"
Here I have used Modalize
[code]

This is a part of components.ReactionList

[code]

Please let us know how do we solve this issue

[2019-01-04 15:46] jeremybarbet commented on #17
Hey!

Hard to know without more context I guess. From this example: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples-shared/src/components/modals/FixedContent.tsx#L22-L28 there is a `TouchableOpacity` inside the view and it works.

Is there a style on the components.ReactionList that would make it impossible to press the button? You could try to move the `TouchableOpacity

[2019-01-06 08:38] sagardesai16 commented on #17
Hey Jeremy,

I tried the following code

[code]

Still no success.

[2019-01-06 10:54] jeremybarbet commented on #17
I have been able to run your code without any problems on both android and ios. The only difference is the `styles.buttonTab` that I had to remove because the style wasn't here. It might be the problem. You can paste your code into https://snack.expo.io to be able to take a look and see where the problem comes from

<img width="487" alt="capture d ecran 2019-01-06 a 10 51 45" src="https://user-ima

[2019-01-06 13:50] Ragularuban commented on #12
Basically, I wanted to have `height` as the `behavoir` . This is for a purpose of UI change that happens when the keyboard is active.

I have made this change in the current pull request that I submitted.

[2019-01-06 13:50] #12 closed

[2019-01-06 13:59] Ragularuban commented on #11
I guess you could use

[code]

I have not tested this though.

[2019-01-06 21:01] jeremybarbet commented on #11
Yes this is what I wanted to do, but I couldn't make it work. I'll try to find a way to remove this `isAbsolute` props, very not ideal

[2019-01-07 14:45] #5 closed

[2019-01-07 14:45] jeremybarbet commented on #5
It will be available in the next release ✌🏻

[2019-01-07 15:49] jeremybarbet commented on #11
@Ragularuban Alright, I don't know what I tried last time, but the `element.props.style` works fine, the `isAbsolute` props will be remove in the next release 👍

[2019-01-08 07:01] sagardesai16 commented on #17
Hey Jeremy,

Can you confirm the version? I have been using "react-native-modalize": "^1.0.0-alpha.21"

[2019-01-08 11:12] jeremybarbet commented on #17
Yes, it was under the `1.0.0-alpha.21`.

As i said you can put your code under https://snack.expo.io so I can take a look

[2019-01-14 06:48] samuelsonnysalim opened #20 "Modal Height While in Full Screen and Keyboard Shown"
Hi,

Recently I used your latest version of your modal component (`1.0.0-alpha.21`). I tried to set `adjustToContentHeight` to `true`. Children height was hardcoded with `minHeight` : `1000` (will have more content later). Then, it was great until the keyboard shown in full screen modal.

**Before the keyboard was shown (it was great)**
![Before the keyboard was shown](https://drive.google.com/uc?

[2019-01-14 14:42] jeremybarbet commented on #20
Hey,

Thanks for giving a try to Modalize.

Yeah, I'm aware of this issue, I'm reworking how the keyboard is handled and it will fix this. You just need to wait a bit, the branch is already there, I'm working on it. 👌🏻

[2019-01-14 15:38] samuelsonnysalim commented on #20
Great,

Your job is so nice, I will wait until the next version. Cheers 🍻

[2019-01-14 16:57] jeremybarbet commented on #11
You can now pass a scrollview/flatlist/sectionlist https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=sectionlistprops

[2019-01-14 16:57] #11 closed

[2019-01-14 17:36] jeremybarbet commented on #20
Thanks for the feedback I really appreciated!

[2019-01-18 15:07] Angelk90 opened #21 "Some information"
Hi @jeremybarbet , Where can I find the source code shown in the expo example at the following link: https://expo.io/@jeremdsgn/react-native-modalize

[2019-01-18 15:31] jeremybarbet commented on #21
Hey!

This is the first example I made using Expo. Now I move it to another directory, it's now here: https://github.com/jeremybarbet/react-native-modalize/tree/master/examples/expo

`react-native-modalize/shared` is located here: https://github.com/jeremybarbet/react-native-modalize/tree/master/examples-shared

[2019-01-18 15:52] Angelk90 opened #22 "The possibility of adding new features"
Hi @jeremybarbet ,
It would be possible to add the following features:

1) The possibility to change the background color for example
if I do that, it works
`style = {{backgroundColor: '#ccc'}}
`
but not so:
`style = {{backgroundColor: 'rgba (0,0,0, 1)'}}
`
2) It would be interesting to have a gradient background I was trying and thinking about `rn-gradients `that totally in js.

[2019-01-18 15:57] Angelk90 commented on #21
@jeremybarbet : I'm not able to understand.
I tried that code on expo but it does not work and it does not seem to me the same as the examples.
For example, to let you know where I can find the code to see this: https: //user-images.githubusercontent.com/937328/48358629-0dbef700-e693-11e8-8281-f86e280db7ac.gif

[2019-01-18 16:01] jeremybarbet commented on #21
Yes I'm aware of the issue with the examples right now, I have a ticket for that on the project board. They don't work anymore because of some packages coalitions.

If you create your own app with expo you won't get any of the issue you saw.

[2019-01-18 16:04] jeremybarbet commented on #22
Hey,

1. I think you forget the alpha channel: `rgba (0,0,0,0)`.
2. That's a good idea to have gradient as a background. I'll add it on the backlog of the project

[2019-01-18 17:34] Angelk90 commented on #22
@jeremybarbet :
1)I tried both with rgb and rgba, it does not work, it only works with "#color".
If you do not believe me, see here: https://snack.expo.io/SkSxTKk7N

3)The ability to choose whether to set the opacity and transparency of everything else to better understand, look at the image.

[2019-01-18 18:14] Angelk90 commented on #21
@jeremybarbet :
I can kindly ask you if you can publish an example that I can see and try on https://snack.expo.io/.
The examples you see in the images you see in the readme file, I mean.

[2019-01-19 22:02] Angelk90 commented on #22
@jeremybarbet : You could take a look at this example, I used your lib, I wanted to ask you if it's normal to get this result: https://snack.expo.io/ryqbRGbXN

a) As you can see I put `handlePosition = "inside"`, inside I put a `View `with a `Text `inside, but overlap, I could use a `marginTop `inside, but in my opinion it should not happen that it should overlap the `borderRadius`.

b) As you can

[2019-01-19 23:37] jeremybarbet opened #23 "Swipe gesture not working with latest expo"
Using the latest version of `"expo": "32.0.0"` make the swipe gesture not working anymore. If you are not using expo, you are not concerned, if you are, you must do:

[code]

[2019-01-20 00:47] jeremybarbet commented on #22
1) You did a typo on the snack link, it's `rgb` or `rgba`.

3) You can definetly define a transparency to the background of the modal if you want by doing `style={{ opacity: 0.6 }}` (cf: there is an example of custom style on this exemple: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples-shared/src/components/modals/CustomStyle.tsx)
About the gaussian blur, I would need t

[2019-01-20 01:06] jeremybarbet commented on #21
The example you are looking for is here: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples-shared/src/components/modals/SnappingList.tsx

Also, I'm aware there is a swipe gesture issue. It's related to the expo-sdk and the react-native-gesture-handler latest version. More information about it here: https://github.com/jeremybarbet/react-native-modalize/issues/23

If you wan

[2019-01-20 05:40] Angelk90 commented on #22
@jeremybarbet :
Look at this example I think you'll understand better: https://snack.expo.io/ryjXUYZQN

What I wanted to do is give the possibility that in addition to having the modelize only backgroundColor give the possibility to have:
- an image as background
- a color gradient as background
- the blur effect as a background

For example for the gradient, I was thinking of using `rn-gradients

[2019-01-20 10:08] jeremybarbet commented on #17
I'll close this issue. Let me know or reopen if you need more help

[2019-01-20 10:08] #17 closed

[2019-01-20 10:12] jeremybarbet commented on #22
Yes none of this features are supports yet. I want a stable version before adding new feature as such, even though I added it in the [backlog](https://github.com/jeremybarbet/react-native-modalize/projects/1).

One problem I've noticed is that if I set HeaderComponent, and swap to the other where HeaderComponent is located, it will not let me do that?
is it a normal behavior?

I didn't understand

[2019-01-20 11:11] Angelk90 commented on #22
@jeremybarbet :  You have the last example that I posted to expo.io, take it, now you do as if you had to climb up to make sure that modalize take the whole screen, you have to take but from where there is HeaderComponent in its entirety or try to take it from the handle. He can not get up. I do not know if I explained myself well.

[2019-01-20 11:42] jeremybarbet commented on #22
Yes, I'm aware of this, this is related to: https://github.com/jeremybarbet/react-native-modalize/issues/23

[2019-01-27 11:15] Angelk90 commented on #22
@jeremybarbet :
What do you think you can add the following feature.

 ![](https://i.imgur.com/6SBg2tf.gif)

[2019-01-28 10:55] Angelk90 commented on #22
@jeremybarbet :

 I'm talking about that, I think something like that can be good, like boolean.

[2019-03-20 14:51] P21Marcelo opened #24 "custom android Back Press actions?"
hey guys. is there any way i can set custom actions when android back button is pressed? i already tried with onRequestClose props(from react native modal).

[2019-03-20 15:04] jeremybarbet commented on #24
Hey!

Do you want to change the action itself, or you want to add another one? for now it's only calling an internal function to close the modal, but it would be easy to pass a props there that you can use.

https://github.com/jeremybarbet/react-native-modalize/blob/master/src/Modalize.tsx#L395-L399

[2019-03-20 17:41] P21Marcelo commented on #24
thanks for your answer, on my case i want to set a custom action that will overlay the actual behavior.
 to be more specific i want it to handle a navigation action of a stackNavigator inside of Modalize;
a good exemple of props would be : onBackButtonPress={() => NavigationService.goBack()};
thanks in advanced

[2019-03-20 23:09] jeremybarbet commented on #24
Alright, sounds good to me. I'll add a props for that so you can pass any function you want

[2019-03-27 15:02] jeremybarbet commented on #24
The props landed here: https://github.com/jeremybarbet/react-native-modalize/commit/a7491c8d690e17c351564b3eaccab378735ccff3 I'll release a new version soon

[2019-03-28 13:14] lakst opened #25 "BottomTabBar hides the modalize view partially"
I am using the basic modalize view(https://jeremybarbet.github.io/react-native-modalize/#/USAGE) on a click of a button in my view, but the bottom tab bar hides the view partially. I am unable to understand the react-navigation example, as I am new to react native.
The view has about "New Delhi" about 7-8 times but only 4 being shown.
![Screenshot_1553778814](https://user-images.githubusercontent.

[2019-03-29 14:15] P21Marcelo commented on #24
ty. good job.

[2019-03-29 22:13] kresogalic8 opened #26 "Overlay doesn't go full height"
Hello @jeremybarbet, first of all awesome component man!

I am starting to use it on my project, and here's what I am getting now.
![55829106_263859764565535_2832407992568119296_n](https://user-images.githubusercontent.com/7289406/55265331-26156400-5278-11e9-9250-d575ac1ac200.jpg)

What do you think is the problem? Cheers

[2019-03-29 23:36] jeremybarbet commented on #21
I'm closing this issue. Even though I'll simplify the examples in a next release to remove all the shared stuff that are too complex

[2019-03-29 23:36] #21 closed

[2019-03-29 23:42] jeremybarbet commented on #25
Hi hi,

Yes the examples are quite complicated. I tried to make it too generic that it's not even easy to understand. I'll simplify this in a next release.

About your issue, I think modalize should be on top of the bottom navigation. Do you have a code where the modal is declared and where the bottom navigation is set it up?

[2019-03-29 23:44] jeremybarbet commented on #26
Hi hi!

Thanks for using modalize.

Do you have a code to share to see how you declared modalize and where do you have the blue header also on top of the overlay

[2019-03-30 11:41] kresogalic8 commented on #26
Hey, yes, here's the code

[code]

[2019-03-30 12:03] kresogalic8 commented on #26
I believe the main problem is react navigation header, he's visible always in every case. This is the screen in stack.

[2019-04-01 13:23] jeremybarbet commented on #24
`1.0.0-alpha.23` released

[2019-04-01 13:23] #24 closed

[2019-04-01 13:29] jeremybarbet commented on #26
Alright, two things:

- You passed `adjustToContentHeight` which will resize the modal to the height of the content and won't take the full screen height.
- The bottom navigation pass on top of the modal, because the modal should wrap the navigation. You can see here: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-navigation/App.tsx#L41-L49 Modalize is global to t

[2019-04-03 06:49] RWOverdijk opened #27 "Fixed view non-modal"
Great job on the module, turns out to be almost exactly what I need.

Is it somehow possible to make it _not_ be a modal, and always be available? Like Apple Maps does with their search?

This seems to do exactly what I need, minus it being a modal. I need to not have a backdrop. 😄

[2019-04-04 08:51] jeremybarbet commented on #27
Hey!

That's a great idea, I thought about this but didn't have time to work on it.

The backdrop is easy to remove with this style props https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=overlaystyle you can pass `backgroundColor: 'transparent'`

For the feature to have it open by default, it's something that needs to be implemented. If you have time to work on it you can try

[2019-04-04 09:15] RWOverdijk commented on #27
Cool :) I'm looking at this now: https://github.com/kmagiera/react-native-gesture-handler/blob/master/Example/bottomSheet/index.js

[2019-04-04 09:27] jeremybarbet commented on #27
Modalize is inspired by this example. You could def have a boolean to either always show the modal or not

[2019-04-27 15:30] #25 closed

[2019-05-06 04:32] vnlebaoduy opened #28 "Can't scroll ScrollView on Android"
i have a scrollView in modal. But i cannot scoll it on andoid, also it's normal in iOS. Please,help. Thank so much

[2019-05-06 04:40] #28 closed

[2019-05-15 09:32] RWOverdijk commented on #27
@jeremybarbet Having it be visible and not have a backdrop seems simple enough, but I can't figure how how to "dock" it, so it's not dismissed but instead "minimized". height is useful, but it doesn't seem to prevent dismissal.

I should also probably close this isse shouldn't I 😅

[2019-05-16 09:41] jeremybarbet commented on #27
You can keep it open, it's fine. It's a good idea to be implemented. I really don't have time lately, but hopefully, I will find in the future

[2019-05-27 06:09] ChauVV opened #30 "Module `react-native-gesture-handler` does not exist in the Haste module map"
i get this issue:

`error: bundling failed: Error: Unable to resolve module `react-native-gesture-handler` from `/Users/gvl/Desktop/modelize/node_modules/react-native-modalize/lib/Modalize.js`: Module `react-native-gesture-handler` does not exist in the Haste module map`

i use:
 "react": "16.8.3",
 "react-native": "0.59.8"

[2019-05-27 07:35] jeremybarbet commented on #30
Hi, you forgot to install the package. Check this section out https://jeremybarbet.github.io/react-native-modalize/#/INSTALLATION

[2019-05-28 03:52] CR-97 opened #31 "Problem using the react-native-modalize"
I am facing minor problem while using the modalize which is there are blank space at the bottom of the modal. However, the blank space will not showed when using the 'withReactModal'

![Screenshot_1559015282](https://user-images.githubusercontent.com/30256135/58449754-bd931800-813e-11e9-8b88-1808333193a9.png)

Any solution to solve it ?

[2019-05-28 08:48] jeremybarbet commented on #31
Hi,

Thanks for using Modalize.

Can you share the code you used to display the modal component?

[2019-05-28 09:57] CR-97 commented on #31
Control open and close of modal
[code]
Content of Modal
[code]

[2019-05-30 12:26] voroncv opened #32 "How to enable swipe with adjustToContentHeight={true}"
With adjustToContentHeight={true} props i can't swipe modal to top

[2019-05-30 23:32] jeremybarbet commented on #31
Hi!

- First you are using both `adjustToContentHeight` and you fixed an `height` on the scrollview `height: height * 0.6` which creates this blank space.

- Second you are using a fixed header on top of the modal and displaying it inside the modalize, but as soon as you put somehing inside, it get scrollable. From what I understand with your code, you want it fixed.

I should change the code to:

[2019-05-30 23:34] jeremybarbet commented on #32
Hi!

Are you talking about expanding the modal to the full height of the screen even if there is a blank space at the bottom?

[2019-05-31 06:50] ChauVV commented on #30
It's run, thank you!

[2019-05-31 07:54] jeremybarbet commented on #30
Great!

[2019-05-31 07:54] #30 closed

[2019-06-03 07:55] voroncv commented on #32
Yes exactly. Now swipe up blocked

[2019-06-03 10:36] jeremybarbet commented on #32
Yes this feature is not implemented. I'll add it to the Todo list but feel free to open a PR of you can implement this!

[2019-06-04 10:32] voroncv commented on #32
Is it possible to use a ref to open a modal window at full height?

[2019-06-04 10:34] jeremybarbet commented on #32
Yes, if you remove `adjustToContentHeight`, the modal will take full height of the screen.

If you want to have a snapping behavior you can define `height={300}` which mean the modal will open for 300pt on a first step, and then you will have to swipe it a second time to pass it as full screen's height

[2019-06-05 18:52] SmirnovM91 opened #33 "HeaderComponent and FooterComponent rendering"
HeaderComponent and FooterComponent render many times
[code]
[code]
console.count() prints 9-10 times, is it normal?

[2019-06-06 10:30] jeremybarbet commented on #23
Fixed with Expo SDK v33: https://jeremybarbet.github.io/react-native-modalize/#/QANDA

[2019-06-06 10:30] #23 closed

[2019-06-06 10:33] jeremybarbet commented on #26
I rewrote examples to make it easier to understand: https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES and I'll improve them in the future to show this behavior :)

[2019-06-06 10:33] #26 closed

[2019-06-06 10:50] jeremybarbet commented on #33
Hi!

Yes, you are right. It shouldn't happen that much. Must be related with the say the size of the Header or Footer are calculated. If you have time to look at it, do not hesitate :)

[2019-06-06 10:53] SmirnovM91 commented on #33
Ok, will try something to fix it. Thanks

[2019-06-12 15:49] SmirnovM91 opened #35 "Android hardwareBackPress event"
I suggest you to move
addEventListener('hardwareBackPress') to onAnimateOpen
and
removeEventListener('hardwareBackPress') to onAnimateClose

It won't replace original hardwareBackPress(for example react-navigation) if React Component contains Modalize.

[2019-06-12 21:59] #32 closed

[2019-06-14 12:32] jeremybarbet commented on #35
Hi!

Did you experience issues with the actual behaviour?

[2019-06-14 12:33] jeremybarbet commented on #35
Okay, I think I got the issue, the hardwareBackPress from modalize is fired even if the modal isn't opened?

[2019-06-14 12:34] SmirnovM91 commented on #35
You are right. Even if the modal isn't open.

[2019-06-14 12:38] jeremybarbet commented on #35
Alright, I'll look at this!

[2019-06-20 14:30] jeremybarbet commented on #27
Hi!

It's now possible to keep the modal visible and toggle it on full it or minimize.

Documentation: https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=alwaysopen
Example: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/AlwaysOpen.js

👌🏻

[2019-06-20 14:30] #27 closed

[2019-06-21 12:04] jeremybarbet commented on #31
I'll close that for inactivity. Feel free to reopen if you come up with more questions.

[2019-06-21 12:04] #31 closed

[2019-06-21 12:17] jeremybarbet commented on #22
I'll close this issue. All your ideas have been added to the backlog and I will work on it in the future when I have time.

[2019-06-21 12:17] #22 closed

[2019-06-21 12:19] jeremybarbet commented on #35
Fix landed here: https://github.com/jeremybarbet/react-native-modalize/commit/2591a8e5a0bf7baf356746fde5b3bc25066d0dd0

I will release a new version soon.

[2019-06-21 12:19] #35 closed

[2019-06-26 13:06] karanpratapsingh opened #37 "Animation duration props?"
Hey, thanks for developing this, this is really useful, I was wondering is there any way to increase/decrease animation duration? or props like that?

Thanks

[2019-06-27 09:35] jeremybarbet commented on #37
Hi!

At the moment all animations duration are hard-coded but it would be fairly easy to add props for it. Don't hesitate to submit a PR if you have time tweaking that :)

[2019-07-03 07:44] haabnaseem opened #38 "Cannot convert undefined or null to object"
After setting up the package, i get this error while using it with react native navigation. i have followed the example

[2019-07-03 07:54] jeremybarbet commented on #38
Hi!

Can you provide the full error stack and the code you used to set it up?

[2019-07-03 08:00] haabnaseem commented on #38
Hi, i copied SimpleContent.js in examples folder and registered it as a screen in wix navigation library wrapped in gesture handlers HOC.

Parent Component code:

` <TouchableScale
                          onPress={() =>
                            Navigation.showOverlay({
                              component: {
                                name: "SimpleContent",

[2019-07-03 09:01] jeremybarbet commented on #38
The error looks related to https://github.com/mridgway/hoist-non-react-statics and not to react-native-modalize.

If you can create a repository with your code I can take a look at it :)

[2019-07-10 07:06] jeremybarbet commented on #38
I'm closing this issue because of inactivity. Feel free to open it again if needed.

[2019-07-10 07:06] #38 closed

[2019-07-21 16:54] TrinhCDanh opened #41 "[react-native-modalize] swipeable not working on android"
Hi, i'm using your library with react-native-router-flux and i had a problem on android, swipeable does not work. Modal builds without errors, works on IOS but android does not respond to swipes. (Sorry, my english is not good :) )
+  "react-native-modalize": "^1.1.1"
+  "react-native-gesture-handler": "^1.3.0" (react-native link react-native-gesture-handler)
+  "react-native": "^0.59.8"
+ "react-

[2019-07-22 10:30] jeremybarbet commented on #41
The issue might be the use of the `withReactModal` props, I haven't test it for a bit of time. Can you try to take it out and see if it works?

If you still have issue, could you create a simple repo containing the issue, so I could run it and look at it :)

[2019-07-24 04:57] vnlebaoduy opened #42 "How to hide dim background when swipe up ?"
Hi Everone,
How can I remove dim, I want see inside  :(
Thanks so much!
![image](https://user-images.githubusercontent.com/4734934/61766200-385c7480-ae0a-11e9-839e-540951f6e295.png)

[2019-07-24 08:44] jeremybarbet commented on #42
Are you looking for [`overlayStyle`](https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=overlaystyle) this props?

[2019-07-24 08:57] vnlebaoduy commented on #42
i set  `overlayStyle={{ backgroundColor: 'transparent' }}` but it's not working

[2019-07-24 09:01] vnlebaoduy commented on #42
Thks @jeremybarbet  so much. It's working

[2019-07-24 09:01] #42 closed

[2019-07-24 10:36] vnlebaoduy opened #43 "How can i set “height” dynamic ?"
How can I change the height of Modalize when clicking a Button :(.
Tks so much

[2019-07-24 10:45] jeremybarbet commented on #43
You have a `style` props available, working like`overlayStyle` But for the modal. https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=style

[code]

[2019-07-25 07:58] vnlebaoduy commented on #43
Tks @jeremybarbet  <3

[2019-07-25 07:58] #43 closed

[2019-07-25 08:40] jeremybarbet commented on #43
You are welcome!

[2019-07-25 11:53] WrathChaos commented on #37
@karanpratapsingh  and @jeremybarbet check this PR out please: #44

[2019-07-25 14:47] WrathChaos opened #45 "[Question] Components Outside the Modal ?"
<img width="454" alt="Screenshot 2019-07-25 at 17 42 13" src="https://user-images.githubusercontent.com/6813862/61883817-c5cfbf80-af03-11e9-8f33-dec2da40ffc6.png">

This is just an example of what I'm looking for. I wonder that is that possible that can we make our components outside of the modal? Just like the above image's button on the top right side.

[2019-07-25 22:59] jeremybarbet commented on #45
Yes it's doable, you can do as follow:

[code]

<img width="409" alt="Capture d’écran 2019-07-25 à 22 58 15" src="https://user-images.githubusercontent.com/937328/61914324-b36b7b00-af2f-11e9-9257-0d87e5abb331.png">

[2019-07-26 14:46] #45 closed

[2019-07-26 14:46] WrathChaos commented on #45
Thank you so much @jeremybarbet

[2019-07-27 08:18] ardyfeb opened #46 "adjustToContentHeight props cause modal flickering on first open"
the docs show set `adjustToContentHeight` to make fixed content. but the problem if i set `adjustToContentHeight` props when modal first open get **flickering**

proof: https://streamable.com/saxyz

[2019-07-27 08:24] ardyfeb commented on #46
my main problem is, i want to disable fullscren snapping. so i define the `adjustToContentHeight` props. if i set `height` props user can drag modal to full screen

[2019-07-27 10:30] jeremybarbet commented on #46
Hi!

Yes, that's correct you can see flickering on your record. Is it only happening the first time you open the modal? how are you importing the modal? with navigation router? how are you running your app? emulator? dev? prod? device? developer tool?

If you want the best result in real condition, run your app on a device in `release` configuration.

And yes, the height props enables two steps sn

[2019-07-27 11:28] ardyfeb commented on #46
Modal rendering on `Portal` component https://callstack.github.io/react-native-paper/portal.html

Running development on real device (Expo)

[2019-07-27 12:24] jeremybarbet commented on #46
- do you have issue if you run expo app example "fixed content": exps://exp.host/@jeremdsgn/react-native-modalize
- can you delete the portal component around and use `withReactModal` to see if it fix the flickering

[2019-07-28 14:48] bogoslavskiy commented on #46
@jeremybarbet  Same problem. Reproduced without expo, in release configuration. This is especially noticeable on the iPhone 5s (real device)

[2019-07-29 08:40] jeremybarbet commented on #46
@bogoslavskiy Does it still happen on the first opening animation and then it works well?

[2019-07-29 14:27] bogoslavskiy commented on #46
@jeremybarbet  Every time a modal opens

[2019-07-29 14:30] JonnyBurger commented on #41
Hey, just hit this issue as awell.
It indeed has to do with the modal, I made a repro: https://snack.expo.io/@jonnyburger/sponaneous-edamame

Of course once could put the modal at the top of the React tree to circumvent this problem, but it would be nice if we could colocate the code in the same component from where you are calling the modal.

[2019-07-30 03:51] TrinhCDanh commented on #41
Thanks everyone, I will try again. If I still have that issue, I will notify everyone later :)

[2019-07-30 11:21] karanpratapsingh commented on #37
@WrathChaos Awesome work

[2019-07-30 11:27] karanpratapsingh opened #47 "Lazy load content only when modal is open?"
### Issue:
I've been using this package in many production apps and it works flawlessly, tho there is one issue I've found so far which is lazy loading of the modalize component (not sure if it's an issue)

### Explanation:
I use modalize to show transaction invoices in my app, which is an async action as I need to fetch the data first, the issue is that the data fetching (done inside the modalize

[2019-07-30 14:37] jeremybarbet commented on #47
Hi! I'm glad you have been using this package on production without any problem!

That's a good point. All the apps I worked on, I was using with `react-native-navigation`, so `Modalize` was wrapped around a `Navigation Overlay` (https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-native-navigation/src/screens/App.js#L13-L18) so the data was only fetched when the modal

[2019-07-30 14:44] jeremybarbet commented on #41
@JonnyBurger That's indeed really broken.

I never use `Modalize` with `withReactModal` since it should disappear from the react-native core, and I'm working with `react-native-navigation` all the time that have `showOverlay` function that makes it super easy to display anything wherever you are in your app.

- With that being said, we need a new one to do it to be. I haven't check new `react-navi

[2019-07-30 14:46] jeremybarbet commented on #46
Thanks for reporting. With `adjustToContentHeight` I think the calculation is done at the same time the modal is opening, which causes the flickering.

[2019-07-30 22:16] jeremybarbet commented on #37
Animations config props here https://github.com/jeremybarbet/react-native-modalize/commit/334026d520d3afcdff2e37aae400409640b1db33#diff-d8cdec918ad6e3d7ddbe62aa37752971R78

[2019-07-30 22:16] #37 closed

[2019-07-31 04:12] saurabhdsachan commented on #41
Hi,
I am also facing a similar issue, with updated react, react-native and gesture lib.

[code]

![Screenshot_1564546321](https://user-images.githubusercontent.com/4476416/62183366-7f50e980-b377-11e9-8a55-c75bd407fc36.png)

[2019-07-31 06:45] karanpratapsingh commented on #47
Thanks, will look into navigation overlay

[2019-07-31 07:50] ardyfeb commented on #46
i have tried remove render modal outside portal, i get same issue. and i have no issue with modalize demo app on expo

[2019-07-31 09:02] jeremybarbet commented on #41
@saurabhdsachan Are you using either `<Modal>` (from react-native) or `withReactModal={true}`?

[2019-07-31 09:07] jeremybarbet commented on #46
I will look into it when I'll have a bit of time

[2019-07-31 09:31] saurabhdsachan commented on #41
Hi @jeremybarbet ,
No, I am not using `<Modal>` or `withReactModal={true}`
here is the sample file.

[code]

[2019-07-31 10:20] jeremybarbet commented on #41
Could you create a git repository with the error? your code looks good, so I would need to try it to check

[2019-07-31 12:07] ardyfeb opened #49 "A way to subscribe height of current modal"
I have read the docs, there no props or method to subscribe current modal height.

Like a https://github.com/osdnk/react-native-reanimated-bottom-sheet/ they have a props called `callbackNode` to indicate current modal position.

This is very useful. Example, developer can manipulate and animate the content inside modal, like change the position of handle, hide another component, and others.

So,

[2019-07-31 13:34] JonnyBurger commented on #41
Regarding the error if you use Modal, there might be nothing we can do about it since it is a bug in <Modal/> component in React native or react-native-gesture-handler.

Possible related upstream issues:

https://github.com/kmagiera/react-native-gesture-handler/issues/139
https://github.com/kmagiera/react-native-gesture-handler/issues/332

[2019-08-01 08:19] saurabhdsachan commented on #41
Hi @jeremybarbet
It worked found an issue with gesture handler while creating a new git repository.
Thanks

[2019-08-01 08:31] Frindecent commented on #41
@saurabhdsachan could you help me with it too? same thing on android. i have tried with putting only the modalizer in render method so that it is a clean page. still not able to use the swipe able gestures with it

[2019-08-01 08:42] Frindecent commented on #41
thats the whole of my component. still not able to do it on actual device using s8

`import * as React from 'react';
import { Text, View, StyleSheet } from 'react-native';
import Modalize from 'react-native-modalize';

// You can import from local files

// or any pure javascript modules available in npm

export default class App extends React.Component {
  modalRef = React.createRef();
  componen

[2019-08-01 11:08] jeremybarbet commented on #41
Thanks @JonnyBurger for the dive in. I think in the early version of the package, `withReactModal` was only allowed for iOS and not Android because I run in these issues. Not sure why I removed this condition later 😅 I'll add a note on the documentation about that.

@Frindecent You might have forgotten to install `react-native-gesture-handler`: https://jeremybarbet.github.io/react-native-modalize/

[2019-08-01 11:10] jeremybarbet commented on #49
Hi!

Have you tried using this:

[code]

[2019-08-01 11:33] Frindecent commented on #41
@jeremybarbet  its allready there since i am using react-navigation .
no idea whatsup.. should be some issue with gesture-handler. still looking into it. i will shortly provide a repo with the issue

[2019-08-02 09:09] SmirnovM91 opened #50 "Cannot read property 'isValidElement' of undefined"
react-native 0.60.4

Cannot read property 'isValidElement' of undefined

Error after updating to react-native-modilize 1.2.0, any help?
![image](https://user-images.githubusercontent.com/32675072/62358937-9b9b8480-b537-11e9-9b57-844e750b67ef.png)

[2019-08-02 09:15] jeremybarbet commented on #50
How does your Component look like? either the Header or footer you passed as a prop?

[2019-08-02 09:18] SmirnovM91 commented on #50
![image](https://user-images.githubusercontent.com/32675072/62359525-cafec100-b538-11e9-8094-8207fdf8f35d.png)

like this

[2019-08-02 09:28] SmirnovM91 commented on #50
![image](https://user-images.githubusercontent.com/32675072/62360245-2c735f80-b53a-11e9-9cad-eee356420f1d.png)

[2019-08-02 09:35] SmirnovM91 commented on #50
You did a mistake in "import React from 'react"; in utils.js
It should be import * as React from 'react'

[2019-08-02 09:40] jeremybarbet commented on #50
`1.2.1` published, let me know if it's good

[2019-08-02 09:44] SmirnovM91 commented on #50
It works, thanks!

[2019-08-02 09:44] #50 closed

[2019-08-02 09:45] jeremybarbet commented on #50
Sweet, thanks for reporting this issue :)

[2019-08-03 08:10] vnlebaoduy commented on #17
This is right. I have a flatlist but i cant press TouchableOpacity in item, i must press 4th or 5th TouchableOpacity working

[2019-08-05 04:34] suupham2506 opened #51 "How to open multiple modal"

[2019-08-06 12:41] jeremybarbet commented on #51
It depends, what router you are using.

- If you are using `react-native-navigation` you simply call multiple `showOverlay` with a different modal screen. (each screen are a modal https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-native-navigation/src/screens/index.js)

- If you are using something else, you just open the others modal like the first one.

[code]

[2019-08-09 03:02] vnlebaoduy opened #52 "[Android] TouchableOpacity (or any component have TouchableOpacity) not working inside the view"
Hi @jeremybarbet ,
i have a big problemon Android. i click TouchableOpacity but it's not working. it's working when i click so many. This problem have only on device, not on simulator
![Error](https://media.giphy.com/media/kyQmkm96Eai96OGsBk/giphy.gif)

[2019-08-09 13:09] jeremybarbet commented on #52
Don't you have a view with a big z-index on top of the buttons that make the clickable area very tight?

Try removing everything in the modal but the buttons and see if the issue persists.

Provide an expo app with the code if the issue is still existing so i can look at it

[2019-08-09 13:12] vnlebaoduy commented on #52
Yes. i try z-index: 999 (highest  on my screen) but not change. i will up code on expo . tks 👍

[2019-08-14 10:53] SmirnovM91 opened #53 "Dynamic change param "adjustToContentHeight" is not working"
If I set adjustToContentHeight = true once,
then If I try to set adjustToContentHeight = false
It still adjustToContentHeight = true

is it ok? or bug?

[2019-08-14 16:53] jeremybarbet commented on #53
Hi!

This is not an issue. The `adjustToContentHeight` is initialized when the component is mounted for the first time. Which mean even when you change the props, the calculation is not run again.

We would need to introduce a listener on the component to run the functions needed, feel free to open a PR to add this

[2019-08-14 20:07] Grohden opened #54 "[TS] flat/section props could have infered item types"
Currently, flat/section item types are declared with `any`, this is error prone. Consider this:

[code]
In the above example, `item` is identified by ts as `any`, so accessing non existing props is fine for the compiler.

You could make this type safe by changing two declarations:
[code]

With the above example definition, the compiler would complain about my attempt to access non existing props o

[2019-08-14 20:21] pranavpandey1998official opened #55 "Getting Two different margins"
<img width="419" alt="Screenshot 2019-08-15 at 1 45 36 AM" src="https://user-images.githubusercontent.com/44601530/63053339-2c426f00-beff-11e9-8f06-64ff0873b9d9.png">
<img width="425" alt="Screenshot 2019-08-15 at 1 50 41 AM" src="https://user-images.githubusercontent.com/44601530/63053342-2c426f00-beff-11e9-960e-61474f4df317.png">

I am dynamically updating the contents and it is not updating to

[2019-08-14 20:51] jeremybarbet commented on #55
- How do you update the content?
- The modal has different height between your two screenshots, so it looks like the height is changing somehow. Don't you have a hidden element or another style?
- If you could add your code on https://snack.expo.io I could look at it, it's hard to tell like this

[2019-08-14 21:07] jeremybarbet commented on #54
This is a nice catch, I didn't come back on this to fix it. Could you provide a PR with these changes?

[2019-08-14 21:22] Grohden commented on #54
@jeremybarbet ok, gona try to open one this weekend

[2019-08-15 04:54] pranavpandey1998official commented on #55
https://github.com/pranavpandey1998official/Rocket.Chat.ReactNative/blob/02674d6c7a585f600d8cd6dd0fab4c3d8fa93795/app/views/ActionSheet.js#L1

[2019-08-16 08:48] jeremybarbet commented on #55
This issue is related to this one https://github.com/jeremybarbet/react-native-modalize/issues/53. The `adjustToContentHeight` props are fully initialized when the modal is mounted for the first time, but when you change children, the functions are not totally run again.

I don't have time now to look at it now, but it's a good improvement feature to make.

However, you might be able to make it wo

[2019-08-18 07:52] haabnaseem commented on #38
Hi, My react native version is 0.59, could that be the issue ? i have gesture handler working on other components so i dont think that error is from gesture handler.

[2019-08-19 03:22] vnlebaoduy commented on #52
@jeremybarbet. This is demo. Help me :(
https://snack.expo.io/@vnlebaoduy/test-modalize

[2019-08-19 09:06] vnlebaoduy commented on #52
I found a problem. If Modalize is fullscreen, TouchableOpacity is working, but modalize is not fullscreen, TouchableOpacity is not stable

[2019-08-19 17:28] jeremybarbet commented on #38
Hi, no I have projects running with react-native 0.59 and it works all fine. And as I said, I think it's most likely related to hoist-non-react-statics.

You can create an https://snack.expo.io or provide a git repository with the issue, so I can look at it :)

[2019-08-19 17:34] jeremybarbet commented on #52
Thanks for the snack. As you said it works when the modalize is full screen, but not when it's minimized.

I'll look at it, when I have free time :)

[2019-08-19 17:37] vnlebaoduy commented on #52
Thanks @jeremybarbet . I look forward to hearing from you soon :)

[2019-08-19 17:37] jeremybarbet commented on #51
I close that, feel free to comment if you have further questions.

[2019-08-19 17:37] #51 closed

[2019-08-19 17:38] #47 closed

[2019-08-19 17:38] jeremybarbet commented on #47
I close that, feel free to comment if you have further questions.

[2019-08-19 17:41] #54 closed

[2019-08-19 20:43] jeremybarbet commented on #52
I tried your code under the examples folder, using `react-native-segmented-control-tab` with the Android simulator and it seems to work: http://b.ueno.is/17c21a108184

Even though, on the expo.snack where the issue persists, I've been able to make it work by TouchableOpacity: `import { TouchableOpacity } from 'react-native-gesture-handler';` then the onClick events are well fired.

`react-native-s

[2019-08-20 03:23] vnlebaoduy commented on #52
Thanks @jeremybarbet . It's working.

[2019-08-20 04:41] jeremybarbet commented on #46
@ardyfeb Hi, can you tell me if with the latest version of the library you still have the flickering issue?

[2019-08-20 08:43] vnlebaoduy commented on #52
Hi @jeremybarbet !
We have a problem again, but it's on ios 😂
If i use `import { TouchableOpacity } from 'react-native';` , android not working !
and i use `import { TouchableOpacity } from 'react-native-gesture-handler';`, ios not working !

[2019-08-20 08:48] vnlebaoduy commented on #52
My temple solution
[code]

[2019-08-20 16:51] jeremybarbet commented on #52
Are all your packages up-to-date? Def not the best solution, I had it to the backlog to remember.

[2019-08-21 03:05] vnlebaoduy commented on #52
Yes, i using version "react-native-modalize": "^1.2.1".

[2019-08-21 03:20] vnlebaoduy commented on #52
Yes. They are lastest. Can you check expo again ???  . Thanks @jeremybarbet  !

[2019-08-21 15:05] jeremybarbet commented on #52
I don't have time right now, you can try to dig in to find the issue if you have time it would be awesome :)

[2019-08-22 11:08] YukiYuki0508 opened #57 ""Failed to build the preview" when we test on Circle CI"
The test of my local with yarn and JEST is success but of Circle CI is failed.
Does anyone know the solution of the error below?

[code]

[2019-08-25 11:52] karanpratapsingh opened #58 "Keyboard automatically closes when a textinput is focused inside the modal"
### Issue:
Keyboard automatically closes after typing a single character on iOS (haven't tested android) when a text input inside the modal is focused

### Modal:
[code]

ListHeader component:
[code]

### EXPO SNACK: https://snack.expo.io/HkZULlxSB

[2019-08-25 11:52] karanpratapsingh commented on #58
@jeremybarbet It would be great if you could help me, Thanks

[2019-08-29 14:32] itsyogesh opened #59 "Keyboard avoiding view not working when input component is inside Footer."
Hey @jeremybarbet

Thanks for the awesome library. So I am trying to get a text input work inside a footer and the keyboardAvoidingView doesn't seem to work when the input is inside the footer. Here is a video of this.

![Kapture 2019-08-29 at 19 55 37](https://user-images.githubusercontent.com/1210943/63949015-5a938300-ca97-11e9-8bd2-b2042d517ac7.gif)

Here is the code for the Modalize component.

[2019-09-06 07:35] jxzy999 opened #60 "how to fullscreen with react-navigation"
When I used with react-navigation, the backdrop start under navigation Bar. But I need the fullscreen Mask，how to set it?

[2019-09-06 07:46] jxzy999 commented on #60
![IMG_0001](https://user-images.githubusercontent.com/13463934/64410358-71e8f680-d0bd-11e9-8e73-6dca037ce800.PNG)
how to get a fullscreen Mask?

[2019-09-06 08:29] jxzy999 commented on #60
I use the unrecommended prop withReactModal ,and get a fullscreen Mask.  however withReactModal will not support in the future?

[2019-09-06 08:29] #60 closed

[2019-09-09 11:19] Thanhcao86 commented on #59
I had a similar problem, but it was normal to run the application on a real phone

[2019-09-09 12:46] daniakbar opened #61 "Problem with bottom and header navbar with expo"
![Screenshot_20190909_194159](https://user-images.githubusercontent.com/8470509/64531672-3ad34900-d33a-11e9-84da-48dc7cfed198.jpg)
i want to show the modal on top navbar, i have to try with zIndex at <Modalize> but not working,...please help how to fix it, thnks🙂

update : done! with top bar, with change the modal render position , but bottom navbar stil on top

[2019-09-09 12:59] daniakbar commented on #25
i have the same problem with expo

[2019-09-18 17:24] douglaszaltron opened #63 "Use react-native-modal"
use react-native-modal instead original react-native Modal component by adding animations and styles customization options while still providing a plain-simple API.

https://github.com/react-native-community/react-native-modal

[2019-09-19 17:26] SmirnovM91 opened #64 "Android Header with input bug with keyboard avoid view"
![bug](https://user-images.githubusercontent.com/32675072/65266342-ad130d00-db34-11e9-9d20-dcd3ebc3014c.gif)

`
<Modalize ref={ref => this.modal = ref}
                flatListProps={{
                    data: this.data,
                    renderItem: this._renderItem,
                    keyExtractor: this.props.keyExtractor || this._keyExtractor,
                    keyboardShouldPersistTaps:

[2019-09-19 19:51] SmirnovM91 commented on #64
I found solution, need to set
<activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan">
from adjustResize to adjustPan

[2019-09-20 03:35] CR-97 commented on #59
Same issue here

[2019-09-20 16:11] SmirnovM91 opened #65 "Feature req."
is possible to replace KeyboardAvoidingView with
[react-native-keyboard-aware-scroll-view](https://github.com/APSL/react-native-keyboard-aware-scroll-view)
it has a lot of features

[2019-09-22 13:24] doruxan opened #66 "Is there a way to know if modal reached to top?"
I'm trying to use the modal in an allways open state. But I need to understand if the modal is opened or not to show a header. But since the modal is allways open, I cant do anything about it. I think maybe there is a way to know if it reached its top position. Is there?

[2019-09-25 11:35] Trashpants commented on #61
Bump to this im also having the same error using react-navigation.

Ive spent a while looking at the react-navigation example however I absolutely cannot understand how react navigation is applied at app in the project?

The only way around this I can think of right now is to apply the modalize window at root level with AppContainer and then attempt to inject and alter it however this seems ridicu

[2019-09-26 06:44] jxzy999 commented on #41
I have the same issue. swipe modal or tap the overlay does not work.

[2019-09-26 13:49] fadbad opened #67 "rctrootview canceltouches is deprecated"
Modalize.open() with flatlistprops is showing a deprecation on DEBUG and the app is quiting on RELEASE, here's the dependencies.

`"dependencies": {
    "@react-native-community/async-storage": "^1.6.2",
    "@react-native-community/geolocation": "^2.0.2",
    "@react-native-community/netinfo": "^4.2.2",
    "@react-native-community/push-notification-ios": "^1.0.2",
    "axios": "^0.19.0",
    "lo

[2019-09-27 14:35] fadbad commented on #67
never mind, it was bug of react-native-gesture-handler with react-native 0.61.0

[2019-09-28 17:46] Hirbod commented on #67
Did you down- or upgrade to fix it?

[2019-09-29 02:02] Hirbod opened #68 "withReactModal and Android"
Hi,

i just found out that "withReactModal" will break swipe to dismiss on android. What can I do to achieve a full screen modal which works as intended on iOS and Android? Without the use of "withReactModal" my modal gets rendered inside my childrens component and has wrong positioning and wrong height @jeremybarbet.

Using "withReactModal" is exactly what I need, a fullscreen modal which perfect

[2019-09-29 02:35] Hirbod commented on #61
adding prop `withReactModal` is what you need, but it breaks the swipe gestures on android unfortunately, but works great on iOS

[2019-09-29 02:44] Hirbod commented on #52
I have the same issue. I can't close my modal (I used the absolute header example) on Android, while it works great on iOS. If I use Touchable* from `react-native-gesture-handler` it doesn't render anything for me. Neither on iOS nor android. Is there any solution guys? I tried RNGH 1.3.0 and 1.4.0

[2019-09-29 11:50] RWOverdijk opened #69 "panHandler or interpolate"
I'm trying to make a similar effect to spotify's "now playing" bar in the bottom. When I slide it up I want to alter the content.

Is there a way to set up an interpolator or panHandler so I can achieve this?

[2019-10-01 10:35] jeremybarbet commented on #60
Hi!

`withReactModal` has a warning because the `Modal` component was supposed to be removed from the React Native core and be reworked. But it's not the case, and I'm not sure what are the plans now.

Anyway, you can use this prop safely for now. Another solution would be to wrap your app at the root with a provider, that would take care of toggling the `Modalize`.

[2019-10-01 10:38] jeremybarbet commented on #58
Hi!

Have you been able to figure it out? It's a known issue but I don't have time to work on it unfortunately.

[2019-10-01 10:41] jeremybarbet commented on #57
Hi!

Did you fix your issue? Looks like `<Component />` is the problem. My guess would be that you need to change your webpack config to parse jsx.

[2019-10-01 10:43] jeremybarbet commented on #59
Hi!

Yeah the input is a known issue. Unfortunately, I don't have time to work on it. If you already figured it out, feel free to open a PR, I will review it.

Related to #58.

[2019-10-01 10:47] karanpratapsingh commented on #58
Yes, to prevent this issue you need to render the list header using good ol' if-else logic 🤣

[2019-10-01 10:49] jeremybarbet commented on #61
Hi!

Yes, you can use `withReactModal` but as @Hirbod it breaks the gestures on android, which is a known issue from react-native and react-native-gesture-handler.

Another solution, is to create a Modal provider with `Modalize` on it and add it to the root of your app. Then on the screen you need have the modal you call your context to toggle it.

[2019-10-01 10:52] jeremybarbet commented on #63
Hi!

Both libraries are proposing their own way to handle a Modal with `react-native`, and they canno't be used together.

Also `react-native-modal` is using under the hood, `Modal` from react-native as well.

[2019-10-01 10:52] #63 closed

[2019-10-01 10:53] jeremybarbet commented on #64
Hi!

Good, you found a solution. There is still an issue with the layout sizes when the keyboard is showing. It's a known issue, but I don't have time to work on it.

Related to #59 #58

[2019-10-01 10:55] jeremybarbet commented on #65
Hi!

Yeah! it could probably fix a lot of the issues related with the keyboard. Unfortunately, I don't have time to work on it. Feel free to open a PR and I'll be happy to review it!

[2019-10-01 10:57] jeremybarbet commented on #66
Hi!

That's totally correct, there is no way now to know if the modal is open or not. I don't have time to work on it but feel free to open a PR and I'll be happy to review it!

Here are the part of the code you would need to change to add a boolean:
https://github.com/jeremybarbet/react-native-modalize/blob/master/src/Modalize.tsx#L231-L235
https://github.com/jeremybarbet/react-native-modalize/bl

[2019-10-01 10:59] jeremybarbet commented on #67
Hi!

This is a known issue from react-native-gesture-handler: here are the related issue/PR: https://github.com/kmagiera/react-native-gesture-handler/pull/657 https://github.com/kmagiera/react-native-gesture-handler/issues/746

[2019-10-01 11:04] jeremybarbet commented on #68
Hi!

As I commented on another issue, your best solution would be to create a Modal provider at the root of your app and control the modal toggling with the context. You would need to have a bit of logic inside the provider, if you have, for example, different modals, contents across your app.

I also want to create a `ModalizeProvider` that would help to achieve this, but I don't have time for no

[2019-10-01 11:10] jeremybarbet commented on #69
Hi!

That's a very good idea. For now, it's not possible. I don't have time to work on it but feel free to open a PR, and I would happily review it!

This is around here where you would need to pass optional props to pass your custom panhandler function in addition with `onHandleChildren `

[2019-10-01 11:12] jeremybarbet commented on #58
Definitely not ideal. I'll do my best to work on this when I have downtime!

[2019-10-01 11:13] fadbad commented on #67
Thank you, I actually downgraded to 0.60.5

[2019-10-01 11:20] RWOverdijk commented on #69
I understand, time is limited across the board nowadays 😄 I might give it a go tonight.

[2019-10-01 13:24] Hirbod commented on #68
So you don’t have a solution / example currently? I was fine to break gesture on Android so far, but since TouchableOpacity also breaks on Android, I don’t even have a workaround for closing it on Android (using an absolute header). I’m not a real react native pro, could need a little help on this.

[2019-10-11 13:31] charpeni commented on #46
Hey, y'all!

First, thanks to @jeremybarbet for open-sourcing this amazing package. At first, we were looking at a native component to do that, but then that one looks pretty good!

So, we noticed a flickering issue within the latest version when using `adjustToContentHeight` and this is a blocker for us.

I'll try to take a look at this!

[2019-10-12 17:23] jeremybarbet commented on #46
Hi @charpeni Thanks for the great feedback, I'm glad you like it and for opening the PR!

[2019-10-12 17:23] #46 closed

[2019-10-12 17:59] jeremybarbet commented on #69
Good thing that design changed ahah :D I'll keep this issue open, it would be a nice addition

[2019-10-16 07:09] wesleynfreitas commented on #67
I try put

1 - import 'react-native-gesture-handler' at the top of index.js
2 - YellowBox.ignoreWarnings([
    'RCTRootView cancelTouches'
]);

And don't works. Any news about the solution?

[2019-10-16 08:42] jeremybarbet commented on #67
You probably need to import `import 'react-native-gesture-handler'` also in your screens.js file, that's what I had to do too

[2019-10-30 07:52] rafaelmotta commented on #68
I was also using  `withReactModal` before, but after struggling a bit, I could manage to make it work in Android Devices as well.

Here is a demo, using react-navigation:

[Uploading video.mov.zip…](Demo)

I just did what @jeremybarbet said: Wrap your component using modalize within a Portal / Provider.
As RN does not offer Portals out of the box, I have used `react-native-portal`.

In my Root com

[2019-10-30 07:54] Hirbod commented on #68
@rafaelmotta could you please explain a bit more for us noobs out there how you open the modal now etc? And how you got the content there? Just a simple example please.

Thanks

[2019-10-30 07:57] rafaelmotta commented on #68
@Hirbod Yes, II will try to create an example and submit a MR to examples

[2019-10-30 08:08] Hirbod commented on #68
Thanks, I am still stuck on this issue and would love to fix it

[2019-10-30 08:38] jeremybarbet commented on #68
@rafaelmotta This is sweet! You could even open a PR to introduce a `ModalizeProvider` that would be shipped by default in the library

[2019-10-31 09:40] tobias-khs commented on #28
If anyone else fights with this issue: I could solve this by adding the `ScrollView` attribute `nestedScrollEnabled={true}`

[2019-11-01 13:20] Hirbod commented on #68
@rafaelmotta friendly ping

[2019-11-04 17:58] Esirei opened #86 "Overlay Pressed callback?"
Hello,

Does this have something like the React-Native's Modal onBackdropPress prop?
Or maybe a work around for that.
My Modalize content doesn't fill the screen, and I would like the modal to close when the overlay is pressed.

[2019-11-04 18:34] jeremybarbet commented on #86
Hi, you have onClose and onClosed available for your usage https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=onclose

[2019-11-04 18:39] Esirei commented on #86
Yea, but these are callbacks for when the Modal is closing and closed. I want to be able to tap outside the modal's content area thereby closing the modal.

[2019-11-04 18:43] jeremybarbet commented on #86
The modal is already closing when pressing the overlay it's the default behavior. As soon as you press it, it triggers the onClose callback. I might be miss understanding something if its not what you are looking for

[2019-11-04 19:15] Esirei commented on #86
Oh my bad, seems to be working on the example expo app. I guess there's something wrong on my end then.

[2019-11-05 00:00] Esirei commented on #86
Figured out the issues!
1: The TapGestureHandler 'modalOverlayTap' currently waits for the PanGestureHandler's 'modalOverlay' State to be active before itself becomes active to trigger closing of the modal. Hence tapping will not close the modal unless a slight swipe is done (this causes issue 2 below). The fix is removing the waitFor prop on the TapGestureHandler.

2: From the previous issue, sin

[2019-11-05 00:27] Esirei commented on #86
Oh yea, when the modal adjust to the content's height, is the swipe to close threshold 30% or 70% of the content height?

[2019-11-05 10:36] jeremybarbet commented on #86
When the `adjustToContentHeight` is true, the threshold is equal to 1/3 of the `contentHeight` which is the height of the children you passed.

For the other comment, I see what you mean, but I never experienced that, even with slight pressure on the overlay, it closes the overlay.

You can open a PR with your changes and I'll be able to try it out!

[2019-11-06 21:43] Hirbod commented on #68
@rafaelmotta sorry for being so stressful, but is there any chance you could show us your example? If you don't have time for a PR, could you at least paste some snippets here?

I really need to get this thing work and due to lack of knowledge, I am really stuck on this last issue.

[2019-11-06 22:00] rafaelmotta commented on #68
I will do it by the end of the week. So sorry, crazy week.

[2019-11-10 12:53] Hirbod commented on #68
@rafaelmotta I don't need your help anymore, I managed to get it to work myself.

It was pretty easy, since I was already using "react-native-paper" inside my App, which has a DEAD simple and easy Portal.

https://callstack.github.io/react-native-paper/portal-host.html
https://callstack.github.io/react-native-paper/portal.html#Host

Inside my App.js, I wrapped a ```<Portal.Host>``` around my ```<A

[2019-11-10 14:49] Hirbod commented on #41
I can absolutely confirm this. After SPENDING hours, to get the swipe to dismiss work on android (using a portal), just found out, that my component just don't WORK as soon as I wrap <Modalize> around it. It's just PERFECT on iOS (works fully as intended, an animated horizontal ScrollView), but on Android, I can't click the absolute header nor can I swipe. (Even with the portal,  no use of withRea

[2019-11-13 10:46] amsimoes commented on #25
Having the same issue, how to draw the modal over the tabBar? (react-navigation)

[2019-11-15 14:52] DianaKoenraadt opened #90 "keyboardAvoidingBehavior only works the first time"
As stated, the first time the modal is opened, the keyboard is avoided. The second time, no such luck. The keyboard falls over the input.

Snack: https://snack.expo.io/Byk_oNhjB

Press blue button to open modal. First time, it opens all the way. Second time, it stays stuck at the bottom.

[2019-11-18 15:59] gamingumar commented on #58
Have you tried ```blurOnSubmit={false}``` in your TextInput?

[2019-11-20 10:27] Metallistener opened #91 "Close the modal window to the value specified in AlwaysOpen"
@jeremybarbet Hello! Can you help me please? I have a value that I set in AlwaysOpen prop (75), now after pulling up the modal mode I need to close the modal window to the value specified in AlwaysOpen (75) using the close method, but when I try to use the close () method, it closes completely, I checked all the library methods and found onAnimateOpen (), but this is a private method ((Can you hel

[2019-11-20 22:11] SilvioLuis commented on #91
The same is happening to me. Even with alwaysOpen set, modal does not respect this rule and opens full mode modal on first load ...

[code]

[2019-11-21 01:35] Metallistener commented on #91
Hmm. My first initial loading with always Open works correct. Are you planning to fix this problem? --Отправлено из мобильной Яндекс.Почты21.11.2019, 03:11, "Silvio Luis" <notifications@github.com>:The same is happening to me. Even with alwaysOpen set, modal does not respect this rule and opens full mode modal on first load ...
<Modalize
    ref="modalNotif"
    style={{
        borderTopLeftRadiu

[2019-11-21 08:37] jeremybarbet commented on #91
If understand correctly, you want to have a function `onClose` that will put back the modal to its initial position, like the swipe gesture does when you swipe down?

[2019-11-21 09:09] Metallistener commented on #91
Yes, you're right

[2019-11-21 09:36] jeremybarbet commented on #91
I see, then it's not an issue, I just didn't think about it to implement.

I don't have time working on this library for now, but it's fairly easy to do. You have to check in this function that you are using the `alwaysOpen` props, and if so, close the modal to its initial value and not 0.

You can open a PR and I will look at it!

[2019-11-21 09:44] Metallistener commented on #91
Ok, then I will make PR

[2019-11-25 05:26] MariShielaFurio commented on #41
this helps me to make swipeable working
https://aboutreact.com/swipe-gestures-not-working-in-android/

[2019-11-25 05:57] Hirbod commented on #41
Unfortunately this won’t help us Expo people

[2019-11-25 09:14] ardyfeb commented on #61
@daniakbar you probably need https://www.npmjs.com/package/react-native-portal to render modalize on root component

[2019-11-26 02:13] SilvioLuis opened #92 "Modal opens by itself"
@jeremybarbet First, thanks for this wonderful module. I am facing a very annoying problem.

As shown in the gif below, when modal's SectionList has content, every time I initialize the component / page, it opens by itself ...

![](https://i.imgur.com/KzIy2u2.gif)

Could you give me a tip on how to solve this to try to pull-request?

[code]

[2019-11-26 10:33] jeremybarbet commented on #92
Hi!

Your gif is missing, so I cannot see the behaviour. Even though, from the props, you use you have `alwaysOpen={140}` which mean your modal is always open with an initial height of 140. If you remove this props, you will need a trigger action to open the modal

[2019-11-26 10:40] jeremybarbet commented on #90
Hi!

Yes, you are right, this is a bug related to the keyboard height calculated onClose/onOpen. I, unfortunately, don't have time to work on it, but I would be happy if you can open a PR or look at it.

[2019-11-26 14:43] SilvioLuis commented on #92
@jeremybarbet, i updated the issue with the correct gif.

Yes, I have `alwaysOpen={140}` but as you can see in the gif, after the `SectionList` is loaded with state data from an api, the modal opens completely on the screen **without me wanting**... this is the problem.

[2019-11-27 07:33] azhararmar opened #93 "Open From Top To Bottom"
Is there a way to display the modal from top to bottom?

[2019-12-05 10:07] azhararmar commented on #93
Any pointer here?

[2019-12-05 10:51] jeremybarbet commented on #93
Hi, sorry for the late answer, I'm really busy.

No, it's not currently supported. Even though, I don't see any reason why we couldn't have it. You would need to basically reverse all Y values to make it happens. You could submit a PR with the changes so I could look at it!

[2019-12-06 10:37] zaheerahmad92001 opened #94 "TapOutSideOfModalize Close the Modalize"
Modalize should close after clicking out side the body of modalize

[2019-12-11 02:00] minayaleon commented on #61
For Android, you can use this
`...Platform.select({
      android: {
        elevation: 0,
      },
    }),`

[2019-12-11 13:35] WrathChaos commented on #41
@jeremybarbet Is there any improvement in this issue? It simply cannot be closed via swiping on Android.

[2019-12-12 09:38] jeremybarbet commented on #41
@WrathChaos I'm too busy on other projects, unfortunately, to dig into it. If anyone can look at it, I would be more than grateful.

Are you using expo? There is a one known issue with `expo@31.0.0` cf: https://github.com/jeremybarbet/react-native-modalize/issues/23 and I the only solution I found was to upgrade expo.

Otherwise, if you don't have the latest versions of `react-native` and `react-n

[2019-12-12 09:43] WrathChaos commented on #41
I'm using it with Pure React Native and latest versions of `react-native` and `react-native-gesture-handler` however I use it with `react-navigation`. It totally works with iOS but nothing happens on Android

[2019-12-12 09:50] jeremybarbet commented on #41
If you could recreate a simple reproducible repo, with the issue it would help

[2019-12-12 10:15] WrathChaos commented on #41
Sure, I'm gonna send you a repo link

[2019-12-13 10:25] mauriziocarella commented on #92
I have the same problem. I am using `alwaysOpen` and tried also to use `modalHeight` with different sizes but the bug still exists. Did you solved?

[2019-12-14 12:26] WrathChaos commented on #41
Hi again @jeremybarbet,
Can you please check this repo?

https://github.com/WrathChaos/React-Native-Modalize-Android-Gesture-Problem-Example

This is an example of reproducible `Android Swipe to Dismiss` problem.  Also, I've used one of your examples.
Waiting for your investigation :)
Thank you

[2019-12-15 04:59] mjm918 commented on #49
measure is undefined

[2019-12-18 15:43] maurovisintin opened #96 "Android content not scrollable horizontally"
I got a content like this

[code]

content scrolls horizontally just fine on iOS. Doesn't scroll on Android.
I'm on "react-native-modalize": "1.2.3"

Am I missing something?

[2019-12-19 10:08] #92 closed

[2019-12-19 10:08] jeremybarbet commented on #92
Fixed, and I will release a new version after some cleaning!

[2019-12-19 10:34] #86 closed

[2019-12-19 10:35] renovate[bot] opened #101 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: baseBranch not found
Message: `The following configured baseBranch could not be found: staging`

[2019-12-19 15:20] #101 closed

[2019-12-19 15:32] jeremybarbet commented on #94
Hi! This issue has been fixed and release in version 1.3.0 https://github.com/jeremybarbet/react-native-modalize/releases/tag/1.3.0

[2019-12-19 15:32] #94 closed

[2019-12-19 15:34] jeremybarbet commented on #67
It has been fixed in `react-native-gesture-handler@1.5.2`.

[2019-12-19 15:34] #67 closed

[2019-12-19 15:37] jeremybarbet commented on #96
Hi! you will need to import `ScrollView` from `react-native-gesture-handler`. See the following example: https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/SimpleContent.js#L22-L28

[2019-12-19 16:14] maurovisintin commented on #96
Ok thanks.

[2019-12-19 16:14] #96 closed

[2019-12-20 09:27] jeremybarbet commented on #91
New props added in version `1.3.2` :)

- https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=close
- https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/AlwaysOpen.js#L11-L25

[2019-12-20 09:27] #91 closed

[2019-12-24 15:25] WrathChaos commented on #41
@jeremybarbet Do you have a chance to check the example? I really need a fix

[2019-12-26 11:54] jeremybarbet commented on #41
HI @WrathChaos, yes I looked at it, you forget to install RNGH on android: https://software-mansion.github.io/react-native-gesture-handler/docs/getting-started.html#android

For everyone else on the discussion, and that have an issue with Android, make sure first you complete this step, otherwise, it won't work on android.

[2019-12-26 11:55] Hirbod commented on #41
I am an Expo user, its installed and added

[2019-12-26 11:57] Hirbod commented on #90
Yeah, can confirm this. It's specially an issue with a standalone app on android, while its perfectly working as long as its inside of expo

[2019-12-26 12:17] WrathChaos commented on #41
That fixed the issue for Android! Thank you so much, totally missed it. I think you should add this as FAQ part. Really important! Thank you and awesome work man

[2019-12-26 12:24] jeremybarbet commented on #41
@Hirbod Have you been able to try the latest expo example I did: https://github.com/jeremybarbet/react-native-modalize/tree/master/examples/expo It has latest version of expo/expo-sdk/RNGH and I tested it under Android and iOS

@WrathChaos Thanks, glad it works! It's already in the documentation, but not really well displayed, I'll make it more obvious!

[2019-12-26 12:25] Hirbod commented on #41
@jeremybarbet yeah I am on SDK 36 now and everything is working for me, as long as I don't use the Header Component. (It won't capture taps on android)

[2019-12-26 12:59] jeremybarbet commented on #41
@Hirbod Great that's good to know. Yes, using `Modal` along `react-native-gesture-handler` is a known issue on RNGH Android side, and we can't really do anything about that.

I will work on a Provider to display Modalize on top of everything, as soon as I can

[2019-12-26 13:32] Hirbod commented on #41
Would be great, thanks!

[2019-12-27 16:36] Hirbod opened #104 "1.3.4 introduces weird behaviour"
SInce 1.3.3 also introduced changes (I've seen white flickers at the bottom as it "overbounced"). 1.3.4 is delaying close events around 500ms - 1 second (haven't timed it) and also blocking InteractionManager for that amount of time. And I also see some weird white flickers at the bottom (but only when not autoAdjust)

[2019-12-27 19:47] jeremybarbet commented on #104
Alright, let me fix/revert that, I thought it was not gonna create an issue 😅

[2019-12-27 20:35] jeremybarbet commented on #104
Alright, I reverted some stuff, no pretty bouncing for now until I figure out a safer way to do it. I'll close it since it should be fixed now!

[2019-12-28 10:00] Hirbod commented on #104
@jeremybarbet 1.3.5 still behaves buggy. If I open the modal, everything is fine, but when I close it, it takes around 500ms to 1 second until I can do any other touch interaction. This was not the case before (it is even blocking my tab bar, I can't switch). I have to wait at least 1 second after close until I can do anything.

Furthermore, looks like you doing more state updates (isOpening) whic

[2019-12-28 10:09] jeremybarbet commented on #104
On the latest version there is no more isOpening state it was too buggy, I just removed it. There is only one diff remaining is that I used a spring animation instead of timing for the close animation. I guess the bounce duration creates the 500ms of interaction blocked afterwards. I will revert that too

[2019-12-28 10:28] jeremybarbet commented on #104
Version 1.3.6 published. Interaction is blocked because of the animation spring, not sure why, but one more thing I'll look at it later. Thanks for the tests!

[2019-12-28 10:28] #104 closed

[2019-12-28 10:33] Hirbod commented on #104
Perfect. The blocks are gone and my keyboard (when input focused inside of modal) also closes quickly now and doesn't stay open for another 1 second. Thanks for the quick fix! Looks good now. Also, for me, there is no UI block anymore

[2020-01-03 14:23] minhchienwikipedia opened #105 "How can I using dragY Animation?"
I really into using `DragY` to handle some Animation, can you create `props` for it?
I had tried to edit your lib like this

`this.dragY.addListener(
            react_native_1.Animated.event([{ value: this.props.translateY }])
        );`

but I getting an issue about the value of `dragY` not correctly. When I swipe to open it returns value 0 and when I wipe to closed it still returns value 0, va

[2020-01-06 10:27] jeremybarbet commented on #105
Hi @minhchienwikipedia,

This is part of a rewriting I would like to work next, but I don't have time right now to do it. If you want to start a PR and contribute, feel free to do it.

`this.dragY` isn't the only props listened to get the gesture working, there is only `this.reverseBeginScrollY` and `this.beginScrollY`. They are either add/multiply, depending of the gesture state.

You could eithe

[2020-01-07 06:16] minhchienwikipedia commented on #105
@jeremybarbet Yup, I'll contribute when I have free time to do it, I think it's not too hard. Thanks for your answer

[2020-01-07 17:50] Messi10AP opened #107 "animation for modal.close"
is there a way to specify an animation for `this.modal.current.close(dest)`?

[2020-01-07 18:12] Messi10AP commented on #107
fixed, I was calling it inside a onScroll event, and it was being called 20 times in the span on a second, which caused it to bypass the animation

[2020-01-07 18:12] #107 closed

[2020-01-08 08:26] boss225 opened #108 "don't swipe down modal animation close when flatlist position scrollY = 0 in platform ios"
on iphone, how to close modal when swiping down in flatlist or scrollview that scrollY = 0 ?

[2020-01-09 18:53] xxsnakerxx opened #109 "[Feature Request] A prop for disable swiping"

[2020-01-09 18:54] xxsnakerxx opened #110 "[Android] Swiping doesn't work via HeaderComponent and FooterComponent"
[Video](https://photos.google.com/share/AF1QipN8utrTUZ1YgecUIiAE4eX159afVFeWvED_JX6St7JoMhGmwLBUjQTwqa8SZUHAZw/photo/AF1QipOKlkTt6uLJUHd5eAfnmcR4MREBo2XBSgsnYJ4J?key=TnFwVkg3RUdFY0Q5UjFxZW5vYXQ1bmZxQVh5cl93)

[2020-01-09 22:31] Grohden opened #111 "Modalize doesn't clear hardwareBackPress at component unmount"
#35 related

Looking at this [commit](https://github.com/jeremybarbet/react-native-modalize/commit/2591a8e5a0bf7baf356746fde5b3bc25066d0dd0), it seems that the remove listener call was moved to the closeAnimation, but removing it from the `componentWillUnmount` will make the listener always be active when only a unmount occur (such as something bad like `cond ? null : <Modalize .../>`)

[2020-01-11 01:16] FarmersReact opened #112 "[Android] Use Modalize cannot be dragged"
[code]
My project can be dragged on ios, but it can't be dragged on android，I hope you can help me look at。

[2020-01-13 01:12] #112 closed

[2020-01-13 10:52] kiki-le-singe opened #113 "Events props"
Hello !

First, thank you for your project it's awesome !

I have a little question... Is it possible to use some props events like these ones :
- onDragStart
- onDragEnd
- onBottomReached
- ...

thanks for your time

[2020-01-15 15:26] jeremybarbet commented on #108
Hi! I'm not sure to understand, can you make a record/gif of the issue?

[2020-01-15 15:26] jeremybarbet commented on #109
Hey, I don't have time to work on this, but if you want to provide a pull request with this feature, it would be nice!

[2020-01-15 15:28] jeremybarbet commented on #110
Hey,

that's a good catch, I was not aware of that. Have you been able to find a workaround? or make a patch? Feel free to provide a pull request if you have a fix. I don't have time to work on this now!

[2020-01-15 15:29] jeremybarbet commented on #111
Hi,

I didn't think about this behaviour, since Modalize is always there in my apps/examples. You could provide a PR if you have a fix, it shouldn't be complicated,

[2020-01-15 15:31] jeremybarbet commented on #113
Hi,t thanks for the feedback,

No it's not possible, but it would be definitely a good addition, you could maybe open a pull request if you are willing to make these changes,

cheers

[2020-01-16 01:20] ianidi opened #114 "It cannot find the right position and sticks to the very bottom when inside scrollview"
Hi Jeremy!

Thank you for the library. When the modalize component is inside the scrollview, it cannot find the right position and sticks to the bottom. I want to fire the open modal method from nested component, but don't have an idea how to access it if I place it somewhere not inside the scrollview. Do you have any idea how to achieve it?

https://yadi.sk/i/eeES0CNWcQiNUA

I also have a proposa

[2020-01-16 09:01] jeremybarbet commented on #114
Hi, thanks for the feedback!

I think the best solution would be to take the Modalize out of the scrollview to open it.

[code]

I don't see an easy way to make it works while it's inside the ScrollView, either you would need some scroll listener value which would be terrible, or as you proposed a provider, that could make the trick. But even in this case, I would have the provider on a higher lev

[2020-01-16 12:48] ianidi commented on #114
My problem is that the component that the modal is nested in, is itself nested in higher level scrollview. So I don't have an idea how can I put the modal to the higher level and trigger it. Do you know, is there any method at all except provider to trigger the modal if I put it somewhere on higher level? If you know it could help me a lot as temporary solution.

Actually yes, I will make a PR nex

[2020-01-17 18:06] billypap1 opened #116 "Check modal when it changes from snapPoint to Full Height"
Hello, I'm using this plugin for my react-native project and it's awesome! But, I want to know If there is some way to check if my modal is in snapPoint "State" or in full? Can I check that?

[2020-01-22 14:11] fekajin commented on #52
i'm facing same issue. is there any solutuon for that?

[2020-01-22 22:57] benjaminreid commented on #110
I just ran onto this as well, seems specific to Android though however. I guess it may have something to do with the `HeaderComponent` being rendered over the top of the handle? Though looking at that PR above, it looks like it’s in order.

Nice work you two, hope it gets into `master` soon 👍

[2020-01-23 14:15] jeremybarbet commented on #110
Hi `1.3.7-rc.0` is released, you can try it out and I will release the final version if it works all fine!

[2020-01-23 14:15] jeremybarbet commented on #109
`1.3.7-rc.0` is released, I will release the final version after a bit of testing 👍🏻

[2020-01-23 14:15] #109 closed

[2020-01-23 14:16] jeremybarbet commented on #64
Hi 1.3.7-rc.0 is released, you can try it out and I will release the final version if it works all fine!

[2020-01-23 14:16] jeremybarbet commented on #59
Hi 1.3.7-rc.0 is released, you can try it out and I will release the final version if it works all fine!

[2020-01-23 14:28] benjaminreid commented on #110
@jeremybarbet Ah, amazing. I will give it a go in the next hour and report back 👍

[2020-01-23 15:04] benjaminreid commented on #110
@jeremybarbet This appears to be fixed for me on `1.3.7-rc.0` :tada:

[2020-01-23 15:31] jeremybarbet commented on #110
@benjaminreid Great! You can thanks @xxsnakerxx he did it all!

[2020-01-23 15:31] #110 closed

[2020-01-23 15:46] benjaminreid commented on #110
Great work @xxsnakerxx 👏

[2020-01-25 14:38] itsam commented on #5
That's still an issue.
Could you please reopen?
Thanks in advance

[2020-01-25 14:39] itsam commented on #17
TouchableOpacity works in View but not inside a flatlist item...
Any ideas?
Thank you in advance

[2020-01-25 14:54] itsam commented on #17
import {TouchableOpacity} from 'react-native-gesture-handler' fixes the problem at least for android...

[2020-01-27 15:31] nwaughachukwuma commented on #66
@jeremybarbet is there an update on this? I can make a PR for this is it's not been done

[2020-01-27 15:39] jeremybarbet commented on #66
@nwaughachukwuma Hi! No work have been done yet. Feel free to create a PR!

[2020-01-27 15:41] nwaughachukwuma commented on #66
Ok cool. Would send in something for review ASAP. Thanks

[2020-01-28 15:02] jeremybarbet commented on #66
@nwaughachukwuma That would be awesome!

[2020-01-28 15:03] jeremybarbet commented on #116
Hi, thanks for using it, and sorry for the late response.

No, this props is not available yet. There is a few issues related to this. I don't have time to work on it, but if you are able to open a PR, feel free to do it, I would really appreciate!

[2020-01-28 15:05] jeremybarbet commented on #114
What router are you using? If you are using react-native-navigation you could use `showOverlay`, you might have a similar solution depending of the router you are using. If you are on expo, I don't see an easy way/quick solution unfortunately

[2020-01-28 15:06] jeremybarbet commented on #108
I will close this due to inactivity. Feel free to reopen if you have more details

[2020-01-28 15:06] #108 closed

[2020-01-28 15:08] jeremybarbet commented on #90
@DianaKoenraadt @Hirbod Have you been able to try `1.3.7-rc.1` improvements on handling keyboards have been made

[2020-01-28 15:11] jeremybarbet commented on #68
I will close that since you found a workaround. If anyone wants to contribute and open a PR to include a provider to this package, I would appreciate!

[2020-01-28 15:11] #68 closed

[2020-01-28 15:12] #64 closed

[2020-01-28 15:15] jeremybarbet commented on #61
I will close that due to inactivity. A provider to open Modalize from a root parent would be the best approach. If nobody opens a PR, I will try to do it when I find free time!

[2020-01-28 15:15] #61 closed

[2020-01-28 15:15] #59 closed

[2020-01-28 15:23] jeremybarbet commented on #20
It should be good on `1.3.7-rc.1`

[2020-01-28 15:23] #20 closed

[2020-01-28 15:23] #33 closed

[2020-01-28 15:47] jeremybarbet commented on #58
It's because the ListHeaderComponent from the FlatList is being re-render each time you change the state. I'm not sure to see a quick solution to fix in this context of usage.

Even though if you have the possibility to use `HeaderComponent` instead I would recommend you do that: https://snack.expo.io/@jeremdsgn/modalize-issue

I'm closing this issue

[2020-01-28 15:47] #58 closed

[2020-01-29 16:42] jeremybarbet commented on #5
@itsam Have you been able to check the latest version? `1.3.7-rc.1`

[2020-01-29 18:58] itsam commented on #5
You are right: everything works as expected. Thank you very much!

[2020-01-30 11:33] ybonnetain commented on #41
Hi @jeremybarbet, when using an underlying Modal from RN core, shouldn't you give it the `propagateSwipe` bool property ?

[2020-01-30 11:41] jeremybarbet commented on #41
@ybonnetain If you are talking about this props https://github.com/react-native-community/react-native-modal#available-props, this is not the Modal from RN core but another modal library. I'm not using it inside this project

[2020-01-30 11:47] ybonnetain commented on #41
@jeremybarbet yeap sorry, I misunderstood the doc.
By the way I am very happy with the result on both platforms using the pure gesture-handler impl.
Super nice, thanks

[2020-01-30 16:42] nwaughachukwuma commented on #66
Hi @jeremybarbet, these links are dead

[2020-01-30 17:14] jeremybarbet commented on #66
https://github.com/jeremybarbet/react-native-modalize/blob/3cde04097aa040d3b2c74493177b3430d614477e/src/index.tsx#L271

And something around these lines https://github.com/jeremybarbet/react-native-modalize/blob/3cde04097aa040d3b2c74493177b3430d614477e/src/index.tsx#L381

[2020-01-30 17:16] nwaughachukwuma commented on #66
Ok thanks

[2020-01-31 12:25] nwaughachukwuma commented on #66
@jeremybarbet pull request made at #122. Please follow-up

[2020-01-31 14:06] deiucanta opened #123 "Swiping from a TextInput doesn't work"
When I have a `<TextInput>` inside a modal, it captures all the gestures and the modal doesn't swipe as expected.

[2020-01-31 15:07] jeremybarbet commented on #123
Hi, which version are you running? If not the lastest, can you try `1.3.7-rc.1`?

[2020-01-31 15:11] deiucanta commented on #123
Yes, I'm running `1.3.7-rc.1`. I think this is related to a bug in `react-native-gesture-handler`: https://github.com/software-mansion/react-native-gesture-handler/issues/668

[2020-01-31 15:38] jeremybarbet commented on #123
Is the swipe blocked the whole modal or is just inaccessible from the input?

[2020-01-31 15:44] deiucanta commented on #123
When I start the pan from above the TextInput, the ScrollView can move, but
when I reach the top, the modal doesn't swipe. I can provide an expo demo
if you want.

On Fri, Jan 31, 2020, 5:38 PM Jérémy Barbet <notifications@github.com>
wrote:

[2020-02-01 15:09] itsam opened #125 "Use ScrollToIndex for FlatList"
Hello, I am using the following

[code]

and I cannot find a way to use FlatList's method ```scrollToIndex```

I have tried the following with no luck

[code]

Any ideas or advise will be highly appreciated.

PS: ```scrollTo``` method of Modalize seems to work **only** for scrollView and not FlatList.

Thank you in advance.

[2020-02-02 19:31] itsam commented on #125
It seems like this PR https://github.com/jeremybarbet/react-native-modalize/pull/126 solves the issue...
Can you please merge?
Thanks in advance!

[2020-02-03 00:15] lpasquini opened #127 "Problem with slider"
Hello, I am trying to use a slider within the modal and it only works with panGestureEnabled = {false}
Anyone know how to solve it?
Thank you

[2020-02-03 02:31] lpasquini commented on #127
I solved this using FooterComponent

[2020-02-03 02:31] #127 closed

[2020-02-03 08:38] jeremybarbet commented on #125
@itsam Hi, this PR fixed this method https://facebook.github.io/react-native/docs/scrollview#scrollto and not scrollToIndex.

We need to implement in order to make it work for flatList. Feel free to open a PR if you can makes the changes. You can take example on the scrollTo method already in there

[2020-02-03 09:21] jeremybarbet commented on #125
I got it working here: https://github.com/jeremybarbet/react-native-modalize/pull/129/files#diff-0a20f797b1b715752114ac5ce5a3c3eeR33 I will finish the PR asap

[2020-02-04 13:15] jeremybarbet commented on #123
A video would be nice to see the behaviour? I'm not sure to correctly visualize the issue.

[2020-02-04 13:16] jeremybarbet commented on #66
Version `1.3.7-rc.2` has a new props to get the current position of the modal.

[2020-02-04 13:16] #66 closed

[2020-02-04 13:17] jeremybarbet commented on #116
Version `1.3.7-rc.2` has a new props to get the current position of the modal.

[2020-02-04 13:17] #116 closed

[2020-02-04 13:18] jeremybarbet commented on #113
You have a new props available in version `1.3.7-rc.2` https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=onpositionchange. Not all you asked, but a good first step

[2020-02-04 13:50] kiki-le-singe commented on #113
Thanks for your return. If i have time I will create a pull request.

`onpositionchange` is really interesting, a really good first step! Thanks!

[2020-02-04 15:25] deiucanta commented on #123
First time I drag from the background. Second time I drag from the text input but modal doesn't move. You cannot see my pointer in this gif, but you should know that I drag past the top position of the scroll.

![modalize-issue](https://user-images.githubusercontent.com/2116280/73758273-15285f80-4773-11ea-8cd7-3ef33bf48dee.gif)

[2020-02-04 15:28] deiucanta opened #132 "Modal jumps when keyboard is opening"
When I focus on a text input inside a modal, you can see the keyboard pushing the modal and then the modal gets resized. That delay makes for an unpleasing user experience.

It happens on Android.

![modalize-issue2](https://user-images.githubusercontent.com/2116280/73758634-8a943000-4773-11ea-8213-7822d7714e16.gif)

[2020-02-04 15:37] deiucanta commented on #123
![modalize-issue3](https://user-images.githubusercontent.com/2116280/73759644-e90dde00-4774-11ea-94ba-e64bb1b281f4.gif)

Here you go, I made the pointer visible so you understand better what's going on.

[2020-02-05 18:51] #90 closed

[2020-02-05 18:52] jeremybarbet commented on #65
You can check out latest version `1.3.7-rc.3`, issues regarding keyboard have been closed. Since we need a really specific behaviour, embedding this library would be complicated

[2020-02-05 18:52] #65 closed

[2020-02-07 03:33] leeweepeng95 opened #133 "Webview is not scrollable on android"
In IOS, it is working fine both in swipe to dismiss and webview is scrollable.
In android, able to swipe to dismiss but webview is not scrollable.
I tried to include withReactModal={true}, the webview became scrollable but swipe to dismiss is not working.

[2020-02-11 08:50] jeremybarbet commented on #133
Hi,

Have you tried this package: https://github.com/alkafinance/react-native-modalize-webview

Also, it's using internally an old version of react-native-modalize, so I would recommend just getting the code locally to your project https://github.com/alkafinance/react-native-modalize-webview/blob/master/src/ModalizeWebView.tsx

[2020-02-14 03:58] YoneKanNexseed opened #135 "[Android] content does not display"
When I check my App, there is no problem with iOS, but with android, there is a problem.
The screen is not displayed.

here, this is my project.
https://github.com/YoneKanNexseed/react-native-modalize-sample

[ios]
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-02-14 at 11 57 36](https://user-images.githubusercontent.com/47130603/74500236-4518f500-4f21-11ea-8b2c-b59d9b9247c9.png)

[android]
<i

[2020-02-14 08:53] jeremybarbet commented on #135
Hi!

I saw a couple of issues:

- `style` props doesn't exist on `<Modalize ...>`, you are probably looking for `modalStyle` https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=modalstyle. Also you don't need to provide `flex: 1` there

- Your issue with the `<Root />` is most likely related to https://github.com/CrowdLinker/react-native-pager#example since you are not using `Pa

[2020-02-15 21:51] firdaussoberi commented on #41
Thanks @saurabhdsachan! I confirm the solution indeed works. So far so good on android, not sure what the effect is on other gestures, will do more testing later.
Am using almost same versions too:
[code]

[2020-02-15 22:02] itsam commented on #111
I second that. It is actually a bug.Thank you in advance

[2020-02-17 10:39] motogod opened #136 "How to center content ?"
I just create a simple view like this:

[code]

But it looks like any center argument is not working with my code.
<img width="266" alt="截圖 2020-02-17 下午6 32 25" src="https://user-images.githubusercontent.com/17781603/74646368-ac9aa300-51b4-11ea-87dc-182f5ac9af21.png">

Any idea ?

[2020-02-17 10:42] #136 closed

[2020-02-17 12:50] aokoruyucu commented on #59
Any solutions?

[2020-02-17 13:08] Grohden commented on #111
@jeremybarbet @itsam I was using a patch package patch for this, so I wasn't in a hurry for it. But anyway #137 should fix the problem.

[2020-02-17 13:37] itsam commented on #111
@Grohden Thanks a lot.

[2020-02-17 14:39] whereiscode commented on #132
me too ,but iOS is not

[2020-02-18 03:35] motogod opened #138 "How to center the element of the content ?"
Just use a simple code like this:

[code]

<img width="312" alt="截圖 2020-02-18 上午11 31 37" src="https://user-images.githubusercontent.com/17781603/74701659-6ee45b80-5242-11ea-9140-03c5da4483f7.png">

It looks like I set the flex: 1 and some center argument are not working.

What step I miss it ?

[2020-02-18 03:38] #138 closed

[2020-02-18 09:06] jeremybarbet commented on #111
Fixed by @Grohden and release in `1.3.7-rc.6`

[2020-02-18 09:06] #111 closed

[2020-02-18 09:09] #135 closed

[2020-02-19 13:45] LucaTabone opened #139 "Modal Positioning"
Hey guys :),
what an awesome project that you've set up here!

I have two questions:

1. Is it possible to dynamically set the starting position for a modal?
    In my case, I do not always want my modals to start at the bottom.

2. Is it possible to let the modal come from top to bottom instead of bottom to top?

Best regards and thank you very much in advance,
Luca

[2020-02-20 17:44] jeremybarbet commented on #139
Hi @LucaTabone, thanks for the feedback,

1. No it's not possible
2. It's not possible neither.

Both would need some refactoring to be able to configure it this way. If you want to contribute you can open a PR with the changes!

[2020-03-02 09:13] taufikhidayat1993 opened #142 "bakdroponpress"
how to use backdroponPress with modalize please help me ?

[2020-03-02 11:36] jeremybarbet commented on #142
There is no `backdroponPress` props. Feel free to open a PR if you want to add this feature. It should lives there https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L504

[2020-03-05 00:57] bashen1 opened #143 "If there is a property to set the popup direction, that would be perfect"
Currently only bottom popup

[2020-03-05 08:08] WrathChaos opened #144 "Open/Close Animation Request"
Hello @jeremybarbet,
I have an animation request for opening and closing.

https://dribbble.com/shots/10468251-Designer-Meetups-App-Component-States.mp4

Here is the inspiration. It would be really awesome, do you any idea how to do it?

Thank you

[2020-03-05 13:07] TrueTiem commented on #144
Why don't you make and create a pull request?

[2020-03-05 21:25] jeremybarbet commented on #143
Cf: https://github.com/jeremybarbet/react-native-modalize/issues/93

[2020-03-16 20:41] vforvasile commented on #132
try building your app again with this line in AndroidManifest: `android:windowSoftInputMode="adjustResize" `

[2020-03-17 15:02] jeremybarbet commented on #144
Hi,

This is a very specific animation, you could already use https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=openanimationconfig and https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=closeanimationconfig to use either a spring or timing-based animation.

Even though you wouldn't be able to make the fade animation happen like this, it would require to ch

[2020-03-17 15:34] WrathChaos commented on #144
I will work on it, thank you for the advice :)

[2020-03-17 15:34] #144 closed

[2020-03-18 01:15] marcinolek commented on #143
@bashen1
have a look at my fork: https://github.com/marcinolek/react-native-modalize/tree/new-1.3.6
I've added two props: 'fromTop' and 'noOverlay' (both false by default). The latter is to allow gesture interactions with views outside the modal. This by no means is pull request ready, and might not work for all modal types (I haven't tested alwaysOpen at all), but it works for my needs.

[2020-03-18 09:01] jeremybarbet commented on #143
@marcinolek That's really nice! You have done really good progress on the feature so far.

You could def move the `noOverlay` into a separate PR, it could be merge quickly! I would just recommend you renaming to `withOverlay` at true by default, to keep consistency with the others props.

And you could have another PR for the `fromTop` props. 🙌🏻

[2020-03-18 09:08] kg-currenxie opened #149 "ScrollView doesn't work with adjustToContentHeight"
If you use `adjustToContentHeight` but the content is taller than the screen, the scrollView should work.

![2020-03-18 17 07 45](https://user-images.githubusercontent.com/48229166/76943890-08368880-693b-11ea-83cf-31e92bcc9057.gif)

At the moment, I have to turn off `adjustToContentHeight` on certain modals that I think will be tall enough. But we'll have more dynamic content in some modals, so I

[2020-03-18 17:27] WesleyFaveri opened #150 "Open full with SnapPoint"
Hello, theres any way to open full modal with snapPoint prop? I want open full modal when a button is pressed on snapPoint state

[2020-03-18 17:30] WesleyFaveri opened #151 "closeOnOverlayTap not working with alwaysOpen prop"
When i open full modal with alwaysOpen prop then click on overlay, it doesnt close, i can focus textinput and etc.

[2020-03-19 09:07] jeremybarbet commented on #149
Ah crap, it was working before, probably I messed up somewhere, must be.

Which version are you using? I'll look at it

[2020-03-19 09:20] jeremybarbet commented on #150
Hi,

So you want to use a prop like `open()` but only to pass from the first `snapPoint` to full height? If so, it's not possible right now, but you could create a PR to implement this!

[2020-03-19 09:29] jeremybarbet commented on #151
That's correct, I can reproduce that. I will look into if I find time, feel free to open PR if you find the issue first!

[2020-03-19 09:31] kg-currenxie commented on #149
react-native-modalize": "1.3.7-rc.4

[2020-03-19 09:36] jeremybarbet commented on #142
Implemented, will release new rc version soon shipping it

[2020-03-19 09:36] #142 closed

[2020-03-19 09:36] jeremybarbet commented on #149
Would you mind testing the latest? `rc.8`

[2020-03-19 09:37] jeremybarbet commented on #133
I will close this issue. I could send you my webview implementation working on both Android/iOS if you haven't figured it yet!

[2020-03-19 09:37] #133 closed

[2020-03-19 09:41] kg-currenxie commented on #149
Same with `rc.8´ :/

[2020-03-19 09:51] jeremybarbet commented on #49
Added a props for it and will release in the next rc version

[2020-03-19 09:51] #49 closed

[2020-03-19 09:52] jeremybarbet commented on #149
Can you reproduce the issue on an expo snack?

[2020-03-19 09:55] jeremybarbet commented on #57
I will close this issue since it's not related to the package but the config on circle ci

[2020-03-19 09:55] #57 closed

[2020-03-19 10:02] jeremybarbet commented on #123
Both of your issues you opened are a bit tricky. I didn't have time to dig into it more. If you found a workaround or a solution, feel free to open a PR

[2020-03-19 12:31] WesleyFaveri commented on #150
Yes, that's i'm trying to do. i'll try save a time and work on a PR

[2020-03-19 18:51] WesleyFaveri commented on #151
#152

[2020-03-19 22:05] WesleyFaveri commented on #150
#153

[2020-03-19 22:07] WesleyFaveri commented on #150
Add a prop to identify if need open full or keep default open. I got a issue with open modal with  `alwaysOpen` prop and i cant identify what happen to reproduce that, try ```modal.current.open()```  with alwaysOpen prop

[2020-03-20 05:52] leeweepeng95 opened #154 "adjustToContentHeight true is not working for dynamic content in android"
I believe in android, adjustToContentHeight only initialize the modal height for first time. If content changed, the modal height won't change. ios is okay.

react-native-modalize@1.3.7-rc.9

[2020-03-20 09:11] jeremybarbet commented on #151
I will release a new rc version straight after finishing merging PRs :) Thank you for fixing this and opening PR, really appreciated!

[2020-03-20 09:11] #151 closed

[2020-03-20 09:43] jeremybarbet commented on #150
Should be fixed, I will release new rc soon

[2020-03-20 09:43] #150 closed

[2020-03-20 10:18] jeremybarbet commented on #154
Hey, yes that's correct. Feel free to open a PR if you have a fix for it.

As a workaround, for now, you can pass this props:

[code]

[2020-03-20 19:51] tylercote opened #155 "Open Modal to alwaysOpen height?"
Is there a way that one can open the modal to the alwaysOpen height?  I can close the modal fully, and then close it again to dest = 'alwaysOpen', but that will not animate the modal back up (it snaps into position). Thanks for any help.

[2020-03-22 10:57] RWOverdijk opened #157 "inputRange must be monotonically increasing"
Is this compatible with react-native-web (with expo)?

[code]

Gets me this beauty:

    at invariant (http://192.168.2.157:19006/static/js/bundle.js:84887:15)
    at checkValidInputRange (http://192.168.2.157:19006/static/js/bundle.js:198999:62)
    at createInterpolation (http://192.168.2.157:19006/static/js/bundle.js:198847:3)
    at new AnimatedInterpolation (http://192.168.2.157:19006/static/

[2020-03-22 11:14] RWOverdijk commented on #157
@jeremybarbet I've made it "not break" by adding `|| 0` after `this.snapEnd` (which is NaN). This isn't the solution but might help figure out what's broken here.

[code]

This brings another issue, which is that I can't drag the modal at all anymore, but I assume this is related.

[2020-03-22 11:38] RWOverdijk commented on #157
**Update 2:** The issue is with the Platform.select in defaultProps:

[code]

You need to add the default: 0 (because web is neither).

This doesn't solve all issues though, it's still not capturing the touch events properly.

If you "long press" and then move it follows, but then it doesn't stop the touch events and react-navigation also navigates back to the previous screen.

[2020-03-23 10:53] jeremybarbet commented on #157
Hey!

I never used `react-native-web`, but I know `react-native-gesture-handler` merged some stuff related to that recently. So it *should* be possible to make it work.

I was looking for a codesandbox, but I haven't been able to find anything where I can play around, do you have your code somewhere that I could quickly look at?

I'm guessing your issue is related to these 3 lines, https://github.

[2020-03-23 11:37] jeremybarbet commented on #155
Sure, it's fixed in latest rc version. You can now `this.modalRef.current?.open()` or `this.modalRef.current?.open('top')`. First one will open at the default alwaysOpen number passed, and the second will fully open the modal to full height.

[2020-03-23 11:37] #155 closed

[2020-03-25 14:56] RWOverdijk commented on #157
@jeremybarbet G'day!  I don't have a repo with this set up, but you could use https://github.com/RWOverdijk/nav-issue which I made to illustrate an issue with react-navigation.

Perhaps that is an easy way to get you up and running with the wonderful world of web? 😄 Honestly, I am surprised how well most things work.

[2020-03-25 21:59] jeremybarbet commented on #157
Alright, I published a new rc that fixes the crash.

I've been able to have the swipe gesture working, but not the scrolling and there is some issue with the position of the modal when you pass `modalHeight`, `modalTopOffset`. I found a workaround by providing a marginTop in pixel rather than `auto`, but didn't push anything because I didn't test everything.

I would be really interested to have a

[2020-03-26 19:20] RWOverdijk commented on #157
@jeremybarbet That's a great start 😄

I'd love to, but I kind of sort of moved to a different solution because deadlines are a pita :(

Once I get the time to redo this stuff I could take a look but it might take a while.

[2020-03-27 08:47] jeremybarbet commented on #157
Well I just realised, it's react-native-**_web_**, so you don't scroll by swiping up/down, but by using the wheel of your mouse and it works when you do so, ahaha

So basically, almost everything is working, except some edges cases, that I will try to fix when I find time!

![giphy](https://user-images.githubusercontent.com/937328/77738260-6af8e580-7007-11ea-9323-607e8f563d62.gif)

[2020-03-27 11:33] vforvasile commented on #53
Hey @jeremybarbet!

Amazing job with the library, found out about it on reddit and switched from `react-native-reanimated-bottom-sheet` right away.

Any ETA on dynamic height feature?

On a separate issue, is there any method of overlaying something on the Modalize with an absolute position that won't move on scroll? Header/footer components don't really do the job for me, they're scroll dependant

[2020-03-27 13:25] jeremybarbet commented on #53
Hi @vforvasile, thank you for using Modalize.

No, I don't have any ETA. I'm trying to work on it when I have a bit of time, but I'm quite busy. If you have any idea how to fix this, I would be happy to review your PR!

You can use position absolute on the Header/Footer components so they will be on top of the scrollview, and will stay fixed. You have an example here: https://github.com/jeremybarb

[2020-03-27 13:55] jeremybarbet commented on #154
Fixed landed in `rc.14`.

[2020-03-27 13:55] #154 closed

[2020-03-27 14:05] jeremybarbet opened #159 "Next release status"
Hi all!

As you can see here on the [changelog](https://github.com/jeremybarbet/react-native-modalize/blob/master/CHANGELOG.md#137---not-release-yet), `react-native-modalize@next` is containing a lot of changes, new props and improvements. I try to go through as many issues as I can and adding popular new features that are requested.

I don't have any ETA yet on when this new version will be relea

[2020-03-27 15:01] RWOverdijk commented on #157
@jeremybarbet Wait, but then why doesn't it work when emulating a mobile browser in chrome? Doesn't it translate touches properly?

I also couldn't get it running on a device for that matter.

Or is this after your fixes? In which case: haha 😆

[2020-03-27 17:56] vforvasile commented on #53
@jeremybarbet , I tried this approach, it works well if you open Modalize at full height, if you have a snap point then the FlatList will move with the absolute element.

I tested with a new prop childOverlay in `renderModalize()`, by setting zIndex over 100 and absolute styling (bottom:0).

<img width="389" alt="Screen Shot 2020-03-27 at 19 53 07" src="https://user-images.githubusercontent.com/93

[2020-03-28 08:31] jeremybarbet commented on #157
Well, this is work-ish but very much broken.

I would need to dig more into react-native-web/react-native-gesture-handler to see how they create gestures events for the web

[2020-03-28 08:32] jeremybarbet commented on #53
Would you mind creating a PR to introduce this new props?

[2020-03-28 12:15] RWOverdijk commented on #157
That makes sense. 😄 Honestly this is an exciting time to develop with react native. Covering all platforms like this is awesome...

[2020-03-28 16:42] jeremybarbet commented on #105
Hi, I released a new `rc` version with a new props for this. You can find the doc here https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=pangestureanimatedvalue and example here https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/AnimatedValue.js

[2020-03-28 16:42] #105 closed

[2020-03-28 16:43] jeremybarbet commented on #69
Hi, I released a new `rc-15` version with a new props for this. You can find the [doc here](https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=pangestureanimatedvalue ) and [example here](https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/AnimatedValue.js)

[2020-03-28 16:43] #69 closed

[2020-03-28 16:46] jeremybarbet commented on #113
Hi, I released a new `rc-15` version with a new props for this. You can find the [doc here](https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=pangestureanimatedvalue ) and [example here](https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/expo/src/components/modals/AnimatedValue.js)

Moreover, you can now use this Animated.Value to check the different st

[2020-03-28 16:46] #113 closed

[2020-03-28 17:52] AlexSmirnov9107 opened #161 "[Android] Elevation"
Hi, my header has absolute position and elevation = 1. How can i change elevation of modal?

![image](https://user-images.githubusercontent.com/32673518/77829889-1c566300-714f-11ea-8a68-ff950ec70176.png)

It's only problem with Android.
Perfect on iOS

[2020-03-28 18:47] vforvasile commented on #53
on it!

[2020-03-29 10:33] jeremybarbet commented on #161
Thanks for pointing to that. Fixed in `rc.16`

[2020-03-29 10:33] #161 closed

[2020-03-29 11:18] jeremybarbet commented on #53
Now able to toggle the prop and re-calculate the height https://b.ueno.is/p9uK9P5d Fixed in `rc-17`.

[2020-03-29 11:18] #53 closed

[2020-03-30 07:52] kiki-le-singe commented on #113
Hi! It's great! Thanks for your time

[2020-04-02 18:22] templar11 opened #165 "Access to state within component"
Hi,

I am unable to send state parameters to the component within the modal:

`<Modalize ref={'product'}>
	<Product name={this.state.name} />
</Modalize>`

Product component doesn't receive the "name" parameter due to being within Modalize. Same code without Modalize works okay. What am I missing?

Thanks so much and congrats for this great component.

[2020-04-02 18:37] templar11 commented on #165
Just created a simple component and it works. Weird, there must be something wrong with my full code...

[2020-04-02 18:37] #165 closed

[2020-04-05 03:17] GollyJer opened #167 "Unsupported top level event?"
I created a modalized screen in Expo and it works great in dev mode. Once I publish things go haywire.

The modal pops up as expected but the second I try to scroll the content it throws this error and crashes the app.
<img src="https://user-images.githubusercontent.com/689204/78465978-16153900-76b1-11ea-8aa2-d768d1de5a7b.png" width=360>

**Unsupported top level event?**

I don't expect you'll be

[2020-04-05 05:21] jeremybarbet commented on #167
Hi!

Yes this is a very well known issue that happened few weeks ago and is supposed to be fixed now. Here is the reference issue https://github.com/software-mansion/react-native-gesture-handler/issues/320

Unfortunately there is nothing we can do in this package. You either need to upgrade expo/react-native/react-native-gesture-handler or use one of the workaround posted in the issue there.

Good

[2020-04-05 21:44] GollyJer commented on #167
Ha! Stepped in a rabbit hole.
I'm gonna update to Expo v37 and hope all the packages are updated past this one. 🤞

[2020-04-05 21:44] #167 closed

[2020-04-06 07:51] aesthytik opened #169 "allow keyboardShouldPersistTaps in modalize"
I am having difficulty in selecting the search result on a single tap. On typing in textinput i have to double click on the results to get be able to tap.

[2020-04-06 12:52] funkyfourier opened #170 "Glitchy behaviour on iOS when scrolling to top"
When I scroll to top, so the scrollview content bounces, but not enough that the modalize closes, the modalize kind of jumps up and down a little bit before it settles again. This occurs only on iOS, not on Android.

Anyone else getting this behaviour? Any idea how to avoid it?

[2020-04-06 13:00] jeremybarbet commented on #170
Yes, this is the flickering issue mentioned here: https://github.com/jeremybarbet/react-native-modalize/issues/159

Don't hesitate to open a PR if you have any idea how to fix that. I didn't have time yet to dig into it

[2020-04-06 13:01] jeremybarbet commented on #169
Hi!

Which version of modalize are you using, and is it happening on Android/iOS?

I think I have the same issue but didn't have time to look at it yet

[2020-04-07 13:33] aesthytik commented on #169
hi, i am using
 react-native-modalize": "^1.3.7-rc.13

I am currently working on IOS. I have tried wrapping the modalize with scrollView but nothing works. Any workaround for this?

[2020-04-08 09:43] jeremybarbet commented on #169
Hi,

I've been able to make it work using:

[code]

Both working on Android and iOS

[2020-04-08 09:45] #169 closed

[2020-04-08 13:15] jeremybarbet commented on #123
Alright,

This is definitely a pain of issue, most likely related to the issue you mentioned or maybe event react-native core somehow. I might try to look further into it when I really don't have anything to do. If you have more idea where the issue is coming from, don't hesitate to share it.

I tried a lot of hacks, props, panResponder and found a really hacky workaround:

[code]

If you want to

[2020-04-09 09:58] jeremybarbet commented on #132
Hi,

I've been able to find a way to not make it jump. I defined `android:windowSoftInputMode="adjustResize|adjustPan"`. Let me know if it works for you.

I will add this in the documentation

[2020-04-09 11:04] aesthytik commented on #169
thanks mate

[2020-04-09 22:22] appify-waheed commented on #9
Hi @jeremybarbet,
I wanted to open a fullscreen modal that covers the whole screen but as mentioned in the docs  `withReactModal` props breaks on android so I implemented in this way as the discussion here.
https://github.com/jeremybarbet/react-native-modalize/issues/68
But two issues I am facing right now.
1.  One is the tabs as you can see I rendered Modal on top of the tabs and tried with a hig

[2020-04-10 08:31] jeremybarbet commented on #55
Hi !

I will close this issue. It has been fixed in one of the latest version. The content is now adjusting to content’s height.

[2020-04-10 08:31] #55 closed

[2020-04-10 09:58] jeremybarbet commented on #125
Ended up re-implementing it. Will look for a better solution in the future. Will be available in next rc soon

[2020-04-10 09:58] #125 closed

[2020-04-11 12:50] yash1511 opened #171 "TabBar is not hiding when the modal is opening"
# Issue
I'm using ```react-navigation v4``` with a ```Tab Bar``` at the bottom. On opening the modal, the tab does not get covered by the modal or the modal does not hide the tab bar.

### Similar Issues: #25 , #9, #68

# Version

```react-navigation```:  4.0.10
```react-navigaton-tabs```: 2.6.2
```react-native```: 0.61.4
```react-native-modalize```: 1.3.7-rc.19

[2020-04-11 12:56] ydv0121 opened #172 "alwaysOpen not working proper when we used adjustToContentHeight"
Hello
First of all thank you for this awesome work.
I am facing one issue when i am using `alwaysOpen` and `adjustToContentHeight` together.
i passed `alwaysOpen={100}` and set `adjustToContentHeight={true}`.

so when after page load Modal render with default `adjustToContentHeight` size.
it should render with 100 which i passed in `alwaysOpen`

please tell me if i am missing something

[2020-04-11 13:00] appify-waheed commented on #171
@jeremybarbet Any solution?

[2020-04-12 11:59] jeremybarbet commented on #9
Hi,

As you will be able to see here https://jeremybarbet.github.io/react-native-modalize/#/PROPSMETHODS?id=withreactmodal, react's modal is now working with Android thanks to a fix made in react-native-gesture-handler.

Even though, if you want to display Modalize on top of your bottom tabs you can follow also this example: https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES?id=react-

[2020-04-12 12:01] jeremybarbet commented on #25
@daniakbar @amsimoes I published a new package to be able to render Modalize on top of your navigator bottom tabs. You can find more here https://github.com/jeremybarbet/react-native-portalize and here https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES?id=react-navigation

[2020-04-12 12:01] jeremybarbet commented on #171
Hi,

I published a new package for this purpose. You can find more about it here https://github.com/jeremybarbet/react-native-portalize and here https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES?id=react-navigation

[2020-04-12 12:07] jeremybarbet commented on #41
Hi,

I will close this issue. Multiple new features have been introduced:

- `withReactModal` is now working with Android if you are using `react-native-gesture-handler` >= 1.6.0
- I wrapped Modalize with `GestureHandlerRootView` from `react-native-gesture-handler` that setup the package automatically without having to do the manual step on Android MainApplication.java file or with the `gestureHan

[2020-04-12 12:07] #41 closed

[2020-04-12 12:08] jeremybarbet commented on #93
I will close this issue in favor of https://github.com/jeremybarbet/react-native-modalize/issues/143, will keep track there

[2020-04-12 12:08] #93 closed

[2020-04-12 12:10] jeremybarbet commented on #114
Hi,

I will close this issue, I published a new package [`react-native-portalize`](https://github.com/jeremybarbet/react-native-portalize) to be able to render Modalize on top of everything wherever you need. You can check out the `react-navigation` example https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-navigation/src/index.js

[2020-04-12 12:10] #114 closed

[2020-04-12 12:17] yash1511 commented on #171
Hey @jeremybarbet, Thanks a lot for the quick solution.
Can I use this with ```react-navigation v4``` ??

[2020-04-12 12:35] yash1511 commented on #171
It checks out and works properly, thanks a lot @jeremybarbet

[2020-04-12 12:35] #171 closed

[2020-04-12 13:31] daniakbar commented on #25
@jeremybarbet wow niceee, thnk jeremy...awesome..

[2020-04-12 16:56] jeremybarbet commented on #172
Hi,

You are not missing anything, I just didn't test this case. It might be tricky to handle both cases together, I will try to look at it when I'm done with my list.

[2020-04-12 16:57] jeremybarbet commented on #139
I will close this issue in favour of https://github.com/jeremybarbet/react-native-modalize/issues/143. I will keep update there.

[2020-04-12 16:57] #139 closed

[2020-04-12 17:39] amsimoes commented on #25
@jeremybarbet thanks a lot! Will try it out asap this week. Good job

[2020-04-13 07:04] appify-waheed commented on #9
@jeremybarbet I manage to display modal above the tabs but the problem now is some touch events do not works inside the modal, I have a `react-native-video` and it has native controls inside the modal controls does not work especially play/pause.

[2020-04-13 11:22] jeremybarbet commented on #9
@appify-waheed It's most likely related to this issue https://github.com/jeremybarbet/react-native-modalize/issues/52. Can you create a https://snack.expo.io that reproduce your issue?

[2020-04-13 18:25] WesleyFaveri opened #174 "alwaysOpen modal be clicked at any local"
Im trying make my alwaysOpen modal be clicked at any local;

My code:
[code]

Result:
![Captura de Tela 2020-04-13 às 15 19 21](https://user-images.githubusercontent.com/33160297/79147571-86e7df80-7d9a-11ea-9c3c-0a660c7621f8.png)

As you can see, Handle view isnt inside modal's children.

Theres any way to make `Touchable` cover all modal or Handle have any prop for `onPress` event?

[2020-04-13 20:51] jeremybarbet commented on #174
Hi,

The handle is indeed not part of the children and I don't think it should be this way.

You have two different workarounds possible.

Either adding a marginTop -15 don't remember exact height to move your view under the handle. Even though the handle will keep its gesture area on top of your view.

Or you could create your own fake handle that wouldn't have any gesture event with your view on

[2020-04-13 21:47] WesleyFaveri commented on #174
Ok, thank you!

[2020-04-13 21:47] #174 closed

[2020-04-14 12:12] appify-waheed commented on #9
@jeremybarbet Here is a snack I have placed with two video players one is inside the modal and the other is outside the modal, Controls works outside but inside not.
https://snack.expo.io/@waheed25/ashamed-tea

[2020-04-14 13:36] jeremybarbet commented on #52
Moving your issue here @appify-waheed https://github.com/jeremybarbet/react-native-modalize/issues/9#issuecomment-613406737

[2020-04-14 13:48] jeremybarbet commented on #170
I released `rc-22` where the behavior should be better.

[2020-04-14 15:48] funkyfourier commented on #170
Cool! Will include it in next release of our app!

[2020-04-14 20:33] appify-waheed commented on #52
@jeremybarbet I got your point that `ScrollView is available` by default but what if we want to use some Animated sticky tabs with An animated header inside the modal like below.
https://medium.com/@andi.gu.ca/a-collapsing-navbar-with-tabs-in-react-native-e80790588830

[2020-04-15 07:13] appify-waheed commented on #52
@jeremybarbet I am also facing an issue while rendering `react-native-video` component in HeaderComponent on android, When I try to open the modal having `react-native-video` component in header app gets crashed, but on IOS it works fine I made some changes in your above snack but expo have a different player so the crash is not happening there.
https://snack.expo.io/@jeremdsgn/fork

[2020-04-15 19:51] appify-waheed opened #175 "Tabs inside the modal with different height"
I have two tabs inside the modal and these two tabs also have different height of the data like one tab can have two items and the other tab can have fifty items but the data of the longest tab cutting from the bottom and I can't scroll to end of the list that in that tab.

 - react-native-modalize 1.3.7-rc.18
 - react-native 0.61.2
 - react-native-gesture-handler 1.5.2
- react-navigation 4.0.10

[2020-04-16 19:30] Allyday opened #176 "[FlatList] Scrolling goes wrong with inverted prop"
**Description**
I wanted a chat-like UI: user's screen starts at the bottom of the list. So, I tried using `inverted` prop for `FlatList`. But because the list is now at the "start", all scroll down motions translate to swipe-to-close behavior. At least that's what I think your settings are.

In the gifs, you can see that when modalize is opened, it starts at the bottom & I can't really scroll dow

[2020-04-16 22:05] jeremybarbet commented on #170
Did another release `rc-24` with even better improvements. I will close this issue now!

[2020-04-16 22:05] #170 closed

[2020-04-16 22:37] jeremybarbet commented on #176
Hi!

Thank you for finding modalize still wonderful even with the behavior you are facing!

Indeed this is something I didn’t think about and this is basically a feature to implement. I would think that we only  need to multiply times -1 a lot of values to reverse the whole behavior. Even though I would need to try to confirm this.

In the meantime could you try to use https://jeremybarbet.github.

[2020-04-16 22:42] jeremybarbet commented on #175
Hi!

Embedding this kind of library inside modalize can be tricky. Are you using react-native-tab-view?

I will most likely need a reproduction snack to be able to debug this

[2020-04-17 09:55] Allyday opened #177 "[iOS] keyboardAvoidingOffset prop not working properly"
**Description**
I have an input as my `FooterComponent` & I set `keyboardAvoidingBehavior="padding"` (the default).  When the input is focused, the modal receives a weird height.

Also, if I don't set `keyboardAvoidingOffset`, I can't see my input on focus. But if I do (here I set it as 180), the offset remains even when my input is blurred.

**Reproduce**
`keyboardAvoidingOffset={0}`

![no offset

[2020-04-17 10:17] Allyday commented on #176
Thanks, but this hasn't solved the problem for me :( The behaviour is still exactly the same.

[2020-04-17 13:40] appify-waheed commented on #175
Yes, I am using `react-native-tab-view?` inside the modal.

[2020-04-17 17:07] jeremybarbet commented on #52
@appify-waheed Sure thing. I added an example here on how to use `Animated.Value` https://github.com/jeremybarbet/react-native-modalize/commit/fbb1a4db7c6e3d13ad5aa19fd123c8b900a0451f If you are using Scrollview you would need then to use [`scrollViewProps`](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=scrollviewprops)

For the changes you did, I cannot see them on this link htt

[2020-04-17 17:10] jeremybarbet commented on #176
You would mind creating a snack? So I could play with it and look what's needed to fix that. Thanks!

[2020-04-17 19:42] appify-waheed commented on #52
@jeremybarbet These changes were related to but I was able to fix that issue that's why I revert these changes.
I have a question here if I use `scrollViewProps` this will work for the scrollView at the root but what if there is a nested scrollView?

[2020-04-17 22:05] jeremybarbet commented on #177
Would you mind adding both of your issue sin the same snack so I can investigate? Thank you!

[2020-04-17 22:44] jordanl17 commented on #125
I've installed specifically the tag that the above commit was made to, however with the change on line 218, I find `this.contentView.current` to be `null`. How can I ensure that `contentView` is assigned correctly?

[2020-04-18 00:34] jeremybarbet commented on #125
Did you do?

[code]

[2020-04-19 12:30] Allyday commented on #177
Here's the [snack](https://snack.expo.io/eRJ_bq209). Sorry for the wait :)
In the snack, the list is inverted & has a `keyboardAvoidingOffset` of 110.

Through setting up the snack, I found out that the keyboard offset issue is caused by the bottom tab bar I set up using `react-native-router-flux` 😢 I included the tab bar in the snack.

[2020-04-19 17:14] jeremybarbet commented on #177
About the issue with the bottom tab bar you can use [`react-native-portalize`](https://github.com/jeremybarbet/react-native-portalize) to be able to display Modalize on top of the router.

I made the changes there https://snack.expo.io/@jeremdsgn/react-native-modalize-issues-176-and-177

I will dig more for the rest of the problems!

[2020-04-19 22:05] jeremybarbet commented on #175
I'm moving your question from the other issue here:

Then if you have a nested ScrollView, you will need to attach the onScroll event to this ScrollView. Even though, it's not so recommended to have double scrollview inside each other, if your second scrollview take the whole modal size.

If I had to do the medium collapsing header, I would probably keep only one scrollview for the content and use

[2020-04-20 07:46] Allyday commented on #177
Thanks a lot! It was my bad for not reading your full documentations.

It's all working properly now, and I'm looking forward to a smooth UX when the new feature is released!

[2020-04-20 07:46] #177 closed

[2020-04-20 13:52] jeremybarbet commented on #177
Cool that's good to hear! If there was anything you didn't understand in the documentation, feel free to open PR to make clearer.

[2020-04-20 23:02] moxorama commented on #132
Maybe better solution is to remove all keyboard-related stuff from modalize and allow users to listen to keyboard events and set padding/height properties via Modalize props?

[2020-04-21 18:40] appify-waheed commented on #175
@jeremybarbet Without any doubt scrolling is been awesome in this snack
https://snack.expo.io/@waheed25/react-native-tab-view
But the problem is been occurring while having the different height of data in each tab so when each tab has a different height of components inside, Scroll is not available and data gets cutting from either top or from the bottom I have made some changes in the snack and t

[2020-04-22 09:11] jeremybarbet commented on #175
I fixed it on my snack. The height was fixed with `sceneContainerStyle` on `react-native-tab-view` (Cf: https://snack.expo.io/@jeremdsgn/react-native-tab-view).

I also added a scrollTo "top" when you switch tab since the height can be different. The resize thing is a known behaviour/issue from `react-native-tav-view`. If you want to shrink the height of each tab there is a lot of issues related t

[2020-04-23 20:08] jeremybarbet commented on #132
@moxorama I don't think so. Is there not only one way to handle the keyboard in Modalize context? I mean, if an input is defined in the footer then the keyboard has to move up when the keyboard show, right? and if multiple inputs are defined inside the children, then it should scroll when changing the focus, isn't it?

I'm scared by doing so, user has to deal with complicated stuff and has to do t

[2020-04-25 11:40] jeremybarbet commented on #175
I will close this because I believe it answered your questions.

You can find more about tabview example here https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES?id=tabview-third-party-library

[2020-04-25 11:40] #175 closed

[2020-04-25 13:56] jeremybarbet commented on #172
Fixed and release in `rc-25`

[2020-04-25 14:00] ydv0121 commented on #172
Damn you are flash🤘😅.
will try it.
Thank you man

[2020-04-26 15:54] jeremybarbet commented on #149
@kg-currenxie What’s the status on this issue?

[2020-04-26 19:30] nyktechno commented on #172
@jeremybarbet Hello
i tried the `1.3.7-rc.25` and still i am getting issue with `alwaysOpen` and `adjustToContentHeight`.still modal rendered with default `adjustToContentHeight` height.

am i missing something in `1.3.7-rc.25` update?

[2020-04-26 19:46] ydv0121 commented on #172
@jeremybarbet Hello
i tried the 1.3.7-rc.25 and still i am getting issue with alwaysOpen and adjustToContentHeight.still modal rendered with default adjustToContentHeight height.

am i missing something in 1.3.7-rc.25 update?

[2020-04-27 01:02] kg-currenxie commented on #149
Sorry, haven't had the time to create a reproducible thing yet :/ You can close the issue until then if you want to :)

[2020-04-27 09:09] jeremybarbet commented on #132
Cf @xxsnakerxx maybe you have an idea about that since you work quite a bit on these behaviours

[2020-04-27 10:16] xxsnakerxx commented on #132
Hm, it seems the keyboadShow event fires too late (after layout redraw). For Android, I would try to listen to height of the window via `Dimensions` (maybe it fires earlier) but I'm not sure

[2020-04-27 13:28] ydv0121 commented on #172
Hello @jeremybarbet
i am getting still same issue in `rc-25`
Modalize open default with `adjustToContentHeight` when using with `alwaysOpen`

My `react-native` version is 0.58.4

[2020-04-28 09:27] jeremybarbet commented on #149
No, it's totally fine to keep it open, I'm just curious to see, since I wasn't able to reproduce on my side.

[2020-04-28 12:00] jeremybarbet commented on #172
https://b.ueno.is/WnuGlBAQ

Is that not what you were talking about? that adjustToContentHeight wasn't working while being used along alwaysOpen props?

[2020-04-28 20:23] jeremybarbet commented on #132
I gave it a try but the Dimensions listeners are not triggered at all. :/

[2020-04-29 20:49] marcshilling commented on #112
@FarmersReact what was the solution to this?

[2020-04-29 21:06] jeremybarbet commented on #112
Did you complete this setup part? https://jeremybarbet.github.io/react-native-modalize/#/INSTALLATION

[2020-04-29 21:10] marcshilling commented on #112
Nope, duh. Working now, thanks :)

[2020-04-30 08:27] ydv0121 commented on #172
its working now.issue with my node_modules or what i reinstall the lib and its working now perfectly. Thank you man..Thanks

[2020-04-30 08:27] #172 closed

[2020-04-30 08:32] jeremybarbet commented on #172
Sweet, good to hear!

[2020-04-30 17:12] appify-waheed commented on #52
@jeremybarbet I am using this Slider component inside the modalize
https://github.com/jeanregisser/react-native-slider
 and its sliding not works when `panGestureEnabled`, I tried with bigger `zIndex` too.

[2020-04-30 20:52] Slaymd opened #184 "Keep finger dragging bottom scroll glitch"
**Describe the bug**
dragging up and when bottom sheet is at top dragging down (with finger kept on screen) causing a scroll glitch as you can see just after.

How can I fix that? Any workarounds? i didn't see a related issue

**Reproduce**
- Issue present in examples
![ezgif-3-673eeb36ba22](https://user-images.githubusercontent.com/1348035/80756495-eaac2f80-8b32-11ea-97c9-a2c9ba93e4e1.gif)

**Dep

[2020-04-30 21:26] jeremybarbet commented on #184
I thought it was fixed. I tried hundreds times by scrolling a bit down first and then up a lot and it just works. But never thought of testing this use case. I will fix that asap

[2020-04-30 22:11] Slaymd commented on #184
Nice ! Thank you 😊 (And congrats for this package, really pleasent to use!)

[2020-05-01 18:31] Agilulfo1820 opened #185 "Is there a prop to prevent the modal to go under alwaysOpen height?"
**Is your feature request related to a problem? Please describe.**
I have this set up:
`    <Modalize
                        ref={this.modal}
                        modalStyle={styles.content__modal}
                        alwaysOpen={280}
                        overlayStyle={styles.overlay}
                        openAnimationConfig={{
                            timing: {duration: 400},

[2020-05-02 17:15] riyanirawan007 opened #186 "[Android] PanGesture not working since rc24+ ?"
Hello, i got problem with lastest version of this great rn modal, the pan gesture (open and close modal) is not working anymore just in Android device, in IOS everything seems working. In earlier version (rc24) pan gesture is working on Android, so its not a problem with gesture handler lib, that lib installed correctly in my project. Any suggestion what i have to do?, below is my code. Thanks.

[

[2020-05-02 17:50] jeremybarbet commented on #185
Hi!

No it’s not possible at the moment. There is always the bounce animation happening.

I would say it’s fairly easy to implement as an optional props. Feel free to open a PR if you can implement it on your side 👌🏻

[2020-05-02 17:52] jeremybarbet commented on #186
Hi!

Did you complete the setup step for Android? https://jeremybarbet.github.io/react-native-modalize/#/INSTALLATION

If you did, can you provide a snack with the issue reproduced.

Thanks

[2020-05-02 22:42] riyanirawan007 commented on #186
Yes sir, i did complete install step of gesture handler, that's why in older version as i mentioned before its working well.

Its seems like i cant open modal with pan gesture, header of modal doesn't make any response. Its happen only in android.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/29875783/80893865-411a9900-8d00-11ea-9542-6714c2bc298f.gif)

[2020-05-02 22:55] jeremybarbet commented on #186
Yes, this is related to that: https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L602-L609

I will add a props to enable the gesture for android but you will need to keep in mind it will most likely break the touchable events. It might be working if you use a touchable from RNGH for android and a touchable from RN for iOS

[2020-05-02 23:08] riyanirawan007 commented on #186
Thank you sir , that make a clear for what i'm facing about.

[2020-05-02 23:08] #186 closed

[2020-05-03 22:41] Hirbod opened #189 "Android: Issue with back button handler"
**Describe the bug**

If I close the modal (which was mounted in a portal) using the "swipe down to close" gesture, my next back button tap will be captured no matter where I am in the navigation hierarchy. After another click it will work normally again.

"Swipe-down-to-close" should remove the Back-button listener and register it again as soon as I open the modal. But if I close the modal with t

[2020-05-03 22:48] Hirbod commented on #189
https://github.com/jeremybarbet/react-native-modalize/pull/137 is not sufficient enough, because in my case, the Modal is still mounted in the portal but it just got fully swiped down (is invisible).
An invisible modal should not have any back button handlers.

[2020-05-04 10:43] jeremybarbet commented on #189
Hi!

From what I see the events should be already handled [here](https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L229) and [here](https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L308). Since it's not something I heavily tested and worked on, would you mind come with a snack so it's easier to debug all the different cases.

[2020-05-04 10:47] jeremybarbet commented on #186
Props added here https://github.com/jeremybarbet/react-native-modalize/commit/b831d3dc09c99748832b10a68bdbd7ebb9f7ceee#diff-11e019fa5a7aade0a9dffb2d124698acR289, will release as soon as I can

[2020-05-04 18:17] danilo900 opened #191 "adjustToContentHeight BUT max height"
**Is your feature request related to a problem? Please describe.**
If I set adjustToContentHeight and my content is higher than my screen height, it's bugging.

**Describe the solution you'd like**
Maybe implement maxHeight. (and we set Dimensions height here)

[2020-05-04 18:22] danilo900 commented on #191
Sorry.
It's already happening.
It was another bug, iam going to open a new Issue.

[2020-05-04 18:22] #191 closed

[2020-05-04 18:23] danilo900 commented on #149
I got the same bug.
I need to set disableScrollIfPossible={false} to work the scroll here.

[2020-05-04 18:30] danilo900 commented on #149
Maybe I Know @jeremybarbet  where is the problem.
I think that children that is not fixed components (like the @kg-currenxie example)
Content that needs to wait a function response,
Your Modal do not know the total height of the content and so disable the scroll.
Mine is the same thing, I Have a function inside the component:

` <Modalize
        ref={popupModalRef}
        adjustToContentHeight

[2020-05-04 19:13] jeremybarbet commented on #149
@danilo900 I'm not sure if both issues are the same, but your case does make sense. I'm not sure how to handle that though. If you were able to create a repro snack it would be easier to debug.

[2020-05-04 19:15] danilo900 opened #192 "Modal not recognizing changes in height (Screen orientation change)"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduce**
https://snack.expo.io/@bookplay/react-native-modalize-bug-orientation

![giphy](https://user-images.githubusercontent.com/33874563/81004352-a5ce1480-8e22-11ea-9a08-33fcf7c1fad8.gif)

**Dependencies:**
 - react-native-modalize [1.3.7-rc.28]
 - react-native [0.62.2]
 - react-native-gesture-handler [1.6.1]

To rep

[2020-05-04 20:53] danilo900 commented on #149
@jeremybarbet  I Found out the problem

https://snack.expo.io/@bookplay/react-native-modalize-bug-height

The HeaderComponent is bugging the Modal on this situation.

Try on snack, with header its going to bug the scroll.
If you remove the header, its going to work perfectly.

:/

[2020-05-05 09:14] jeremybarbet commented on #149
Good catch! Usage of XComponent was the culprit. It should be fixed now, I will release asap.

About the async function that loads data before showing up should be on a new separated issue

[2020-05-05 09:37] jeremybarbet commented on #159
I will close this since 2.0.0 has been now released https://github.com/jeremybarbet/react-native-modalize/releases/tag/2.0.0

[2020-05-05 09:37] #159 closed

[2020-05-05 09:37] romreed commented on #52
I got the same error on iPhone 11 with rn 0.62.2

[2020-05-05 09:41] jeremybarbet commented on #52
I added in the latest release (2.0.0) [tapGestureEnabled](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=tapgestureenabled) props, you may want to try using it.

It could only potentially cause flickering if you are using `snapPoint` props apart from that it should work without any problem.

[2020-05-05 09:42] #149 closed

[2020-05-05 09:51] jeremybarbet commented on #157
Released in 2.0.0. I will close this issue, there is still some [work](https://github.com/software-mansion/react-native-gesture-handler/blob/master/RNGestureHandlerModule.web.js#L32) to be done on RNGH to support all gestures.

[2020-05-05 09:51] #157 closed

[2020-05-05 09:52] kg-currenxie commented on #149
2.0.0 works 🎉 thanks <3

[2020-05-05 09:52] jeremybarbet commented on #184
Thanks @Slaymd

I will close this issue, I released a fix in 2.0.0.

[2020-05-05 09:52] #184 closed

[2020-05-05 09:55] jeremybarbet commented on #192
Good catch!

It's a fairly easy issue, we are missing a DeviceOrientation listener to be able to re-run the modal's height setState.

Feel free to open a PR if you can this issue!

[2020-05-05 13:25] danilo900 commented on #149
Yeaaa, worked perfectly! @jeremybarbet  you are awesome ! <3

About the async function, forget that, its working here :D
On my example it already was with the method that I said :)

[2020-05-06 03:48] enniel opened #194 "modal doesn't close on scroll down"
Hi! The modal doesn't close on scroll down when I use it with `react-native-snap-carousel`.

**Reproduce**
https://snack.expo.io/@enniel/modal-carousel

**Dependencies:**
 - react-native-modalize 2.0.0
 - react-native 0.62.2
 - react-native-gesture-handler 1.6.1
- react-native-snap-carousel 3.9.0

[2020-05-06 06:55] v-vashchenko commented on #176
@jeremybarbet Hello! just tested the prop above, and it works not as You expect. It becomes fully not openable/closable with swipe and only way to open/close is using ref. So I think it will work for me. Thanks for great expirience using Your component!

[2020-05-06 08:40] jeremybarbet commented on #194
Hi!

Unfortunately, I'm not expecting all third-party library to work out of the box with Modalize. Gestures are really complex and using Modalize with a heavy gesture-based library like `react-native-snap-carousel` it will create conflict.

I have been able to make the scrollview working using the `customRenderer` and wrapping Carousel with an Animated Component: https://snack.expo.io/@jeremdsgn/

[2020-05-06 10:25] enniel commented on #194
@jeremybarbet  I created a [simple example](https://snack.expo.io/@enniel/modalcarouselsimple) using only `ScrollView` instead `react-native-snap-carousel`. `react-native-tab-view` doesn't work for me, since I need independent scrolling in every slide.

[2020-05-06 12:38] jeremybarbet commented on #194
Alright, yeah it looks like that the `horizontal={true}` is the culprit. I honestly don't know how to tackle this kind of problem.

It's quite similar to the `inverted={true}` props on the FlatList. This is some props that must change the core of Modalize to be able to handle these cases, not sure how to fix those.

[2020-05-06 12:50] Dharmi201 opened #196 "Function components cannot have refs. Did you mean to use React.forwardRef()?"
<img width="372" alt="Screenshot 2020-05-06 at 6 14 14 PM" src="https://user-images.githubusercontent.com/57965162/81178463-dc906000-8fc5-11ea-9f5b-778aee0f2a2e.png">

[code]
Tweet is a custom Component which has TouchableWithoutFeedback for accepting onPress

[2020-05-06 12:58] jeremybarbet commented on #196
It should be `useRef<Modalize>(null)` but not sure it's the issue.

Can you create a snack with the issue?

[2020-05-06 13:09] Dharmi201 commented on #196
Thanks for the quick response!
Nope I tried adding useRef<Modalize>(null) but its still not making any difference those spaces are just pretty prettier doing its thing.
Also I have a feeling the issues is with how hooks handle ref

[2020-05-06 13:17] jeremybarbet commented on #196
I can't help you more with only this few information.

[2020-05-06 13:51] Dharmi201 commented on #196
https://snack.expo.io/tsJ1GckUa Yeah I completely understand this is a simplified version of my code also I have no clue how expo/snack work so couldn't install your library there properly. Sorry Again hope you will understand.

[2020-05-06 13:57] jeremybarbet commented on #196
It works here: https://snack.expo.io/@jeremdsgn/modalize-error

[code]

This syntax is using TypeScript. If you are running under JavaScript, like it is the case under the snack repro you provided, you need to remove the typescript syntax otherwise it won't understand it.

[code]

[2020-05-06 14:59] enniel commented on #194
@jeremybarbet I make it! It worked.
https://snack.expo.io/@enniel/modalcarouselsimple

[2020-05-06 15:20] Dharmi201 commented on #196
Ohh Understood. It started working after adding this! Thank you so much! Also this is a beautiful library you have created.
Thanks again!

[2020-05-06 15:20] #196 closed

[2020-05-06 18:46] jeremybarbet commented on #196
Thanks for the comment, glad it works!

[2020-05-06 18:48] jeremybarbet commented on #194
Nicely done, it's pretty cool! I might add it to the examples documentation.

[2020-05-06 20:14] danilo900 opened #197 "It is not disabling scroll when possible"
Maybe its a new bug, that comes with the lastest version (2.0.0) Because you have modified something to fix the other bug with the height.

In my project, I need a fullscreen modal without scroll. =/

**Describe the bug**
The container is smaller than the Modal but it still with the Scroll active.

**Reproduce**
https://snack.expo.io/@bookplay/react-native-modalize-bug-disablescrollifpossible

Jus

[2020-05-06 20:37] jeremybarbet commented on #197
You need to use `adjustToContentHeight` props. `disableScrollIfPossible` only affect the scroll when the prop is used. We should maybe have a note about that in the doc

[2020-05-06 21:30] danilo900 commented on #197
But, I need the modal to cover all the screen, any tip?

If I set my content to entire height of the screen, it happens:
<img width="383" alt="Screen Shot 2020-05-06 at 18 28 22" src="https://user-images.githubusercontent.com/33874563/81230185-62f97180-8fc7-11ea-8ee8-15f944fb1788.png">
The modal do not fit the entire screen.

If I set the modalHeight: _screenHeight_
<img width="384" alt="Screen Sh

[2020-05-06 21:35] danilo900 commented on #197
Read your edit.
I Almost get happy here with your tip.
But, I tried with no success:
<Modalize ref={modalRef} scrollViewProps={{scrollEnabled: false}}>

[2020-05-07 08:55] jeremybarbet commented on #197
I will close this issue. You can now use `scrollEnabled: false`.

[2020-05-07 08:55] #197 closed

[2020-05-07 08:56] jeremybarbet commented on #192
Now released in `2.0.1`

[2020-05-07 08:56] #192 closed

[2020-05-07 08:56] jeremybarbet commented on #194
I believe this issue can now be close?

[2020-05-07 10:16] #194 closed

[2020-05-07 12:30] danilo900 commented on #197
PERFECT! TESTE AND WORKED NOW.

Thank you @jeremybarbet !!!

[2020-05-07 12:47] danilo900 commented on #192
Sorry to bring bad news here @jeremybarbet but,
Or Iam doing something wrong, or that fix ins't working.

Try opening in landscape the first time and then rotation back to portrait here:
https://snack.expo.io/@bookplay/react-native-modalize-bug-orientation

[2020-05-07 13:08] LucidNinja commented on #192
Hey @danilo900 - have you tried using window dimensions instead of screen? Just a thought without diving into it.

[2020-05-07 13:12] LucidNinja commented on #192
And what happens when you console log dim? Does it change on orientation change?

[2020-05-07 13:17] danilo900 commented on #192
@LucidNinja just tried here with the same result.

Yes, the dim.height is changing according:

![Screen Shot 2020-05-07 at 10 14 36](https://user-images.githubusercontent.com/33874563/81298769-9ed61a80-904b-11ea-9922-f0088d332aef.png)

Its something with: if the first opening height is 100, so the max height is set to that 4ever.
Dont we have a memoized value with the first opening value inside th

[2020-05-07 15:41] jeremybarbet commented on #192
Would you mind testing 2.0.2 now?

[2020-05-07 19:34] danilo900 commented on #192
@jeremybarbet Teste here bro, no results =/

[2020-05-08 08:18] jeremybarbet commented on #192
It should be good now in `2.0.3`

[2020-05-08 09:26] kaich commented on #17
@vnlebaoduy  I have the same problem in ios device. Do you have any solutions?

[2020-05-08 13:28] danilo900 commented on #192
Worked like a charm!

@jeremybarbet  thank you for your awesome work here!

God bless you.

[2020-05-08 17:10] jeremybarbet commented on #192
Glad it work!

[2020-05-08 22:06] GollyJer opened #199 "Dark mode overlayStyle blurred?"
Hi @jeremybarbet. I LOVE this component. It's made life so much easier. 👊

I'm in the process of building our dark mode theme (using Expo) and have got to the best point I think I can.

<img src="https://user-images.githubusercontent.com/689204/81452900-facc9c00-913c-11ea-9c43-b54d684863e7.png" width="280">

I don't hate it.. but the icing on the cake would be a blur effect on the overlay style.
I

[2020-05-09 04:36] GollyJer commented on #199
OK, got this working fairly well on my own.
I added the Expo BlurView between a Portal and Modalize.

<img src=https://user-images.githubusercontent.com/689204/81463999-076be700-9173-11ea-8b70-164058a25f15.png width=680>

Works great on iOS and fairly good on Android. I'm guessing Android has a limitation that doesn't allow it to truly blur.

## iOS
<img src=https://user-images.githubusercontent.c

[2020-05-09 07:50] jacobp100 opened #200 "Split into two modal and scrollview components"
**Is your feature request related to a problem? Please describe.**
I want to try and embed a stack navigator inside a modalize component (with react-native-screens). This pattern happens in Apple Maps

**Describe the solution you'd like**
If we could split the modal container and scroll view components in two, this would be possible

There could be a combined `<ScrollableModal />` that has the stu

[2020-05-09 18:40] jeremybarbet commented on #199
Hi, thanks for using Modalize!

I think your approach is the good one. Since Modalize doesn't know what are the elements behind it, you have to manually blur these elements and I don't think it could be handle on the overlay level.

From what I saw in the BlurView's documentation, it looks like they are wrapping the elements to blur with the component. And if it happens to be somewhere else than M

[2020-05-09 18:40] #199 closed

[2020-05-09 18:42] jeremybarbet commented on #200
Hi,

I'm not sure I understand your question. What do you mean by "split the modal component into a modal container and scroll view component".

Don't hesitate to attach gif/video of other apps to have some examples

[2020-05-09 18:46] jeremybarbet commented on #17
@kaich Have you tried [this props](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=tapgestureenabled)

[2020-05-09 19:06] jacobp100 commented on #200
I mean have one `<Modal>` component that only does the modal part, and one `<ScrollView>` component that handles the gestures.

That way I can have a modal component, put a navigator inside (from react native screens), and then inside each screen, but a scrollview

[2020-05-09 21:24] jeremybarbet commented on #200
Okay I got it now.

There is already a customRenderer props made for that. Except that the gesture props are applied to the first children, so it won’t be working in this context.

I could change this function to return as an argument the gesture props and then you could add the navigator as a first child, then the scroll view and pass the props down here.

Does it make sense?

[2020-05-10 16:25] Agilulfo1820 commented on #185
Could you give me a few hints on how I could achieve this? I would like to try and give it a shot.

[2020-05-10 20:41] jacobp100 commented on #200
I couldn’t really comment on whether that would work or not until I try it.

But just to clarify, in the same modal, I’ll have multiple screens inside a UINavigationViewController, and each screen will have their own scrollviews and headers in, and all of the headers scrollviews should dismiss the modal.

What would be neat is if I could define something like this,

[code]

Then I could make loads

[2020-05-14 10:23] ConorWatsonSoar opened #203 "Can we "lock" the modal once it is open?"
**Is your feature request related to a problem? Please describe.**
I have a use case where I would like to open and close the modal only by using the `open` and `close` methods. Ideally the user would not be able to dismiss the modal until they have interacted with something inside the modal which would call the `close` method.

**Describe the solution you'd like**
I think the simplest solution wo

[2020-05-14 12:02] jeremybarbet commented on #203
Hi!

Yes it's possible. You can pass the props `panGestureEnabled={false}`, scrollview will still be interactive, but the swipe gestures will be disabled

[2020-05-14 13:19] jeremybarbet commented on #185
Hey!

It might not be as easy as I was thinking, because it would need couple of changes to different places.

First, you would need to cancel the drag event here https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L616

And then you would need to avoid gestures event to happen around here https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L

[2020-05-14 16:44] ConorWatsonSoar commented on #203
@jeremybarbet Fantastic, that is exactly what I was looking for! I also had to use `closeOnOverlayTap={false}` to achieve what I wanted, but it works really well!

[2020-05-14 16:44] #203 closed

[2020-05-14 22:00] jeremybarbet commented on #200
Based on your code example, it looks way more complicated to do, in fact, it would be a massive refactoring.

All the logics for the header/scrollview is inside the core of Modalize and taking it out would require some work.

It's definitely a good use case and supporting this would be a huge plus. I won't have time to work on it anytime soon, but if you have any chance to jump in the code, feel f

[2020-05-15 09:55] waheedakhtar694 opened #204 "Disbale panGesture partially"
I have some nested components inside the modalize and panGesture is making problem while working interacting with these components, These components work fine if I disable the gesture with this `panGestureEnabled={false}`.

Now my question is, Is there a way for disabling the gesture for some particular area or some specific component? Like in the `react-navigation v5` the modal has gesture enable

[2020-05-15 11:05] jeremybarbet commented on #204
Hey,

First if the interactions don’t work, have you try to set this [props](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=tapgestureenabled) to false?

Second, no it’s not possible to define certain area of the scrollview enable or disable and I don’t think it can be done.

Last thing I see, it could be possible to enable the header/footer/floating components gestures while the

[2020-05-15 16:35] DevanshaniR opened #205 "Swiping & ovelayPressed is not working in android"
**Describe the bug**
I'm using the modalize component to trigger in a flat list item tap.This is my code.Please give a solution.
<Modalize ref={this.modalizeRef}
            //  snapPoint={300}
            panGestureComponentEnabled={true}
            panGestureEnabled={true}
            withReactModal={true}
            modalHeight={200}

**Reproduce**
- Create a demo on https://snack.expo.io to

[2020-05-15 18:31] jeremybarbet commented on #205
Hey,

Yes it’s an issue related to react-native’s modal.

I would recommend using Portalize to display Modalize on top of the node you need.

See more https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=withreactmodal

[2020-05-15 21:27] eric-wood opened #206 "SectionList unable to scrollToLocation"
**Describe the bug**
I'm using Modalize with `sectionListProps`; all is well so far, but I'm attempting to scroll to specific section when a button in the `HeaderComponent` is pressed.

I'm using the `contentRef` param to retrieve a ref of the `SectionList`, and it seems to be populating correctly, but I cannot seem to access the `scrollToLocation`. The [docs](https://jeremybarbet.github.io/react-

[2020-05-16 08:29] appify-waheed commented on #204
@jeremybarbet As you said it's possible to enable the header/footer/floating components gestures while the scrollview gestures are disabled, Is there any way we can disable the gesture of these components ?

[2020-05-17 11:19] DevanshaniR commented on #205
@jeremybarbet  if I use portalize can I overcome the overlay pressed and swiping issues ?

[2020-05-17 14:10] jeremybarbet commented on #205
Yes and you will need to remove withReactModal props that won’t be necessary anymore.

[2020-05-17 14:31] DevanshaniR commented on #205
@jeremybarbet  I tried with portalize. But it gives below error. Please guide me. I want to open the modal in the flat list item tap.

![Screenshot_20200517-195708 1](https://user-images.githubusercontent.com/57615298/82151354-c8c3e400-9878-11ea-858a-6e812621a1fd.png)

Below is my code -

`render() {
    return (
      <Host>
        <View style={styles.container}>
          <Header
            st

[2020-05-17 14:43] DevanshaniR commented on #205
@jeremybarbet  I got the same issue when I'm using portalize also. I can't swipe up ,swipe down & overlay tap to close the modal.
Below is my code .Please guide on me to solve the issue

[code]

[2020-05-17 17:09] Mactub07 opened #207 "NEED HELP: is it possible to pass react-navigation stack to Modalize?"
**Describe the bug**
Problem: Given that:
- I have Modalize wrapper;
- I need to pass Inside Modalize Screen1, Screen2
- I need to navigate between Screen1/Screen2 this using props.navigation.navigate...

As a developer I want to:
- load app
- Modalize is opened
- there is Screen1 inside Modalize;
- I navigate to Screen2 which should be also in Modalize;

Main idea: is there a way to pass react-na

[2020-05-18 05:05] DevanshaniR commented on #205
@jeremybarbet  any update?

[2020-05-18 10:01] ydv0121 opened #209 "onPositionChange callback gives 'initial' when called with open() method"
**Describe the bug**
Hello
as i see `adjustToContentHeight` is working properly with `alwaysOpen`. (as i reported earlier [this one](https://github.com/jeremybarbet/react-native-modalize/issues/172) and its fixed in rc25..thank you so much for that..
but after that one more issue i faced that when i am using `open(dest)` method on button press at that time `onPositionChange` called and modal will

[2020-05-19 12:02] Filetes97 opened #210 "Modalize closes itself after content changes"
Hi guys, I might be missing something.

`<Modalize

        ref={modalizeRef}
        alwaysOpen={fixedFooter ? 1 : snapPoints[1]}
        modalHeight={snapPoints[0]}
        withOverlay={false}
        onPositionChange={handlePosition}
        FloatingComponent={renderHeader}
        avoidKeyboardLikeIOS={true}
        rootStyle={bottomSummaryStyles.root}
        panGestureComponentEnabled

[2020-05-20 08:38] jeremybarbet commented on #205
Hi,

Not sure what you are trying to do. Tried your code [here](https://snack.expo.io/@jeremdsgn/test) and it works.

If you want to use a FlatList inside Modalize you have to use this [props](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=flatlistprops).

If you want me to help you to debug more, you have to reproduce the issue on https://snack.expo.io like stated in the issue te

[2020-05-20 08:41] jeremybarbet commented on #207
Hi,

I didn't try this behavior, did you? It's kinda the same question as [here](https://github.com/jeremybarbet/react-native-modalize/issues/200).

It would be definitely a big plus to be able to embed stack navigators but not sure if there is limitations at the moment.

If you did try and have a running example, even if it's not working, share it through snack.expo so I could dig more into it.

[2020-05-20 08:43] jeremybarbet commented on #210
Hi,

It sounds like your whole component owning Modalize is re-rendering causing the closing animation.

You could probably try to split your component into smaller to target where the re-render comes from, or use `useMemo` on the children to avoid that, if possible.

Create a repro case on snack.expo if you want me to help out more

thanks

[2020-05-20 08:45] jeremybarbet commented on #204
For now, it's not possible. You are only able to [enable/disable](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=pangestureenabled) all gestures altogether.

Even though, it would be very easy to add a boolean to enable/disable only the header/footer/floating component and not the scollview and vice versa.

Feel free to open a PR if you have a fix for it :)

[2020-05-20 09:13] jeremybarbet commented on #206
Hi,

Here is a working [example](https://snack.expo.io/@jeremdsgn/modalize-scrolltolocation-demo).

hope it helps

[2020-05-20 09:19] jeremybarbet commented on #209
Thanks for reporting.

It should be fixed in latest version `2.0.4`.

[2020-05-20 11:53] DevanshaniR commented on #205
@jeremybarbet  I'm using react-native-navigation & I tried by using Navigation.showOverlay method as it is in the example. But it is not working

[2020-05-20 12:28] jeremybarbet commented on #205
Here is the doc to run the [example](https://jeremybarbet.github.io/react-native-modalize/#/DEVELOPMENT?id=react-native-navigation) for react-native-navigation. Try it out on simulator, real device and if you have an issue on Android, take a video, provide a reproduction code.

thanks

[2020-05-20 12:31] DevanshaniR commented on #205
@jeremybarbet  yes I tried this one.
https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-native-navigation/src/screens/SimpleContent.js

[2020-05-20 12:35] jeremybarbet commented on #205
Can you provide android device specs you tried it on?

[2020-05-20 12:40] DevanshaniR commented on #205
@jeremybarbet
Simulator - Huawei GR5
react native version -  "react-native": "0.60.5"

What is wrong with my code. PLease help. Thankyou
code -
main screen -

[code]

bottomPanel -

[code]

[2020-05-20 12:41] jeremybarbet commented on #205
You don't need Portalize while using react-native-navigation.

[code]

[2020-05-20 12:47] DevanshaniR commented on #205
@jeremybarbet I tried. But the same issue cant swipe. Big help . Thank you. I have attched the screen recording below
https://drive.google.com/open?id=1D6oZmr50xyPxNRRqy6Zov3FZeIO6GAVa

[2020-05-20 12:50] jeremybarbet commented on #205
I will try later with your device specs and the react native version

[2020-05-20 12:51] DevanshaniR commented on #205
@jeremybarbet  thank you. I'm waiting for the solution.

[2020-05-20 15:23] Sasha95 opened #211 "Problem with the keyboardavoid on ios"
There is a problem with the keyboard, if there are many input fields, then keyboardAvoid does not work on ios. Also, when the keyboard appears, the background first appears (in older versions this problem was not) on ios.

 - react-native-modalize 2.4.0
 - react-native 0.62.0
 - react-native-gesture-handler 1.6.1
 - @react-navigation/bottom-tabs: 5.2.7
 - @react-navigation/compat: 5.1.9
 - @react-

[2020-05-20 18:12] chrisdrackett opened #212 "ability to animate overlay during open / close"
This might be possible and I haven't figured it out yet, but I'd like to animate the overlay opacity during open and close instead of it just showing / hiding at the beginning and end.

[2020-05-21 11:45] levani opened #213 "Multiple snap points"
Is it possible to set multiple snap points for the component? Instead of passing a single value in `snapPoint` I need to specify at least two snap points. I thought it would better if there is a support for `snapPoints` prop which will be an array of snap points, like this:

`<Modalize snapPoints={[700, 400]}>...your content</Modalize>`

[2020-05-22 10:41] #210 closed

[2020-05-23 10:53] Hirbod commented on #189
Hi @jeremybarbet yeah but those never get called, since you unregister those events in the callback of "useEffect" and the handler is prob. lost.

React native docs say, to use a ref for this.

Something like

[code]

I haven't verified it, but it looks like that is the issue. Currently, it's registering multiple backbutton events (if I open the modal 10 times and closing it using the swipe), I ha

[2020-05-24 00:05] dan-lee commented on #138
@motogod How did you fix that issue?

[2020-05-24 10:16] Hirbod opened #216 "Interpolate background opacity"
Hi,

I would like to be able to interpolate the opacity of the backgroundColor while dragging the modal. Currently, it will always stay at the provided style and fadeOut once closed. Of course it should interpolate back if the user aborts.

That would be nice. Maybe you already have an Idea how to achieve that.

[2020-05-24 12:28] Hirbod commented on #216
Oh man you are awesome, just found panGestureAnimatedValue. Thats exactly what I needed, I was able to implement what I need!

[2020-05-24 12:28] #216 closed

[2020-05-24 14:00] hirbod opened #217 "Small issue with panGestureAnimatedValue"
**Describe the bug**
When I use the prop "panGestureAnimatedValue" to animate a pitch black background from 1 to 0 doing this quickly after the modal opened, it looks like that animated value is set too late.
I have attached a video to demonstrate the issue. If I wait a second before I drag down, everything is fine but when I start dragging instantly there is a issue. Things getting worse when the

[2020-05-25 03:21] motogod commented on #138
@dan-lee

I set up additional <View /> try to fix my issue.

[code]

[2020-05-25 09:36] #209 closed

[2020-05-25 09:54] jeremybarbet commented on #212
Hi!

It's not possible at the moment, because as you said overlay animation is run onOpen/onClose triggered. Even though it shouldn't be complicated to implement and would be really nice. Feel free to open a PR if you have time before me!

[2020-05-25 09:55] jeremybarbet commented on #213
Hi,

Yeah that would be best. Either defining a number or an array or number to avoid breaking changes or simply using an array all the time. It requires a bit of work but shouldn't be too complicated.

Feel free to open a PR if you have time to do that before I can jump on that.

[2020-05-25 09:56] jeremybarbet commented on #217
Hi,

Good catch!

First, the overlay opacity should be handled in the core and you shouldn't have to do it by yourself. But the issue you got would apply for any animation. I will try to take a look at it when I have some time.

[2020-05-25 10:00] Hirbod commented on #217
Hi @jeremybarbet the overlay opacity is handled in the core but not animated based on pan (it gets faded out when it's closed). Thats why I did that on my own (which is totally fine, since I am running my modal "withOverlay={false}" anyway. But as you said, the error happens whenever you try to rely on the "panGestureAnimatedValue". Thats why I removed my scale animation, because that glitched too

[2020-05-25 10:11] Hirbod commented on #217
Maybe this is also helpful for you

[code]

And I know, its not perfect passing down a ref to a child, I should forwardRef or something

[2020-05-25 16:52] ydv0121 commented on #209
@jeremybarbet thank you its worked

[2020-05-26 11:19] maartenvandillen commented on #58
This fixed it for me: https://github.com/callstack/react-native-paper/issues/736#issuecomment-455678596

I needed to change the header prop from a function to an element.

[2020-05-27 16:38] danilo900 opened #219 "Android: scroll disabled using adjustToContentHeight"
**Describe the bug**
Hello,
You have fixed other bug that I have related to iOS, similar one.
But now, Iam testing on Android and I went to a bug here.

If we use **adjustToContentHeight**, the content ins't scrolling.

Another bug that you can reproduce in the same snack bellow is:
We cant drag the modal clicking on the HeaderComponent (ios does). If you want, I can open a new issue with that one

[2020-05-28 07:56] raheelCb commented on #149
same issue causing me in your current release

[2020-05-28 11:44] danilo900 commented on #149
Are you testing on Android?
I Got the error on Android, on iOS its ok.

Reported here:
https://github.com/jeremybarbet/react-native-modalize/issues/219

[2020-05-28 11:48] raheelCb commented on #149
Yes I am testing on android

[2020-05-28 11:51] raheelCb commented on #149
One more issue I am facing is that when I load my component. If the content is more than the height, then it first automatically scroll up and then to the snap point where I have adjusted it to be on certain position

[2020-05-29 14:17] waheedakhtar694 opened #220 "Preserving Modalize state while navigating to other screen"
**Is your feature request related to a problem? Please describe.**
Yes, I wanted to navigate on some different screen but as I am using a full-screen modalize with portal it always renders on top of the navigation so it means it I have to close the modalize while navigating otherwise it will navigate but the user will not be able to see the screen, So when I close that modalize I lost the state of

[2020-06-01 05:22] adrrian17 commented on #133
@jeremybarbet hi, I was wondering if you had an example to make something like in this [GIF](https://user-images.githubusercontent.com/937328/80501688-40c87980-895f-11ea-97db-63b9b029eab4.gif)

[2020-06-01 16:07] adrrian17 commented on #133
@jeremybarbet hi again, I just found the example for the Facebook WebView, thanks

[2020-06-01 17:55] danilo900 commented on #149
Yea, so its related to my new issue. #219

[2020-06-02 09:31] khjde1207 opened #222 "I called the function "open('top')" panGestureAnimatedValue is "0"."
**Describe the bug**
I called the function modal.current.open('top')
panGestureAnimatedValue is "0".

[code]
**Reproduce**
![ezgif-2-66e12f38b6eb](https://user-images.githubusercontent.com/18232924/83504239-3d488500-a4ff-11ea-973b-c210dca5a03e.gif)

**Dependencies:**
 - "react-native-modalize": "^2.0.3",
 - "react-native": "^0.62.2",
 -"react-native-gesture-handler": "^1.6.1",

[2020-06-02 15:16] Hirbod commented on #222
its most likely related to my issue #217

[2020-06-04 07:17] ivanliut commented on #219
I have experienced the same issue with adjustToContentHeight and disable scrolling for Android. Could you please fix this issue asap, that'll be extremely helpful.

[2020-06-04 09:27] ydv0121 commented on #219
+1

[2020-06-04 17:06] danilo900 commented on #219
A workaround till it be fixed is:
disableScrollIfPossible={false}

So, we always be with scroll enabled.

Of course, just a workaround till we have a fix for it.

Thanks, waiting for @jeremybarbet  the best! haha

[2020-06-05 06:27] ivanliut commented on #219
@danilo900 You've made my day! Thanks for your help

[2020-06-05 09:01] ydv0121 commented on #219
@danilo900 Thank you for the workaround..it works **only if** we didn't use `alwaysOpen`.
but in my case i am using `alwaysOpen` and put this `disableScrollIfPossible={false}`.
So it's not working when i am using `alwaysOpen`.  ☹️

@jeremybarbet

[2020-06-08 06:52] ydv0121 commented on #219
@danilo900 do you have any other workaround to make scorll work when using `alwaysOpen`

[2020-06-08 12:36] danilo900 commented on #219
Sorry, I don't, Iam not using alwaysopen =/

[2020-06-08 15:21] appify-waheed opened #223 "Swipe not working on header component"
**Describe the bug**
I have a video player that I am rendering inside the HeaderComponent but when i try to close the modalize while swiping on the video player, Swipe not works on android but on ios its working fine.
**Reproduce**

https://snack.expo.io/@waheed25/fd030f

**Dependencies:**
 - react-native-modalize 2.0.4
 - react-native 0.61.5
 - react-native-gesture-handler 1.5.2
- expo/react-navi

[2020-06-09 17:33] stephanoparaskeva opened #224 "When Setting closeAnimationConfig -> onClosed fires too Late"
I find the animation too fast, using the config you can change this but it's still too sharp. What is worse is that when you provide closeAnimationConfig the 'onClosed' event fires late, no matter what you set it to if you use closeOverlayOnTap.

[code]
This means that you cant interact with any buttons on the UI until the onClosed has fired meaning it delays/freezes for a time if you close the Mo

[2020-06-10 19:32] bakerac4 opened #225 "Scroll list up or down to close"
Right now, if you scroll (swipe down) and get to the top of the list, the modal closes. If you take a look at how Facebook works with their modals, if you get to the bottom of the list and and continue to swipe up (scroll down) it also closes the modal. I find this quite useful for one finger app control.

Thanks!

[2020-06-11 07:26] #223 closed

[2020-06-13 03:14] usama-asfar commented on #151
have this bug fixed?

[2020-06-14 15:38] ydv0121 commented on #219
@jeremybarbet is there any possibilities to solve this???

[2020-06-16 10:20] jamesawer3 opened #228 "Android KeyboardAvoidingView issue"
**Describe the bug**
   In android phone KeyboardAvoidingView is not working correctly textinput is hiding.

**Reproduce**
![WhatsApp Image 2020-06-16 at 3 37 22 PM](https://user-images.githubusercontent.com/43437378/84761664-5fee9980-afe7-11ea-8e2b-574257349353.jpeg)

**Dependencies:**
 - react-native-modalize - 2.0.1
 - react-native - 0.62.2
 - react-native-gesture-handler - 1.6.1
 - react-navig

[2020-06-17 22:28] islamouzou opened #229 "Can't add third state for the Panel"
Hello ,

I love how the panel is implemented , however i'm trying to add a panel state , but i couldn't .

i put the panel to alwaysOpen(10) to show a Text ,
what i want is to swipe once to open it till the middle of the screen , then if swipe again it opens at full height . is it possible to do this ??

[2020-06-19 09:05] usamaahm61 commented on #228
any solutions?

[2020-06-19 13:27] remanation commented on #207
I have just tried it out. You can find an expo snack [here](https://snack.expo.io/@remanation/sheet-example)
I kind of works. My problem is that I need to wrap the Navigator in a View and hardcode a height for the View, if I have not explicit set a height nothing is shown. It does not work of I set flex:1 or height:'100%' :-(
I'm not sure if this is an issue with react-native-modalize, react-navig

[2020-06-22 11:56] jamesawer3 commented on #228
Nope I didn't get any solution

[2020-06-24 19:20] DevangMstryls opened #232 "How to pass data to the modal?"
Hey Jeremy, first of all, its a really good plugin. Thanks for making it!

Is there a way to pass data to the modal on opening?
As in like:
[code]
and then access it in the Modal:

[code]

I've looked into the docs, but didn't find anything like this. Let me know if I'm missing something here!

[2020-06-26 01:00] nimblyscott commented on #205
@jeremybarbet @DevanshaniR Have there been any revelations on this?

[2020-06-26 10:06] StarryFire commented on #200
I want to use a normal View as the container of the content in modalize rather than a `ScrollView`, `FlatList` or `SectionList` so i can use my own `FlatList` inside it! This is giving me a the `Virtualized List` warning otherwise.

[2020-06-29 05:31] GollyJer commented on #132
Have you guys run into any other ideas?
This makes the UX pretty unprofessional for an app. I'm running into this at the end of a project and am now dreading having to replace all the Modalize components. 😭

[2020-06-30 14:23] archansel commented on #189
I have this issue too but in my case, it is not only swipe down to close but also any method to close modal except back button (swipe down, backdrop click, and modal.close())

[2020-06-30 21:26] appify-waheed commented on #217
I am trying to animate my child component which has almost similar behavior like shown in this example
https://github.com/jeremybarbet/react-native-modalize/blob/master/examples/react-navigation/src/components/modals/AppleMusicPlayer.js
but when I try to make an animation ref with a class component like this

```this.animated = React.createRef(new Animated.Value(0)).current```

and passing ```this

[2020-07-01 08:48] archansel opened #233 "Exposed IProps as ModalizeProps"
**Is your feature request related to a problem? Please describe.**
As ts user, sometimes I need to extends Modalize props with my own props, just like many other libs, they also export its props

**Describe the solution you'd like**
Export IProps like you export IHandles maybe something like `export type ModalizeProps = IProps`, it should be a simple fix, I would make PR if you agree

[2020-07-01 09:56] archansel commented on #189
I can confirm example react-navigation in this repo also have the issue

[2020-07-01 11:36] archansel commented on #189
I add some debug code to see whether back handler is executing or not
[code]

This is what the logs look like
[code]
as you notice, it doesn't event call `useEffect BackHandler.removeEventListener`

Now following @Hirbod suggestion, I use ref for the listener
[code]
And the issue is fixed.

I might be able to create PR but I'm not good with testing though

[2020-07-01 12:21] archansel commented on #189
PR created here #235

[2020-07-01 12:28] Hirbod commented on #189
Thanks for your PR. Your PR looks good to me.

[2020-07-02 00:47] GollyJer opened #236 "Why is state not showing up in the onOpened event?"
Cross-posted from [StackOverflow : Why is state not showing up in the Modalize onOpened event?](https://stackoverflow.com/questions/62687283/why-is-state-not-showing-up-in-the-modalize-onopened-event)
Kind of feel like I'm going crazy right now. 😕

---
I have what seems to be a simple setup.

 - Some state the that holds the selected task.
 - A `useEffect` that
   opens the modal when the state is

[2020-07-02 13:39] appify-waheed commented on #139
@jeremybarbet `is there a way we can change the position of always opened portion?`
I have implemented behaviour similar to apple music and when the music starts it will keep open and I also rendered modalize on top of navigation so I can navigate anywhere while opening this but now I wanted to change the position of the portion which always remain open as I have tabs so that portion covers the ta

[2020-07-02 18:32] coolp123 opened #237 "Animate height change when content changes"
**Is your feature request related to a problem? Please describe.**
In my setup, I have state dictating view/edit mode. When in edit mode, a few more buttons appear and the modal's height is automatically readjusted since I have `adjustToContentHeight` enabled.

**Describe the solution you'd like**
The height changes as expected, though unfortunately it is jarring. Is there anyway of having the hei

[2020-07-05 13:42] Oluwatemilorun opened #238 "closeOnOverlayTap and Modalize.close() does not remove hardwareBackPress event listener"
**Describe the bug**
When the modal is opened and closed with the overlay `closeOnOverlayTap={true}` or using the method `Modalize.close()` doesn't bubble up the backbutton event until the backbutton is pressed the number of times the overlay was used to close the dialog.

This means, whenever the modal is open with `Modalize.open()`, a new event listener `BackHandler.addEventListener('hardwareBac

[2020-07-06 12:17] ashirogisen opened #239 "[Ask] Modalize's usage in smaller component"
First of all, I want to say thank you to all of people who contribute to this awesome component. It works perfectly when I implement it in Screen page, but it's kinda broken if I use it in components from the Screen Page.

First look
<img width="289" alt="Screen Shot 2020-07-06 at 19 18 11" src="https://user-images.githubusercontent.com/53157683/86592349-7c19a100-bfbd-11ea-8637-477b45f95338.png">

[2020-07-08 08:45] lukeramsden commented on #229
Are you talking about multiple snap points like reanimated-bottom-sheet? May be a duplicate of #213

[2020-07-08 22:11] marioaks opened #241 "Using flatListProps crashes modal on web"
Hey there,

### Description
I've been using this library on expo with react-native-web, and there seems to be a problem with FlatListProps. Whenever I add that prop in, the app crashes with the following error:

[code]

I basically tried copying the Expo example word for word ([https://github.com/jeremybarbet/react-native-modalize/blob/2dbe04b88f2621d5d8a5fcb7b9be2430f34ba417/examples/expo/src/com

[2020-07-09 08:26] seralexeev commented on #204
Hey, we had a similar problem. We use react-native-modalize for all modals in our application, and would not want to pull something else because we like it. But now we have a need to display an always open modal, on the main screen halfway across the screen. Inside the modalize component with refresh control. We want to disable panGesture in this state so that the user can make a pool then refresh

[2020-07-12 05:57] KumaranKanagaraj commented on #232
Is there a way to do it, I too looking for it.

[2020-07-25 10:11] jeremybarbet commented on #233
Cf: #234

[2020-07-25 10:11] #233 closed

[2020-07-25 10:13] jeremybarbet commented on #189
Cf: #235

[2020-07-25 10:13] #189 closed

[2020-07-25 10:39] jeremybarbet commented on #232
Hi,

It's not possible as you describe it, but you could wrap Modalize inside a component and pass your props there.

[code]

[code]

[2020-07-27 16:01] SmirnovM91 opened #244 "[iOS] KeyboardAvoidingView is not working when modalHeight is defined"
**Describe the bug**
keyboardAvoidingView is not working when modalHeight is defined;

**Reproduce**

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32675072/88564170-b1615e00-d054-11ea-8bf9-352943005ab2.gif)

[code]

**Dependencies:**
 - react-native-modalize [2.0.5]
 - react-native [0.62.0]
 - react-native-gesture-handler [1.7.0]
 - @react-navigation/native: [5.7.1]

[2020-07-27 18:04] Dharmi201 opened #245 "Is there any workaround to enable swipe to dismiss modal on Android"
I read it on the documentation about this limitation of this library, but curious to know if there is any workaround as not being able to swipe and dismiss the modal seems very counter intuitive and a bad UX for the android users. If not swipe just being able to tap outside the modal to dismiss it will also work for now. Thanks!

[2020-07-28 03:41] engeslamadell commented on #41
I had this issue for a while and want to share what worked for me
1- I have used react-native-portalize as mentioned.
2- removed the withReactModal prop from the modalize
3- wrapped the modalize with Portal from react-native-portalize and the component that I want modal on top of it -which was a tab navigator- with Host from react-native-portalize
4- completed the setup of gesture handler as menti

[2020-07-28 04:05] asp3 commented on #213
+1, would really love this feature in the future!

[2020-07-28 10:53] Hirbod commented on #217
@jeremybarbet did you manage to have look at this issue? Would be lovely to get this resolved.

[2020-07-29 19:28] AdarshJais commented on #52
**************TAP NOT WORKING WHEN I WANT TO SELECT THE SEARCHED LOCATION*********

 <Modalize tapGestureEnabled={false} alwaysOpen={height / 1.4} withHandle={true}>
          <ScrollView keyboardShouldPersistTaps={'handled'}>
            <View
              style={{
                height: 90,
                backgroundColor: 'white',
                borderTopLeftRadius: 15,
                borde

[2020-07-29 19:30] AdarshJais commented on #52
<Modalize tapGestureEnabled={false} alwaysOpen={height / 1.4} withHandle={true}>
          <ScrollView keyboardShouldPersistTaps={'handled'}>
            <View
              style={{
                height: 90,
                backgroundColor: 'white',
                borderTopLeftRadius: 15,
                borderTopRightRadius: 15,
                justifyContent: 'center'
                // shad

[2020-07-29 19:38] AdarshJais commented on #52
@jeremybarbet Please Reply Buddy

[2020-07-29 19:39] AdarshJais commented on #52
@Hirbod @vnlebaoduy @romreed @fekajin  Can anyone help me out with this issue ??

[2020-07-29 19:48] AdarshJais opened #246 "Tap(onPress) not working with GooglePlacesAutocomplete"
[code]

[2020-07-29 19:55] AdarshJais commented on #246
![WhatsApp-Video-2020-07-30-at-123](https://user-images.githubusercontent.com/40723757/88846670-9123d180-d203-11ea-84e5-4a928fb344df.gif)

[2020-08-01 08:37] fadiaIW commented on #219
Thanks! this solved my problem!

[2020-08-03 17:06] marioaks commented on #241
For whoever runs into this issue, I found and fixed the problem. Version 0.11.7 of RNW (the version that expo 38 uses) doesn't have an Animated FlatList or an Animated SectionList. So I just added the following code to the index file and ran `npx patch-package react-native-modalize`:

[code]

[2020-08-04 03:50] LucidNinja opened #247 "contentRef.current.getScrollResponder is not a function"
**Describe the bug**
I'm using Modalize as a search modal for a book type app. The search box is in the header of the modal and the results appear in the FlatList in the modal. When attempting to programmatically scroll to the top of the FlatList, I receive this error:

`contentRef.current.getScrollResponder is not a function`

I have tried removing 'current' and get basically the same error (the

[2020-08-04 05:54] LucidNinja commented on #247
I was able to resolve this by using:

`contentRef.current.getNode().scrollToOffset({ animated: true, offset: 0 });`

I think it was a mix of inconsistent documentation and an 'older' version of RN. Perhaps the documentation needs to be updated?

[2020-08-05 06:57] kg-currenxie commented on #64
`adjustPan` worked for me too! <3

[2020-08-05 20:31] Jahans3 commented on #133
Hi @adrrian17 do you mind linking to the example for the Facebook style WebView? I can only find one using react-native-webview, thanks!

[2020-08-06 07:18] kg-currenxie opened #248 "panGestrureHandle in the Header component prevents some clicks"
**Describe the bug**
I have a text field component in the header of the modal. The field has a clear icon. It doesn't trigger the press. Although, the opacity animation happens.
The clear works if I add `enablePanGestrureHandle={false}`

**Reproduce**
- Create a demo on https://snack.expo.io to reproduce the issue.
Don't have time for a snack today. I can make one another time. Just checking first

[2020-08-06 18:12] davidbiller opened #249 "modalizeRef.current?.open("top") <- opens as default (Bottom)"
https://jeremybarbet.github.io/react-native-modalize/#/METHODS?id=open

i try to open the Modalize Modul like this:  modalizeRef.current?.open("top");
Its not working?

[code]

[2020-08-07 11:09] jeremybarbet commented on #139
Hi @waheedakhtar694,

I don't think using Modalize for this behaviour is the way to go. Even though, you could add another wrapping component and use this new level to create your floating component.

[code]

I haven't tried that, but that's how I would approach it, not really sure of the behaviour and I think it would be weird if you use swipe gestures but it could be a way to do that.

Another s

[2020-08-07 11:39] jeremybarbet commented on #237
Hi,

Yes, this is definitely something I would like to have in the library. It would go through props, probably `animateHeightChangeEnabled`.

I don't have time to look at it right now, but if anyone wants to look at it and implement the feature, feel free. I will look at it at some point, but not any time soon.

PS: Sorry for the late reply, I was on holidays.

[2020-08-07 12:45] waheedakhtar694 commented on #139
Hi **@jeremybarbet** ,

Thanks for your comment, right now here is the implementation I have, where I am changing the height and width **onPositionChange**
<img width="306" alt="Screenshot 2020-08-07 at 5 27 22 PM" src="https://user-images.githubusercontent.com/45425486/89645627-9ce25880-d8d3-11ea-81e1-e992e07f7e52.png">

I am facing two issues with it, on first render ref is null because we can't

[2020-08-07 13:55] jeremybarbet commented on #220
Hi,

I will close this "issue" as it's not related to react-native-modalize directly but with the fact how your navigation is configured. As soon as you unmount a screen/component you will lose its state and you will need to re-inject the data somehow when mounting it again.

- If you want to keep Modalize open while navigating then you need to use a Portal Host. You can minimize it for user to se

[2020-08-07 13:55] #220 closed

[2020-08-07 13:56] jeremybarbet commented on #217
Hi @Hirbod, it's on my radar and I will try to tackle it when I have some time.

[2020-08-07 14:15] jeremybarbet commented on #224
Hi,

First of all, it's `closeAnimationConfig`, not sure if your typo only happens in this issue or also in your code.

Indeed the `onClosed` is a delayed a lot, but this is because of the spring value and there is nothing we can do about that. The slowest the spring animation is, the slowest the "bounces" will be and will delay the trigger of `onClosed` callback.

You could instead remove the spr

[2020-08-07 14:22] jeremybarbet commented on #207
Hey @remanation that looks really nice! Looks like swipe gesture are not working but it's a good start.

You could use [onLayout](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=onlayout) props to get the height of Modalize. I don't think you will be able to get away with it and you will need to define it anyway

[2020-08-07 14:55] #224 closed

[2020-08-10 10:13] waheedakhtar694 commented on #247
@LucidNinja You need to use `contenRef` to get your desired function.

https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=contentref

[2020-08-10 13:07] maystrenkoYurii opened #250 "modal modalTopOffset android"
madal top offset must be 0

[2020-08-11 07:16] azhararmar commented on #127
I had the same issue, for me it worked when I used `withReactModal` props

[2020-08-11 13:42] usama-asfar opened #251 "closeOnOverlayTap={false} not working"
using ` closeOnOverlayTap={false}` props not working and tapping outside modalize closes the modalize

[code]

[2020-08-11 19:20] Abdulrahman91kh commented on #200
According to the documentation, you can use "[customRenderer](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=customrenderer)"

Simply you can do something like
` const AnimatedComponent = (
            <Animated.View style={{flex: 1}}>
                        <FlatList .../>
                        <AnotherComponent />
            </Animated.View>
)`

Then you can do
`
<Modalize

[2020-08-12 08:43] jeremybarbet commented on #238
Should be fixed in `2.0.5`

[2020-08-12 08:43] #238 closed

[2020-08-12 08:46] jeremybarbet commented on #251
Fixed. I will deploy a new version asap.

[2020-08-12 08:46] #251 closed

[2020-08-12 08:53] jeremybarbet commented on #247
Hi,

If you use the new ref that went out a while ago (react@16.3 iirc), `.current` is mandatory.

Apart from that, as stated in the documentation, depending on the version of react-native and the renderer you are using (scrollview, flatlist, sectionlist) the way to access the methods are different.

I didn't list all the solution because I'm not aware of them all. Feel free to open a PR if you wa

[2020-08-12 08:53] #247 closed

[2020-08-12 09:00] waheedakhtar694 opened #252 "Switch between initial and top position programmatically"
I have a modalize with always open height and in always open position I wanted to go on top position programmatically, instead of expanding or dragging to go into full height I wanted to place a button and on the button onPress it will be expanded.

@jeremybarbet i tried `modalRef.current.open('top')` but only works when modal is closed.

**Describe the solution you'd like**
maybe somehow we able

[2020-08-12 09:04] jeremybarbet commented on #245
Hi,

Swipe to dismiss modal on Android works. Limitations are only when you use the `HeaderComponent`, `FooterComponent` and `FloatingComponent` props.

You can decide to enable the gestures using this props https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=pangesturecomponentenabled but it might not propagate the touch events to the components you have as children. If you don't have

[2020-08-12 09:04] #245 closed

[2020-08-12 09:08] jeremybarbet commented on #248
Hey!

Are you talking about `panGestureEnabled` or `panGestureComponentEnabled`? the props you quoted doesn't exist. Is your input from a third-library?

The fact that the touchable pressure works, but the event isn't triggered is really weird. Unless I can inspect an example, I'm not sure I can assist more at the moment.

Apart from that, it's looking pretty neat and nice!

[2020-08-12 09:11] kg-currenxie commented on #248
Yes, sorry I meant `panGestureEnabled` :)
Yes, it's weird, I'll have to dig deeper I guess. I'll see if I can reproduce in a sample project..

Thanks ;)

[2020-08-12 11:43] jeremybarbet commented on #219
Hey,

Could you try to install `yarn add "git://github.com/jeremybarbet/react-native-modalize.git#bebd6ec2621980b11290ec55cc23f988a264dfdd"` I will publish a new version if it's working

[2020-08-12 16:12] Dharmi201 opened #253 "CloseOnOverlayTap not working for Android when inside Portal component"
**Describe the bug**
Tapping on Overlay doesn't close the modal when inside Portal

**Reproduce**
`<Portal>
        <Modalize
          overlayStyle={{backgroundColor: 'blue'}}
          closeOnOverlayTap={true}
          scrollViewProps={{scrollEnabled: false, bounces: true}}
          modalStyle={{backgroundColor: themeContext.background}}
          modalHeight={400}
          withHandle={true}

[2020-08-13 19:32] maystrenkoYurii opened #254 "PanGesture not worked android"
App in RootHokPanGesture and panGestureComponentEnabled = true. But not work. V2.0.5
![IMG_20200813_222454](https://user-images.githubusercontent.com/23016311/90178632-da078880-ddb4-11ea-84f2-8cc441638254.jpg)

[2020-08-17 10:40] shridhar52war opened #257 "Keyboard Avoiding View not working on both iOS and Android"
**Describe the bug**
KeyboardAvodingView is not working for both platforms

**Dependencies:**
 - react-native-modalize-20.05
 - react-native-0.61.5
 - react-native-gesture-handler - 1.7.0

Sharing code snippet here:
[code]

[2020-08-17 15:43] waheedakhtar694 opened #258 "panGestureAnimatedValue not works as expected."
**Describe the bug**
I am open modal as `modalizeRef.current.open('top')` with `alwaysOpen` value but the `panGestureAnimatedValue` not works properly.

When I open the modalize animation initialized with its initial value and didn't work on the first swipe, it works when I go to alwaysOpen point and then expand to full height.

**Reproduce**

[code]

Now here is the Video animation code.

[code]

[2020-08-19 02:32] duylinhdang1998 commented on #254
+1

[2020-08-19 09:03] rpavlovs commented on #176
We are offering a $100 bounty for making this work:
https://gitcoin.co/issue/jeremybarbet/react-native-modalize/176/100023531

[2020-08-19 09:42] anphan18021998 commented on #176
set Flatlist in prop: customRenderer
`customRenderer={<FlatList {...props} />}` this work for me

contact me to pay :)))

[2020-08-20 03:38] gilbertl commented on #176
@rpavlovs and I work together.

We tried the above approach. It seems to work when the FlatList is shorter than the modal: swiping down will dismiss the modal. But if the Flatlist is taller than the modal, then swiping down (when scrolled to top) no longer dismisses the modal.

https://drive.google.com/file/d/1jsndRxiJ-HnpTGOkD_lIOwYSHt8f_1jd/view?usp=sharing

[2020-08-20 22:25] waheed25 commented on #204
@jeremybarbet here is the PR #260

[2020-08-21 08:15] alisherakb commented on #253
@Dharmi201 Were you able to fix it?

[2020-08-24 00:31] Cookizza commented on #257
I've got this working by using the `keyboardAvoidingOffset` prop.

I removed all height props and used `keyboardAvoidingOffset={100}`.

    <Modalize
          disableScrollIfPossible
          adjustToContentHeight
          keyboardAvoidingOffset={100}
          scrollViewProps={{ keyboardShouldPersistTaps: 'handled' }}

![image](https://user-images.githubusercontent.com/1787216/90992703-5ebe878