[2020-08-26 14:45] Nikosmonaut opened #261 "How to prevent PanGestureHandler to handle gestures in nested TextInput"
**Describe the bug**
Currently I have a list of comments and a field to enter a new comment whithin a stack navigation screen

[code]

With gestureEnabled react-navigation uses PanGestureHandler component. This component respond to all gestures to swipe right to fire a Go back action even when I try to swipe inside a TextInput. But then I have no possibility to modify/select my text.

Anyone have

[2020-08-27 15:34] AdarshJais commented on #58
Is this solved in a proper way?

[2020-08-27 15:42] AdarshJais commented on #59
@jeremybarbet  can you please clarify, Is it solved or not in a proper way? Because in my case I have multiple text input and thus above hack won't work for me.

[2020-08-31 19:40] #261 closed

[2020-08-31 23:39] Un3qual commented on #132
Any update on this? I have this issue on iOS as well

[2020-09-01 19:47] nharis7 commented on #58
If you use FlatList for rendering view without inputting data, you need to set removeClippedSubviews={true} or use the default option for optimizing rendering view. For your case (render with input) you should set removeClippedSubviews={false} to prevent the keyboard hide/show.

`<FlatList
....
removeClippedSubviews={false}
...
/>`

[2020-09-02 22:18] scarlac commented on #200
@Abdulrahman91kh The `customRenderer` prop is broken. It will not actually work because no children are passed into it. Passing in Animated.View or even Animated.ScrollView will remove all content because the children of Modalize won't be passed in. The code path only explicitly passes children into the default implementation.

[2020-09-03 03:05] scarlac opened #262 "Elastic band scrolling when using withReactModal"
**Describe the bug**
When dragging the handle the scrolling is 1-to-1. 10 dragged pixels moves the panel 10 pixels.
However, when enabling `withReactModal={true}` then a rubber band effect is applied, making it extremely difficult to get past the snap point or to close the modal again.

Here's a visual demonstration of dragging the content versus dragging the handle:
![rubberband](https://user-ima

[2020-09-03 13:35] NikolasJody opened #263 "Default modal height not full screen."
I cannot achieve full screen. when i open the modal, ive followed the examples. I have to manually drag the handle to fullscreen. Any body have a solution to this?

[2020-09-03 13:37] NikolasJody commented on #263
oh and the Handle cannot pass a certain point in the screen, hence i would always have the black opaque overlay taking up almost half of the screen

[2020-09-03 18:26] devtud commented on #253
Yeah, I also have this problem. The modal seems to close only on BACK. Swipe down, tap on overlay don't work.. Did someone find a workaround?

[2020-09-04 02:11] #263 closed

[2020-09-04 18:41] Fortidude commented on #132
No iOS issue here, but android is pretty ugly because of that. I wish sometimes for similar keyboard behaviour like iOS have, with all the events ;)

[2020-09-05 16:32] ArthurPedroti commented on #132
This modal is really awesome, but this behavior cost a lot for UX :/

[2020-09-05 16:51] waheedakhtar694 commented on #252
After exploring the code of modalize I found that, if modalize in on top position and I wanted to convert it into its always open position then simply call `modalRef.current.close('alwaysOpen')` and then again I wanted to switch to a full-height just call `modalRef.current.close('top')`.

[2020-09-05 16:51] #252 closed

[2020-09-06 13:18] kalleriakronos24 commented on #132
up, still looking for the fix :/

[2020-09-07 12:06] NickM101 commented on #253
Had the same issue; Modal worked with back button and swipe up/down didn't work neither tap overlay.
Problem isn't the package but visit https://docs.swmansion.com/react-native-gesture-handler/docs/ and complete configuration on react-native-gesture-handler. It worked right after rebuilding android 🙂

[2020-09-08 12:43] tajnehme opened #264 "Modalize Not Working on Ios"
I am trying to run modalize, I followed the fixed modal example, on android it is working however on IOS it doesn't seem to work and it opens a full modal instead of half modal.

Latest dependencies and using react native navigation for tab navigation and nested root and stack navigators.

[2020-09-08 20:26] march213 opened #265 "[Android] Light swipe down somewhere at the top of the modal has weird behaviour on Android"
**Describe the bug**

Light swipe down somewhere at the top of the modal has weird behaviour on Android.
It scrolls the content a little bit up.
On the real device, after multiple swipes down, it visually snaps the modal to the specified snap point while the modal wasn't yet released.

Not sure why it is happening, if you have time to look at this one or suggest why it might be happening that woul

[2020-09-09 16:55] joeyfigaro commented on #200
@Abdulrahman91kh currently trying exactly this, but the modal never renders. I'm using a component that's using `FlatList` for `customRenderer` and have tried wrapping the FlatList with `Animated.View`. I've also tried replacing `FlatList` with `Animated.FlatList`, but no dice.

It's unclear what you're passing to `panGestureAnimatedValue` in your snippet—where is that coming from? I tried passing

[2020-09-09 17:53] joeyfigaro commented on #200
...I managed to get the bottomsheet to finally render, but it throws an error every time.

![](https://p93.f3.n0.cdn.getcloudapp.com/items/12uJd7yJ/Image%202020-09-09%20at%201.51.17%20PM.png?source=viewer&v=013a75b5be0a205a1253ee40064794c9)

and the return of my component:

[code]

@jeremybarbet can you shed some light here?

[2020-09-09 19:17] niraj-khatiwada opened #266 "Throws "cant find current for undefined" in dev. Crashes the app completely in in prod. Why did ths developer opted for ref instead of using state for opening and closing? is there a way to use state for opening or closing instead of ref?."
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduce**
- Create a demo on https://snack.expo.io to reproduce the issue.
- Add gif screenshots to help explain your issue.

**Dependencies:**
 - react-native-modalize [e.g. 1.3.7-rc.19]
 - react-native [e.g. 0.62.0]
 - react-native-gesture-handler [e.g. 1.6.0]
- expo/react-navigation/react-native-navigation: [e.g. expo

[2020-09-10 06:20] #266 closed

[2020-09-11 03:25] HoaiHuynh opened #267 "How to show Modalize on top of react-navigation BottomTabNavigator"
When I Open Modal, it looks like this. How do I fix this?
![image](https://user-images.githubusercontent.com/37495328/92852611-1e6c5f80-f419-11ea-9ad1-782318a719c9.png)

[2020-09-11 05:29] devtud commented on #253
@NickM101 , If I understand right, what I have to do is to make sure I have the latest `react-native-gesture-handler` as I use react native 0.63.2. The other stuff is supposed to be handled by the `react-native-modalize` library itself.

I a bit stuck as I already had the latest libraries installed and android built with them. I use `react-navigation`. What do you use for navigation and what exact

[2020-09-11 05:58] devtud commented on #267
You can use this library by the same author: https://github.com/jeremybarbet/react-native-portalize

[2020-09-11 08:50] rafaelmotta opened #268 "Question: Open from top"
Hey, I have been using `react-native-modalize` for a while, and I am now planning to build a Snackbar component. Given the quality of the library, I was wondering if would be possible to somehow customize the animation to open the component from the top of the screen. Here is an example:

<img width="343" alt="Screenshot 2020-09-11 at 10 43 19" src="https://user-images.githubusercontent.com/446731

[2020-09-11 09:41] OmgDef commented on #132
It's a known issue of KeyboardAvoidingView. Adding ```flex: 1``` to ```modalStyle``` helps

[2020-09-14 05:09] ashirogisen opened #269 "[Ask] Is it possible to dim the screen header if Modalize is open?"
Firstly, thanks for this wonderful library.

I want to ask, is it possible to dim the header screen too if modal is open? Thanks! (Image for reference)
<img width="299" alt="Screen Shot 2020-09-14 at 12 10 01" src="https://user-images.githubusercontent.com/53157683/93046123-3fd08400-f683-11ea-95df-234e82de7cff.png">

[2020-09-14 05:11] #239 closed

[2020-09-14 15:02] danilo900 commented on #219
Hello @jeremybarbet
Did you already published that?

[2020-09-14 15:06] danilo900 commented on #219
I haved tried your last commit, 2.0.6
No success at all =/

[2020-09-15 14:33] waheedakhtar694 commented on #268
@rafaelmotta May be issue can answer your question #139

[2020-09-16 03:43] devtud commented on #253
@jeremybarbet could you please share your thoughts about this?

[2020-09-16 06:19] dacuoi commented on #267
Using react-native-portalize. Wrap modalize as children <Portal>.

[2020-09-17 05:20] TowhidKashem commented on #263
Did you find a solution for this? @NikolasJody

[2020-09-17 05:32] NikolasJody commented on #263
Yea, @TowhidKashem, i made some careless mistake.

[2020-09-17 05:44] TowhidKashem commented on #263
@NikolasJody

Good to hear, not sure if we are talking about the same issue but I'm trying to get the modal to take up the full screen, but it always has this empty space at the top:

<img width="442" alt="Screen Shot 2020-09-17 at 1 40 36 AM" src="https://user-images.githubusercontent.com/1139927/93424888-ef297880-f886-11ea-8d5d-36925e8f218e.png">

Is this what you were able to get rid of?

[2020-09-17 05:57] TowhidKashem opened #270 "Is it possible to show the modal in fullscreen mode without the gap at the top??"
I want to show the modal in fullscreen mode without this gap at the top, is that possible? 100% width and height of the phone screen..

I tried playing around with all the options in various combinations and no luck so far 😞

<img width="442" alt="Screen Shot 2020-09-17 at 1 40 36 AM" src="https://user-images.githubusercontent.com/1139927/93425834-c7d3ab00-f888-11ea-9524-866165c0c179.png">

[2020-09-17 12:22] #268 closed

[2020-09-18 13:41] gudberg commented on #265
Yes, Happening on my app as well

[2020-09-23 15:14] Jalson1982 opened #271 "How to prevent opening bottom sheet in full screen"
Hello,

I can not find a way when defined snap points to 300 for example I do not want my bottom sheet to be able to open in full screen. I want to keep my current position. Is this possible to achieve?

[2020-09-23 16:22] lumberman commented on #263
`
<Modalize
   withHandle={false}
   modalStyle={{
      marginTop: 0,
   }}
   ...
`

[2020-09-25 01:19] #270 closed

[2020-09-26 00:45] valentinchelle commented on #248
I ran into the same problem. Having `tapGestureEnabled` set to false allowed me to still swipe the modal down, and have the touchable elements working in the header of the modal.

[2020-10-01 12:10] vygiszs commented on #269
Refer to [https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES](this). Check Bottom tabs navigation and Modalize section.

[2020-10-01 12:41] vygiszs commented on #253
@jeremybarbet https://docs.swmansion.com/react-native-gesture-handler/docs/#for-library-authors Maybe worth doing it?

[2020-10-01 17:53] Karthik-B-06 commented on #271
If you don't want it to snap. Try giving modalHeight as 300.

[2020-10-04 21:53] MichaelSedov opened #273 "[ASK] Is it possible to make a section that is visible outside of modalize?"
I need to do something like this
<img width="305" alt="Screenshot at Oct 03 00-36-16" src="https://user-images.githubusercontent.com/6978819/95027887-9f2f1c00-06a4-11eb-9677-67aa2911746f.png">

At the moment, this block is clipped along the modalize border

[2020-10-05 07:48] #273 closed

[2020-10-05 07:50] MichaelSedov commented on #273
Used `HeaderComponent` prop to solve this issue

[2020-10-06 10:47] lukeramsden commented on #217
@jeremybarbet I've done some debugging and I believe it is this block that is causing the issue:

[code]

Setting `toPanValue` to 1 in the first block fixes this specific issue. I haven't had enough time to grasp what exactly this code is doing so I don't know if that would break other things, but it fixes it for me (I'm also using alwaysOpen).

[2020-10-08 22:44] JacksonLaw opened #275 "[Android] TextInput jerks up and down on focus and blur"
**Describe the bug**
When using a TextInput in Modalize, focus and blur cause the modal to resize itself only after the keyboard appears. This only occurs on Android devices and it does not seem to matter which settings I choose unless I don't set the height and have `adjustContentToHeight={true}`.

**Example**
[code]
<img src="https://user-images.githubusercontent.com/33435871/95411810-f32b5080-0

[2020-10-09 00:03] aprilmintacpineda commented on #275
I got the same thing too, and was about to report, on my android device, but weirdly not on my iPhone.

[2020-10-11 05:10] JacksonLaw commented on #275
Looks like a potential fix for this issue is using the new SDK 38 android setting as follows:
[code]

I believe if you're not using expo the same issue may be fixed with android:windowSoftInputMode="adjustPan" in your android manifest.

Can anyone else confirm this is a suitable fix? I will close the issue if so

[2020-10-11 05:57] aprilmintacpineda commented on #275
I tried out your fix but I had to add `keyboardVerticalOffset={35}` for android otherwise some parts of the form would be hidden behind the keyboard. I think better leave this issue open for more insights from the maintainers.

[2020-10-11 22:05] chanan opened #276 "Error running in Expo client on iOS"
I created a new expo client (on windows), added modalize and put the code from the example (Code below) in App.js. I ran the code in expo web, which works, but then loading it in expo client on iOS I get the error below

App.js:
[code]

**Dependencies:**
[code]

![image](https://user-images.githubusercontent.com/472554/95691330-93c77d80-0bdb-11eb-91e8-a2eadeea29b0.png)

[2020-10-12 05:01] aprilmintacpineda commented on #52
I'm currently having the same issue with ios only, but not with android... I use `TouchableOpacity` from `react-native-gesture`

[code]

But if I use `TouchableOpacity` from `react-native`, it works.

[2020-10-13 02:20] hemang-thakkar commented on #275
what to do if using expo?

[2020-10-13 02:48] JacksonLaw commented on #275
update to expo SDK 38 and add the code above to your app.json file

[2020-10-14 12:37] ViniCleFer commented on #257
@shridhar52war try this, it worked for me

     <Modalize
        ref={modalizeRef}
        adjustToContentHeight

[2020-10-14 14:53] sheikx1221 opened #277 "A Top Sheet/Modalize from Top to Bottom"
**Is your feature request related to a problem? Please describe.**
I need to Implement A Modalize that is kind of like a Top Sheet. It has all the functionality of this bottom sheet modalize but works from top to bottom
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/29302599/96006372-da74dc00-0e56-11eb-8204-cb4a86680439.png)

**Describe alternatives you've

[2020-10-21 08:57] Azarians opened #280 "Android: modalize opens, but not swipes"
**Describe the bug**
A clear and concise description of what the bug is.

**Dependencies:**
 - react-native-modalize [e.g. 2.0.6]
 - react-native [e.g. 0.63.3]
 - react-native-gesture-handler [e.g. 1.8.0]

[2020-10-21 09:30] lukeramsden opened #281 "Overlay causing visibility issues in Detox E2E tests"
**Describe the bug**
The overlay render function being called after the content render function (https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L942) is causing the RCTView it creates to be after the content view, which causes Detox's visibility calculations to think the views inside the modal content are not visible. Moving `{withOverlay && renderOverlay()}` above

[2020-10-21 21:36] #275 closed

[2020-10-22 14:53] NikolaP93 opened #282 "Position bug when trying to open/close modal with both swipe gesture and onPress function"
Hey, I am having an issue currently where right now I am using my own Header component inside the modal, and it has an arrow button toggling when the position changes. Anyway, the bug happens when I scroll inside the modal and then scroll the modal itself. I tried to counter this bug by just using ref.current.open(opposite of current if they do not match) but it seems to fail me most of the time.

[2020-10-24 16:44] #253 closed

[2020-10-26 04:50] Tycholiz opened #284 "Return to snap"
Not sure if this is a feature available in the library already or not, but here goes.

I wonder if there is capability to be able to return to the snap points as we are in the process of dismissing the modal. In other words, can we return to the initial snap point after we have already made the modal to its full height?

[2020-11-07 14:47] GabrielLiade opened #285 "Function components cannot have string refs"
**Describe the bug**
I just copy and past the first example but I have an error :

Error: Function components cannot have string refs. We recommend using useRef() instead. Learn more about using refs safely here: https://fb.me/react-strict-mode-string-ref

**Reproduce**
[code]

<img width="338" alt="Capture d’écran 2020-11-07 à 15 44 02" src="https://user-images.githubusercontent.com/66065611/98

[2020-11-07 20:05] emrekaranfil opened #286 "Illegal node ID set as an input for Animated.DiffClamp node"
Hello, modalize is working on my detail page.

I usually get this error when I leave the page and enter another detail page and open it to modalize.

I also get this error when I constantly open and close modalize.

How do I fix this error.

![Simulator Screen Shot - iPhone 11 - 2020-11-07 at 22 50 15](https://user-images.githubusercontent.com/9162729/98450350-21e84280-214d-11eb-9f61-6dfcfd5d70af.

[2020-11-12 07:09] bashen1 opened #287 "iOS two modal"
Since iOS cannot have two or more modals, I use react-native-root-siblings to simulate modals to achieve multiple modal effects, hoping to add similar attributes

[2020-11-12 10:34] ozanmanav-lime commented on #277
@sheikx1221  have you achieved do this ?

[2020-11-12 10:35] ozanmanav commented on #277
@sheikx1221 Have you achieved this ? I need also this one. It works perfectly but it should open from top to bottom like noticiation bar :\ @jeremybarbet ?

[2020-11-12 10:57] ozanmanav commented on #268
is there any solution for this? Can we open this model from top ? @rafaelmotta @waheedakhtar694

[2020-11-12 12:10] sheikx1221 commented on #277
![TopSheetOpen](https://user-images.githubusercontent.com/29302599/98936651-1755e200-249a-11eb-99f5-d025b7ee77a8.jpeg)
![TopSheetClose](https://user-images.githubusercontent.com/29302599/98936660-1ae96900-249a-11eb-8f25-d00ead0ccda8.jpeg)

Well I was able to mimic the top sheet as you can see in the Images above
Here is the code,

[code]
Top Action Sheet Code with bottom arrow that will invert its

[2020-11-12 12:13] ozanmanav commented on #277
@sheikx1221 I'll take you code for reference. Thank you for this!

[2020-11-13 14:26] manhncse02926 commented on #285
It's typescript code.
Just replace
[code]

[2020-11-16 08:50] riordanpawley commented on #286
https://github.com/facebook/react-native/issues/23620
from what i gather it might be an issue with react native "fast refresh"ing animated components.
Have you seen this crash in release builds?

[2020-11-16 17:25] moooss opened #288 "Keyboard closes when taping outside of TextInput"
**Describe the bug**
If there is a TextInput and a submit button in a modal.
You enter your text and submit it, but instead of submiting, the TextInput loses focus and the keyboard closes.
Both iOS and android.

**Reproduce**
The demo example "Fixed Content" has this exact issue.

**Dependencies:**
 - react-native-modalize 2.0.6
 - react-native 0.62
 - react-native-gesture-handler 1.6.0
 - expo/re

[2020-11-16 23:30] mehmetakify commented on #211
Any solution?

[2020-11-17 08:20] moooss commented on #288
Ok, not a bug but a feature.
My content is in the modal's ScrollView, which have this behavior by default.

Setting the ScrollView prop as { keyboardShouldPersistTaps: 'always' } made the trick.

So It looks like this :
[code]

[2020-11-17 08:20] #288 closed

[2020-11-19 00:58] KOWLOR commented on #52
Seems like I have that kind of problem with a `SegmentedControl` from `@react-native-community/segmented-control`, the tap doesn't work to select a value, only swipe. Maybe someone has a workaround ?

[2020-11-19 13:09] Kristonitas opened #289 "Memory leak caused by `beginScrollY.addListener`"
**Describe the bug**

Every time the state is updated (f. e. when beginning to drag the content at different offsets and `beginScrollYValue` changes), a new listener will be added.
[code]

https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L195

**Reproduce**
Exists in current `master`, can add a `console.log` to the listener and see that the amount of messages increas

[2020-11-19 18:48] rpavlovs commented on #176
Looks like all of the approved devs abandoned their work. Anyone else wants to give it a try?

[2020-11-20 10:21] Kristonitas opened #290 "disableScroll is not the expected value"
**Describe the bug**

https://drive.google.com/file/d/1SPS_KTa41VtOAmkA5LVKXNl_sNmajtN6/view?usp=sharing
This shows some weird behaviours of the bottom sheet

If I set `disableScrollIfPossible={false}` I expect `disableScroll` to always be `false`, but it initialises to `true` (in most cases):

[code]

When `disableScrollIfPossible` is not set, `disableScroll` becomes `false` when the bottom sheet

[2020-11-21 09:02] dertrockx commented on #285
this one worked for me

[2020-11-24 08:36] MOOUDE commented on #52
I have solved it this way, it's temporally solution
`import { TouchableOpacity as guesterTouchableOpacity } from 'react-native-gesture-handler';`
`import { TouchableOpacity as reactTouchableOpacity } from 'react-native';`

`  const TouchableOpacity = Platform.OS ==='ios' ? reactTouchableOpacity:guesterTouchableOpacity;
`

[2020-11-24 12:11] IngyuTae commented on #205
@DevanshaniR Have you tried this? https://docs.swmansion.com/react-native-gesture-handler/docs/#android

[2020-11-25 11:55] ang-minkyii commented on #217
@jeremybarbet any update on this? Having the same issue.

[2020-11-26 05:01] venkat-worksave commented on #277
Is it working?

[2020-11-26 06:35] VictorioMolina commented on #176
@rpavlovs Hi. I am not using this library but I got a similar error some time ago when nesting a FlatList in an stack screen with gesture enabled. What I did to solve my issue was reducing the gesture distance for the modal stack screen (combined with a lower gesture velocity).

Maybe it can helps you.

[2020-11-26 08:19] vicky335 opened #292 "alwaysOpen and ajustToContentHeight"
Hello
First of all thank you for this awesome work.
I am facing one issue when alwaysOpen and ajustToContentHeight are used simultaneously, the modal content needs to be updated dynamically. When the height changes (it is possible to be higher), the height and location of modal will not be updated. How can I solve it?
Thank you.

[2020-11-30 14:03] harrigee opened #293 "iPhone 12 topOffset not working correctly"
**Is your feature request related to a problem? Please describe.**
On iPhone 12 devices the topOffset is not working correctly.

**Reproduce**
Test modal on iPhone 12 and below devices.
![Bildschirmfoto 2020-11-30 um 14 59 13](https://user-images.githubusercontent.com/6317153/100618863-aa0cd280-331c-11eb-81db-9b316a7c88a1.png)

**Describe the solution you'd like**
The isIphoneX function mentioned

[2020-12-01 11:28] harrigee commented on #293
I created a PR -> https://github.com/jeremybarbet/react-native-modalize/pull/294

[2020-12-03 08:27] #293 closed

[2020-12-03 08:34] jeremybarbet commented on #286
I've been seeing this on my projects as well. It only happened to me in dev with the fast refreshing

[2020-12-03 08:36] jeremybarbet commented on #285
If you are running with javascript, you also have to replace

[code]

[2020-12-03 08:36] #285 closed

[2020-12-03 08:39] jeremybarbet commented on #284
Hey!

Are you thinking of a way with a function? e.g. `toSnapPoint(200)` or when using the pan gesture event?

[2020-12-03 08:44] jeremybarbet commented on #282
https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=scrollviewprops ?

[2020-12-03 08:45] #280 closed

[2020-12-03 08:46] jeremybarbet commented on #277
Cf: https://github.com/jeremybarbet/react-native-modalize/issues/143

[2020-12-03 08:48] #271 closed

[2020-12-03 08:51] jeremybarbet opened #295 "Exposing GestureHandlerRootView to the root view"
_Originally posted by @vygiszs in https://github.com/jeremybarbet/react-native-modalize/issues/253#issuecomment-702107119_

I did give a try to it a while ago, and had issue with it, so ended up reverting the changes. It might be fixed by now

[2020-12-03 08:52] #267 closed

[2020-12-03 08:52] jeremybarbet commented on #269
👆 Yes, along using [Portalize](https://github.com/jeremybarbet/react-native-portalize).

[2020-12-03 08:52] #269 closed

[2020-12-03 08:53] #264 closed

[2020-12-03 08:57] jeremybarbet commented on #254
Most likely missing Android setup https://jeremybarbet.github.io/react-native-modalize/#/INSTALLATION

[2020-12-03 08:57] #254 closed

[2020-12-03 09:16] #232 closed

[2020-12-03 09:28] jeremybarbet opened #296 "Project status"
Hi all,

As you can see, I haven't been very active on the repository lately. I'm busy in many other projects and I don't have free time to go over the new issues/features here.

I'm still heavily using this component on my projects and it works well for my use cases, which is also another reason why I can't spend time implementing feature that I don't use myself.

If a company or an individual wa

[2020-12-03 16:27] Tycholiz commented on #284
Hey Jeremy,
I'm actually not sure, I'm not that well versed with PanGesture, or any React Native animations for that matter.

Is that something you might recommend?
TBH I have moved off of this problem a while ago, but is still something on my radar. The Wikipedia app does this well (for when you want to save a particular page)

[2020-12-06 16:26] Sotatek-TuongNguyen opened #297 "Question! Any way from alwaysOpen to snapPoint?"

[2020-12-08 21:31] otaviobps commented on #219
Still not working though

[2020-12-09 04:19] saadelsabahy commented on #20
this issue  still exist in 2.0.8

[2020-12-09 14:52] Ilya1995 commented on #151
I cannot close the modal with a swipe if there is alwaysOpen prop

[2020-12-09 15:11] Ilya1995 opened #298 "I cannot close the modal with a swipe if there is alwaysOpen prop"
- react-native-modalize 2.0.6
 - react-native 0.62.2
 - react-native-gesture-handler 1.7.0

[2020-12-10 22:25] Hirbod commented on #217
ping @jeremybarbet

[2020-12-11 15:26] atmadev opened #302 "Modalize closes on swipe up if threshold is reached. But should stay opened."
**Describe the bug**
If the user swipes modal dialog up, it should stay opened. No other conditions should affect this case, even if a threshold is reached.

**Reproduce**
- Scroll modalized dialog down, to reach threshold, keep the touch.
- Swipe up and release the touch
- Expected result: dialog should stay opened
- Actual result: dialog changes direction of moving and closes

![Dec-11-2020 17-2

[2020-12-18 22:53] mthines opened #303 "Doesn't open up at first."
**Describe the bug**
I can't get the modal to open up unless I delete it, and restore it.

Maybe this is a common behaviour, and I just need to do something specific and it'll work.
If not, I'll try and make a sandbox.

Will add screen recording soon.

**Reproduce**
I can't get the modal to open up unless I do the following:
1. Have the Modal (not working).
2. Deleting the modal
3. Saving
4. Ctrl+

[2020-12-18 23:35] mthines commented on #303
Here's the code for the component.

[code]

[2020-12-22 09:08] fauzymk opened #304 "method open() not working properly when using alwaysOpen prop"
**Describe the bug**
method .open() without an argument is not working when using alwaysOpen props. However it works if I use .open('top') but need to tap the backdrop twice to close

**Dependencies:**
 - react-native-modalize [2.0.8]
 - react-native [0.63.0]
 - react-native-gesture-handler [1.7.0]

[2020-12-22 17:51] alucardeht commented on #304
for me too

[2020-12-24 13:20] TNBoiBoi opened #305 "Can close"
Can close

[2020-12-24 13:24] #305 closed

[2020-12-24 13:59] TNBoiBoi opened #306 "Changing the timing of the In and Out overlay transition"
**Is your feature request related to a problem? Please describe.**
If there could be a possible way to configure the transition time of the overlay from this fast transition of the overlay it could be amazing.

**Describe the solution you'd like**
Adding a prop that lets you to configure the duration of the In and Out overlay animation just like in react-native-modal
backdropTransitionOutTiming={7

[2020-12-28 12:58] saransh-malik opened #307 "Weird behaviour on Android with ScrollView"
**Describe the bug**
I am using the bare module with scrollview and alwaysOpen prop and while dragging it down the scroll goes weird and ends up at random positions. See video attached. This works well on iOS.
If you see when I reach the top of scroll and drag down the panel, it goes down and the scroll position isn't at the very top. It feels as if scroll view couldn't adjust to the height change

[2020-12-31 09:05] tannguyen05 commented on #307
same issues

[2021-01-05 20:38] mthines commented on #303
I found out the issue was the ref saved an old reference.

Updating like this fix it:
[code]

[2021-01-05 20:38] #303 closed

[2021-01-12 22:22] danielfein opened #308 "Unable to get content to go to 100% height of modalize"
I'm trying to use flex to make the content (currently in green, just says Data here, but will be taller) within a Modalize view go to 100% of the Modal view (the yellow). Currently, it's only going to the height of the content, and not the modal.

With this code:
[code]
It looks like this:

<img width="291" alt="Screen Shot 2021-01-12 at 5 09 14 PM" src="https://user-images.githubusercontent.com/1

[2021-01-13 04:47] Duya3fithou commented on #205
@IngyuTae  it work perfect. many tks

[2021-01-14 09:22] badkos commented on #250
Faced with the same problem.

[2021-01-14 23:35] Iamscaredofcode commented on #307
me too yes

[2021-01-19 15:35] RichMatthews commented on #281
I'm having this issue too, is there any way to solve this and allow detox to play nicely with the modal?

[2021-01-20 13:28] lukeramsden commented on #281
I used [patch-package](https://www.npmjs.com/package/patch-package) to simply move {withOverlay && renderOverlay()} above {showContent && (...)}

[code]

[2021-01-22 14:22] RichMatthews commented on #281
nice one @lukeramsden

[2021-01-24 02:49] danielfein commented on #297
Any answers on this? You can go from the snapPoint to AlwaysOpen but can't go back to snapPoint.

[2021-01-24 18:05] dinumihnea commented on #308
I've just faced the same issue, after some investigation I come up with a solution.
This worked for me;
` scrollViewProps={{
          contentContainerStyle: {
            height: '100%',
          },
}}
`

[2021-01-29 17:34] haduy97 commented on #258
How did you minium the player at the bottom ?? Please teach me how to do it, i have little bit struggle to doing with it

[2021-02-02 10:11] jagwingchoy commented on #286
Hi everyone, I have encountered this error when applying `<SafeAreaView />` into the content of `<Modalize />`, and enabled `adjustToContentHeight` to `true`.
I have tried disabling the fast refreshing but still cannot solve it.
The error won't pop out every time I opened the `<Modalize />` (once among 5 - 8 times opening).
When the error occurred, the modal component will jitter.
I have gone thro

[2021-02-02 17:05] saransh-malik commented on #297
Same issue, any solutions to overcome this?

[2021-02-10 17:42] SmirnovM91 commented on #307
+1

[2021-02-14 02:01] IacoCesar commented on #304
using settimeout works fine

setTimeout(() => {
   modalizeRef.current.open('top')
}, 500)

[2021-02-18 22:39] huzaima commented on #189
I'm using the most recent version of this library and this issue is still appearing randomly. Is it possible to add a prop and based on that prop we don't handle the back button at all (no BackHandler event subscription) and let the user handle it?

[2021-02-19 09:57] macartigan opened #310 "Flatlist is bloked on android when we also use FooterComponent"
**Describe the bug**
Flatlist is bloked (only on android) when we also use FooterComponent. I don' have the pb with ScrollView and FooterComponent, or Flatlist and FloatingComponent.

**Dependencies:**
 -  "react-native-modalize": "^2.0.8"
 - "react-native": "0.63.4",
- "react-native-gesture-handler": "^1.10.1",
- "@react-navigation/native": "^5.9.2",
 -   "@react-navigation/stack": "^5.14.2",]

[2021-02-19 14:21] TomCorvus commented on #286
Hi @jagwingchoy,

I had the same problem with the `<SafeAreaView />` component.
I resolved this on putting `<SafeAreaView />` in `<Modalize />``FooterComponent` prop like this:

`<Portal>
  <Modalize ref={ref} adjustToContentHeight FooterComponent={<SafeAreaView />}>
    <View>
      <Text style={styles.title}>Hi There!</Text>
    </View>
  </Modalize>
</Portal>`

[2021-02-27 09:24] elie-chaaban opened #312 "SectionList in TabView"
Hello,

i have two tabs using 'react-native-tab-view', each tab has a section list.

how to make this happen without this warning: VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead.

[2021-02-27 09:30] elie-chaaban commented on #312
Update,

i put the tabs in the customRender like:

 <Modalize
         ref={modalizeRef}
        modalStyle={styles.modelContent}
        alwaysOpen={250}
        modalHeight={450}
        withHandle={false}
        withOverlay={false}
        customRenderer={
          <TabPage
            routes={routes}
            renderScene={renderScene}
            bgColor="white"
            textColor="bas

[2021-02-27 09:33] #312 closed

[2021-02-27 16:02] Gheeroppa opened #313 "Can't swipe if the children empty."
**Describe the bug**
If the children of the Modalize doesn't contain any elements, the modal is not always responding to the pan gesture (just a very few times without any specific pattern of velocity or position).
Adding a children with a fixed height makes the modal scrollable but just in the children's area, not in the gap between the end of it and the bottom of the modal.

**Dependencies:**
 -

[2021-03-09 17:04] marcshilling commented on #286
@TomCorvus excellent tip! I too was experience performance issues with a SafeAreaView as a child - lots of jittering and lag, plus this occasional illegal node ID crash. All good after moving into the footer.

[2021-03-10 07:26] jagwingchoy commented on #286
Thanks @TomCorvus for the answer, but I have already use another solution to solve the issue.
I am using the package `react-native-safe-area-context` to get and set the padding bottom of modalize component.
This ideas brainstormed from `react-navigation`.

[2021-03-11 06:46] kg-currenxie opened #314 "Modal top offset seems wrong in Simulator (iOS)"
**Describe the bug**

The modal goes under the notch/top bar in iOS simulators:

![Screenshot 2021-03-11 at 11 45 26](https://user-images.githubusercontent.com/48229166/110746357-a40d8280-8277-11eb-9ea2-e9099dd53bb4.png)

Android (left) is fine. The top starts _under_ the top bar (time, battery, etc)
iPhone without notch: Goes under the time, all the way to the top
iPhone with notch: Goes under th

[2021-03-11 07:29] ciaoamigoschat opened #315 "Click outside Modalize"
Hello sorry my english. How do I click an item out of "Modalize" and leave the modalize open?

[2021-03-11 13:55] #315 closed

[2021-03-11 13:57] kadiraydinli opened #316 "Not working correctly in react-native-tab-view@3.0.0 version"
**Describe the bug**
Hello, I'm trying to place a tabbar with the react-native-tab-view package in Modal. Tab parts of Tabbar are visible, but the content is not visible, at the same time, changing tabs by scrolling does not work. This problem occurs with react-native-tab-view version 3.0.0. Can you edit for this one? Thanks in advance.

**Reproduce**
https://snack.expo.io/@kadiraydinli/react-nati

[2021-03-12 14:19] kadiraydinli opened #317 "The extension problem of the scroll in the tabbar with respect to the longest tab"
**Describe the bug**
Hello, I placed a tabbar inside the modal. There are two tabs, when one is longer than the other, the shorter tab gets longer. How can I fix this?

**Reproduce**
https://snack.expo.io/@kadiraydinli/tab-scroll-problem
![issues](https://user-images.githubusercontent.com/9320037/110952209-01c4cc00-8357-11eb-81f9-228a3b61f9ee.gif)

**Dependencies:**
"react-native": "0.63.4"
"react

[2021-03-16 11:41] Sarvarr commented on #257
@ViniCleFer did this work on android too?

[2021-03-16 11:53] ViniCleFer commented on #257
@Sarvarr i don't remember, but try it and tell me, please.

I think yes.

[2021-03-16 17:06] Sarvarr commented on #257
@ViniCleFer when i enable adjustToContentHeight the content is not scrolling on android.
disableScrollIfPossible={false}
i added this line and it worked for me
#219

[2021-03-22 09:15] swingywc commented on #219
Hi @jeremybarbet,
I have faced the same issues as @danilo900 and have made a PR for fixing it.
If you have time, could you please help to look into it and see if this is good to be released to production? Thank you.

[2021-03-22 09:36] swingywc commented on #219
For anyone who is using patch-package and waiting for the fix, please help to try the below patch and see if it has any issue:

File version name: **react-native-modalize+2.0.8.patch**
[code]

[2021-03-22 14:52] danilo900 commented on #219
Hello @swingywc,
I have tested your patch, its working perfect!

Thank you so much for your time :)

[2021-03-28 10:06] StefanoMartella commented on #292
Any update for this? Thank you.

[2021-03-30 12:14] oussamakenzup commented on #314
I have this issue as well.

[2021-04-02 06:30] MuhammadAbdullah54321 opened #319 "Open Modal from top to Bottom"
I was working in a project where I need to open similar modal from top to bottom and it should disappear towards top as well.
Is there currently any way to do this ?
If not, I would highly recommend to add this feature as well.

Thanks

[2021-04-06 00:37] teuscm commented on #257
That's not really fixing the problem.
He's explicitly using **snapPoint**, which gets canceled by adjustToContentHeight, so I assume he wants the keyboard avoiding behavior by interacting with the text input **while the modal is not fully opened** (aka. on the snap point).

I can confirm that on iOS the keyboard avoiding is not working with snapPoint while using the **flatlist renderer**.

Adding

[2021-04-06 00:39] teuscm commented on #219
No luck with this patch :/

[2021-04-06 09:39] chaaya commented on #316
Can confirm it, I am having the same issue.

[2021-04-12 06:49] ishowta commented on #316
It seems to be related to https://github.com/satya164/react-native-tab-view/issues/386

[2021-04-12 11:03] peterchibunna opened #320 "Tapping on Picker element crashes app"
**Describe the bug**
If a Picker element is contained within Modalize element, tapping on the Picker.Item crashes the App; However tapping on the arrow of the Picker allows you to successfully choose an item. It is the tapping on the picker directly that crashes the App, without any exception trace.

**Code:**
[code]

**Dependencies:**
 - "react-native-modalize": "^2.0.8",
 - "react-native": "0.64

[2021-04-13 12:00] peterchibunna commented on #320
Further info, It doesn't crash in expo, but on real device (tested on Android 6 and 7)

[2021-04-13 12:06] peterchibunna commented on #320
I think this is related to https://github.com/react-native-picker/picker/issues/237

[2021-04-23 00:52] manuelxaguilar commented on #257
Facing an issue with the keyboard avoiding view as well where the keyboard lands right on top of the list of results (as you can see my modal is opened at 65% of the screen from bottom to top). I have:

[code]

[2021-04-24 10:22] Stevemoretz commented on #41
Now try to use a TextInput in your setup, you'll go crazy just like me that why you thought you found the perfect solution, :)
You haven't I haven't none of those portal libraries work very well, they have rerender issues.

[2021-04-26 04:54] feriferdinan commented on #320
got same error

[2021-04-27 17:48] eladgel commented on #172
@jeremybarbet There is an issue when you add HeaderComponent in this scenario where the action sheet doesn't open at all...

[2021-04-28 08:34] kg-currenxie commented on #314
Actually, there's another issue with iPhones without a notch (real iPhone 8 device in our case), the modal goes way too high, under the status bar. @jeremybarbet is that a known issue?

[2021-04-28 19:04] eladgel commented on #284
@jeremybarbet using pan gesture events

[2021-04-30 13:46] in4core opened #323 "Big performance issue"
Every time modal opened - force render activated. So, already rendered lists, scroll view content and all of hole children - force renders -  react.memo, useCallback, observer and so on not helped  - render every time

Also - I cant create a own flat list  inside a modal,  because native flat list already embed - and i have a warning / error  - please make prop that KILL you embeded flatList ( scr

[2021-04-30 14:59] josera21 opened #324 "[Testing] TypeError: react_native_1.Platform.select is not a function"
**Describe the bug**
A have a problem running test with Jest on some screen where I use react-native-modalize

[code]

**Dependencies:**
 - react-native-modalize: 2.0.8,
 - react-native: 0.63.2,
 - react-native-gesture-handler: 1.5.6,
- @react-navigation/bottom-tabs: 5.11.2,
- @react-navigation/drawer: 5.11.4,
- @react-navigation/native: 5.8.10,
- @react-navigation/stack: 5.12.8,

[2021-05-03 21:02] Shaninnik opened #325 "panGestureAnimatedValue is animated to 0 instead of 1 when calling open("top") with alwaysOpen option"
**Describe the bug**
I have a Modalize with `alwaysOpen` option and two absolutely positioned on top of each other views inside with animated opacity that changes depending on the position of `panGestureAnimatedValue` value: one view is visible when modalize is closed to `alwaysOpen` value and another view is visible when modalize is fully open. This works perfectly if I drag/pan modalize to open

[2021-05-05 09:51] alexandermirzoyan opened #326 "The development server returned response error code: 500 - Android"
**Describe the bug**
I am getting a **The development server returned response error code: 500** message when I try to run my application on an Android device. IOS works well, but I get an error when I run it on Android.

I have followed to steps in the docs.

NOTE: I am using the expo with managed workflow.

**Reproduce**
https://drive.google.com/file/d/17ZcSd9NN7mfGZ44hLx65PzIrCBtzYz48/view?usp=

[2021-05-05 18:46] carloslibardo commented on #287
I'm with the same problem

[2021-05-06 12:40] itzfeltrin commented on #324
Hey, did you find a solution for this? I'm getting a different error, but they could be related

`TypeError: React.useRef is not a function

      at ModalizeBase (node_modules/react-native-modalize/lib/index.js:101:36)
      at renderWithHooks (node_modules/react-test-renderer/cjs/react-test-renderer.development.js:6016:18)
      at updateForwardRef (node_modules/react-test-renderer/cjs/react-tes

[2021-05-07 01:46] kg-currenxie commented on #248
Late response :D `tapGestureEnabled={false}` works!

[2021-05-07 01:46] #248 closed

[2021-05-07 05:06] devinnow8 opened #328 "Always Open modal is outside of the SafeAreaView in IOS"
When we set alwaysOpen props, the modal in alwaysOpen state is outside of the SafeAreaView in IOS, but when the modal is opened fully it appears to be inside the SafeAreaView. How to render the alwaysOpen modal inside the SafeAreaView.
![alwaysOpen](https://user-images.githubusercontent.com/77486603/117400343-02757b00-af20-11eb-8fd5-3c03e381d6f9.png)
![fullyOpened](https://user-images.githubuserco

[2021-05-09 10:19] Sunhat commented on #313
Hi
[code]

[2021-05-11 00:11] WangHansen commented on #200
@joeyfigaro How did you end up resolving this issue?

[2021-05-13 17:51] osvaldokalvaitir opened #331 "Close modal if you click outside the area"
Is there a way to close the modal when you click outside the area?

For example, when you click on the header does the modal close?

I am currently placing onClose on all header buttons that would not be indicated and onOverlayPress would not work in this case.

Any idea what I could do?
![Screenshot_1620928203](https://user-images.githubusercontent.com/40433049/118165466-b2545800-b3fa-11eb-9c93-d

[2021-05-16 11:11] cerdonmez commented on #58
Thanks for the good explanation. It worked for me also.

[2021-05-18 13:05] burhanyilmaz commented on #331
@osvaldokalvaitir
Did you update your `mainactivity.java` file? it is looking related to this.
https://docs.swmansion.com/react-native-gesture-handler/docs/#updating-mainactivityjava

[2021-05-19 12:39] osvaldokalvaitir commented on #331
@burhanyilmaz
hello, I checked the whole installation and it’s right! still continues that clicking on the yellow header doesn’t close the modal, I don’t know if this is the default, but that’s what I need.

Thank you for your help.

in your app closes the modal without you having to give an explicit close?

[2021-05-19 16:53] burhanyilmaz commented on #331
@burhanyilmaz  You should add the modal top of the component.  Your modal is on the navigation. You can add modal same component level. You can manage it with redux or others

or you can check this?
https://jeremybarbet.github.io/react-native-modalize/#/EXAMPLES?id=bottom-tabs-navigation-and-modalize

[2021-05-20 01:51] salindersidhu opened #332 "Issue with Button overlayed on top of modal on Android"
I'm having the following issue. When the modal open() function is called, the button that is behind the modal somehow appears overlayed on top of the modal. The button isn't interactive while the modal is open, so this might be a rendering issue. I'm using the Button component that comes with RN. This issue only appears on both emulators and real android devices, it's working as expected on iOS si

[2021-05-21 12:36] osvaldokalvaitir commented on #331
@burhanyilmaz I didn’t want to add the modal at the top level of components, as there will be many modals and can also impair rendering, but I’ll see the second option which is the link, thanks.

[2021-05-23 19:56] Sunhat commented on #332
Hi, this is to do with elevation. You should set the elevation level of the button to 0, or wrap the button in a View, and set that View's elevation to 0.

elevation is managed via the styles

[2021-05-24 11:06] hasanal1995 opened #333 "adjustToContentHeight is not working well when alwaysOpen is provided."
First of all, I'd like to say thank you for this amazing work and strong contribution to Modal in the react-native communtiy.

**Describe the bug**
when I use adjustToContentHeight with alwaysOpen and change the children content (the height of view will change), the modal is not expanded to the new height. so, adjustToContentHeight and onLayout are not working when alwaysOpen value is provided.

*

[2021-05-24 11:07] Rashawa97 commented on #333
same issue here

[2021-05-24 20:01] salindersidhu commented on #332
Thanks, wrapping the button in a view and using ```elevation: 0``` style works.

[2021-05-24 20:01] #332 closed

[2021-05-26 07:53] #326 closed

[2021-06-01 04:59] nagasai-tilicho commented on #41
**react-native-portalize not working for me, it throws an error 'No portal manager defined'**

### How I used:

### In Tabs Container
....
<Host>
    <Tab.Navigator>
    ....
    </Tab.Navigaator>
 </Host>

### In Modalize screen
<Portal>
  <Modalize ref={combinedRef} HeaderComponent={renderHeader} >
  <RNWebView ...... />
  </Modalize>
</Portal>

**I want to render web view on top of all like mod

[2021-06-02 10:02] ydv0121 commented on #333
Duplicate of #172

[2021-06-04 09:00] sahilhealine commented on #132
it did the trick for me in android.

[2021-06-04 22:29] bakerj417 commented on #17
this fixed all our click issues, it was like we had to do the IOS 3d click to click anything inside the Modalize, but after setting `tapGestureEnabled` to `false` in the props to the Modalize component everything now works like a charm.

thanks again @jeremybarbet !!

[2021-06-07 07:57] carissacks commented on #257
same issue. any update on this one?

[2021-06-07 17:03] rajscet opened #334 "Modal gone down when bundle is update by code push"
**Describe the bug**
A clear and concise description of what the bug is.

**Reproduce**
- Create a demo on https://snack.expo.io to reproduce the issue.
- Add gif screenshots to help explain your issue.
![Screenshot_20210607-222302](https://user-images.githubusercontent.com/6961313/121060403-345c5480-c7e0-11eb-8384-1a39dbf187e8.png)
![Screenshot_20210607-222244](https://user-images.githubuserconte

[2021-06-09 15:35] asalha opened #335 "In Android, SafeAreaView is not respected on my real device, in emulator it works OK."
**Describe the bug**
Like the title says: In Android, SafeAreaView is not respected on my real device, in emulator it works OK.

**Reproduce**

<img width="455" alt="Code_LRxTyLURXi" src="https://user-images.githubusercontent.com/4199314/121383742-87c3c500-c8fc-11eb-9da7-48179d756a00.png">
![Screenshot_20210609_172034_host exp exponent](https://user-images.githubusercontent.com/4199314/121383775-8

[2021-06-10 15:58] TomCorvus commented on #335
hi @asalha,
You can try to put the `SafeAreaView` in Modalize `FooterComponent` prop.
https://github.com/jeremybarbet/react-native-modalize/issues/286#issuecomment-782104919

or try the @jagwingchoy solution with `react-native-safe-area-context` `useSafeAreaInsets` hook.
https://github.com/th3rdwave/react-native-safe-area-context#usesafeareainsets

[2021-06-10 16:01] TomCorvus commented on #328
Hi @devinnow8,
please read this comment. Maybe It can help you to resolve your issue :
https://github.com/jeremybarbet/react-native-modalize/issues/335#issuecomment-858744991

[2021-06-10 16:08] TomCorvus commented on #314
Hi,
Do you try to update `react-native-modalize` to 2.0.8 version?
There are some fixes about position and OS compatibilities since 2.0.0.

[2021-06-14 02:33] hungvu193 commented on #308
I think it should be in document 👍

[2021-06-16 12:59] IPWright83 opened #337 "Drag behaviour is different when in a <Portal>"
**Describe the bug**
Within a `<Portal>` it is not possible to drag the modal to dismiss. This is different to the behaviour if not within a `<Portal>`

**Reproduce**
I've tried to produce a demo, but `<Portal>` doesn't appear to be working correctly on here properly. But at least it shows the code: https://snack.expo.io/jdceQJOmJ

Working (no `<Portal>`):
![NoPortal](https://user-images.githubuse

[2021-06-17 01:22] kg-currenxie commented on #314
2.0.8 seems to work well in simulators now :)

[2021-06-18 13:03] MasterTeus opened #338 "Modal closes when focusing on TextInput Keyboard"
**Describe the bug**
I'm using the repository's own demo [expo].

Always Open Mode

In this type of modal we have two positions: 'Initial' and 'Top'. When I make the Swipe Up gesture the modal is full screen 'Top'. When this is full screen I render a TextInput that when receiving focus the keyboard appears and the modal closes returning to the 'Inital' position.

How can I get an Input in this typ

[2021-06-22 12:35] alexandermirzoyan commented on #132
Dear @OmgDef,
I have tried with `flex: 1` it resolved that issue for not pushing the screen when the keyboard is opened but now I have another issue my modal's height is not that much as I wanted.

![image](https://user-images.githubusercontent.com/48055294/122925305-c4210780-d377-11eb-8b41-ef7958fbea96.png)

[2021-06-24 17:11] Samirramirodiaz commented on #338
Is there any news?

[2021-06-30 16:49] parthkanani93 commented on #246
+1

[2021-06-30 21:41] wdospinal commented on #237
@coolp123 did you solve this somehow?

My change animated but to a collapse position
https://user-images.githubusercontent.com/9275207/124035277-f2c75f80-d9c1-11eb-93c0-4cd6051ee4c8.mp4

[2021-07-02 21:20] josera21 commented on #324
The issue continues, did you find any solution for this?

[2021-07-05 09:47] Awe1alex commented on #338
The solution that worked for me:
add `avoiKeyboardLikeIOS={true}`
change `keyboardAvoidingBehavior="height"` (default is 'padding', that makes whitespace on bottom).

Also, there is jumping on Android devices on input focus my solution was to set `modalStyle` to `{ flex: 1, marginTop: top + 35 }`.
`top` variable comes from `useSafeAreaInsets()` from `react-native-safe-area-context`

[2021-07-07 09:46] aprilmintacpineda commented on #132
Doing this will **partly** prevent the jumping, BUT it still jumps, in this case when you open the keyboard, the modali jumps all the way to the top and then stays there until you close the keyboard again, I fixed it by doing:

[code]

[2021-07-08 07:35] anymexe opened #339 "Status bar background color"
Hello,

How can I change the statusbar color or is there a alternative like statusbartranslucent ?

[2021-07-11 12:29] b3hz4d commented on #132
This will fix it, But now the problem is using `adjustToContentHeight` is not working with `modalStyle={{ flex: 1 }}` and the content is full always

[2021-07-17 16:15] likeSo opened #341 "Add a hook to access Modalize itself inside it's children"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A modal will be opened outside and will be closed after it finishes its job.
The modal should be closed by itself after its jobs are done.
Consider we have a `SingleSelectBottomSheetModal` component, which displays a bottom sheet with a fl

[2021-07-18 10:20] likeSo opened #342 "How can i wrap react-navigation into Modalize?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[code]

And this is what i got:
<img width="440" alt="image" src="https://user-images.githubusercontent.com/12247340/126063551-98e285b7-2528-4d91-93f2-5245432cea49.png">

**Describe the solution you'd like**
A clear and concise description

[2021-07-21 15:55] fmedinac commented on #337
I had the same issue. After some digging, I found out that I was missing to finalize react-native-gesture-handler [installation](https://docs.swmansion.com/react-native-gesture-handler/docs/#android) for Android.

[code]

[2021-07-22 23:25] pouyarezvani commented on #213
@jeremybarbet Any updates on this feature?
Would love to use this!

[2021-07-26 08:55] QaysTrad opened #344 "Modalize with with react-native-tab-view pages not scroll horizontal in the tabs on android"
The react-native-tab-view does not scroll horizontal inside modalize.

- Demo for the app https://snack.expo.dev/@qaystrad/modalize-with-react-native-tab-view

Dependencies:
 - react-native-modalize: "^2.0.8"
 - react-native: "0.64.0"
 - react-native-gesture-handler: "^1.10.3"

[2021-07-26 09:59] Yawanseh commented on #344
@QaysTrad  i have the same issue!

@jeremybarbet

[2021-07-26 09:59] F-xobj commented on #344
ping me if someone has a solution for that , please !

[2021-07-28 12:46] ULazdins commented on #288
I spent quite some time figuring this out, @moooss's comment helped. Perhaps it is worth to add a warning to the README?

[2021-07-28 15:12] wdospinal commented on #338
The keyboard is in another modal, I don’t know why is closing the one with **react-native-modalize**

[2021-07-28 15:27] wdospinal commented on #288
@ULazdins how did you solve this?

[2021-07-28 15:44] wdospinal commented on #257
Any update about this?

[2021-07-28 19:54] ULazdins commented on #288
Just to clarify my situation - had a modal with an textinput and a button.

![IMG_F1CB515D3839-1](https://user-images.githubusercontent.com/1000041/127387036-d2f0c38a-9270-40da-a3bf-5c287a1725f7.jpeg)

The issue was that it was impossible to tap on a button while the keyboard was open. It closed keyboard and only second tap worked.

And the solution was to add
[code]
After that the button can alwa

[2021-07-29 21:38] justinjaeger commented on #52
Adding tapGestureEnabled={false} fixed it for me, thank you

[2021-07-30 21:34] pouyarezvani commented on #213
@levani @asp3 Commenting back to see if there was any update on this feature request?
@jeremybarbet Would be super awesome if there is any progression on this?

[2021-08-01 18:24] anymexe opened #346 "Why keyboardshouldPersistabs not working ?"
Hello,

Why is keyboardshouldpersiststabs not working ?

`    <Modalize
      ref={ref}
      adjustToContentHeight
      scrollViewProps={{keyboardShouldPersistTaps: "always"}}
    />`

[2021-08-01 18:30] #346 closed

[2021-08-04 13:42] Symyon opened #347 "Scrolling a list in a modal that is not full screen/fully opened"
**Describe the bug**
Scrolling a FlatList inside the Modalize component that is not full screen (alwaysOpen prop used for keeping it half the screen) will trigger a Modal height change on subsequent touch of the FlatList. The change in height is proportional with the first scroll amount of the FlatList. Same thing actually happens with just a scroll view.

**Reproduce**
- This happens in the examp

[2021-08-06 15:05] macsmitty opened #348 "Keyboard avoiding FloatingComponent"
Hi, when opening a Modal I want to have a TextInput component on the bottom of the modal (outside the ScrollView), which is visible regardless of the Modal being at snap-position or full height. Using the FooterComponent does not seem to be the right thing to achieve that because it is not visible when the Modal is only half open (snapPoint). Since the FloatingComponent does exactly that I thought

[2021-08-18 10:22] kanelloc opened #350 "Problem with panGestureAnimatedValue when modalize has internal scroll"
Hi,
I am using panGestureAnimatedValue to animate a header when the modalize is closed/open. The main problem is that if modalize's content scroll panGestureAnimatedValue changes value to below 1  when the modalize is open. Is there a way to fix this?

Thank you

**Dependencies:**
 - react-native-modalize [2.0.6]
 - react-native [e.g. 0.63.2]
 - react-native-gesture-handler [e.g. 1.8.0]

[2021-09-02 14:17] marcosgok commented on #337
It work like a charm, thanks!

[2021-09-06 04:32] MursiDirect opened #353 "Can't position modal at the bottom of the screen"
**I have a problem Positioning the Modal at the bottom of the screen**
I use the Modalize Component with another "View" as a component, when I import this component it works fine, but the Modal is not at the bottom of the whole screen, instead, it appears at the bottom of the "View" where I import the component

**Reproduce**
Here is the resulted component after importing it
![1](https://user-imag

[2021-09-06 05:52] tj-mc opened #354 "panGestureHandler should respect current velocity of sheet dismiss gesture"
**Is your feature request related to a problem? Please describe.**
When dismissing using a gesture, the sheet will stop, then play the closing animation.

**Describe the solution you'd like**
Expose a prop to use a velocity-based dismiss animations that feels natural, like `@gorhom/bottom-sheet` does by default.

**Describe alternatives you've considered**
Expose the gesture handler so that it can

[2021-09-06 12:14] amk-cb opened #355 "Can this be used as a drop down or banner"

[2021-09-06 15:34] wdospinal opened #356 "Modal starts open with the props alwaysOpen and snapPoint"
**Describe the bug**
We are usign`alwaysOpen` `adjustToContentHeight` `panGestureAnimatedValue` `snapPoint` props, to be able to create a modal when the user open this screen is opened, The user is able to close it.

**Reproduce**
- Demo with the issue https://github.com/wdospinal/issue-react-native-modalize.
- Add gif screenshots to help explain your issue.

**Dependencies:**
 - react-native-moda

[2021-09-07 20:18] #353 closed

[2021-09-07 20:19] MursiDirect commented on #353
I've Found The Solution Using Jeremy's package "react-native-portalize", now it works like a charm

[2021-09-13 05:34] likeSo commented on #296
Hi, could you please merge and release new versions? There is no updates since 2020

[2021-09-15 14:31] holyris opened #357 "react-native-tab-view not visible in Modalize when adjustToContentHeight is true"
**Describe the bug**
react-native-tab-view is not visible when used in Modalize FooterComponent prop, with adjustToContentHeight = true
The tabs are still rendering, so I guess TabView has no height.
I tried to set fixed height but doesn't work either

**Reproduce**
https://snack.expo.dev/@holyris/tabview-not-visible-in-modalize-when-adjusttocontentheight-is-true

Android (not working) :
![image](

[2021-09-17 20:06] marcotvrs opened #358 "EventEmitter.removeListener deprecated"
This warning is always showing in the app when modalize is added:

EventEmitter.removeListener('change', ...): Method has been deprecated. Please instead use `remove()` on the subscription returned by `EventEmitter.addListener`.

[2021-09-18 07:24] likeSo commented on #286
I got the same error.
I think there are 2 ways to resolve this problem:

- Use `react-native-safe-area-context`'s `SafeAreaView`
- Remove `SafeAreaView`, use `useSafeAreaInsets`and make paddings manually

For me, i used the second way to solve this

[2021-09-19 21:03] wandersonalwes commented on #358
same problem here

[2021-09-21 12:04] andac-ozcan commented on #337
Adding `RNGestureHandlerEnabledRootView` into MainActivity also solved my issue. 🙏

[2021-09-26 05:47] cereme commented on #52
Solution from @justinjaeger exactly works. Thanks

[2021-09-26 09:35] Hirbod commented on #52
Just use https://github.com/gorhom/react-native-bottom-sheet

It gets rid of all the bugs that live in this repo for a year or so, is actively developed and runs on native thread thanks to reanimated 2

[2021-09-28 06:44] fahad86 commented on #358
Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-modalize@2.0.8` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-09-28 07:22] lordival opened #360 "adjustToContentHeight is not working when alwaysOpen value is provided"
First of all, thanks for this great work.

Describe the bug:
when I use adjustToContentHeight with alwaysOpen and change the children content (the height of view will change), however the modal is not expanded to the new height, hence, adjustToContentHeight is not working when alwaysOpen value is provided.

Reproduce:
- create a modal with alwaysOpen and adjustToContentHeight.
- change a children

[2021-09-28 08:12] lordival commented on #333
Same issue here

[2021-09-28 08:15] lordival commented on #292
Same issue here

[2021-09-29 22:21] b2bking opened #361 "How to unit test this component"
Recently I started using this component but found myself not being able to unit test. How to do unit testing with this component

[2021-10-07 02:44] b2bking opened #362 "How to do accessibility stuff with this library?"
I tried to put some accessibility stuff but was able to do it

[2021-10-12 14:53] h4phaistos opened #363 "Fix warning EventListener after update react-native >0.6.5"
Hi! 👋

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-modalize@2.0.8` for the project I'm working on.

There is an upstream change, where in react-native@0.65.0 they deprecated the old api in favour of a more terse name, so removeListener() becomes remove().

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated

[2021-10-14 10:26] jeremybarbet commented on #358
Fixed in https://github.com/jeremybarbet/react-native-modalize/commit/c4c3282a7c9f5eecf8ea20f6c242d5e2d5fd2567

[2021-10-14 10:26] #358 closed

[2021-10-14 10:38] #363 closed

[2021-10-16 19:40] wandersonalwes commented on #360
same problem

[2021-10-19 17:23] Tycholiz commented on #284
nope, unfortunately never could get this to work properly. I haven't had a look at alternatives either I'm afraid.

[2021-10-25 02:16] urionafacu opened #365 "TypeError: react_native_1.Platform.constants is undefined"
The error occurs when I want to run expo on web with `expo start --web`

**Dependencies:**
"dependencies": {
    "@appbaseio/reactivesearch-native": "0.12.0",
    "@expo/vector-icons": "^12.0.0",
    "@ptomasroos/react-native-multi-slider": "file:patches/@ptomasroos/react-native-multi-slider",
    "@react-native-async-storage/async-storage": "~1.15.0",
    "@react-native-community/masked-view": "0

[2021-10-26 07:31] Yeezy2277 opened #366 "Modal doesn't work in FlatList component"
I've this problem after open modal:
![image](https://user-images.githubusercontent.com/40365400/138829347-ad288abb-f91e-49b5-b453-97c4dc2dc820.png)
The modal is positioned lower than we can see. Also, it's located at the FlatList component
Code:
![image](https://user-images.githubusercontent.com/40365400/138829377-34333f9b-90a4-4d82-9b3d-77ac9683b242.png)
image

[2021-10-30 08:31] sanjeevkse commented on #205
@Duya3fithou is it possible to share your working code?

[2021-10-30 13:07] douglasfarias commented on #365
I have the same problem runing on WEB.
The solution provided by @urionafacu works fine.

Thanks.

[2021-11-02 19:17] sanjaykochrekar commented on #58
its working

[2021-11-03 20:27] alucardeht commented on #341
Recently he has merged one implementation of this hook, but idk how to use

[2021-11-04 02:27] likeSo commented on #341
https://jeremybarbet.github.io/react-native-modalize/#/HOOKS Maybe this?
But this is not what i want, i need a hook that accesses the modalize **INSIDE** itself, which allows me to close the modal inside itself.

[2021-11-07 21:03] #365 closed

[2021-11-09 08:34] nirajniroula commented on #172
When `HeaderComponent` is passed, this issue is still there. You should either remove the `HeaderComponent` prop or the `adjustToContentHeight` prop to make the `alwaysOpen` prop work.

[2021-11-10 16:29] RomanSuvorov commented on #347
Same problem

[2021-11-10 17:26] RomanSuvorov commented on #307
+1

[2021-11-10 17:29] RomanSuvorov commented on #297
[code]

[2021-11-11 16:08] pierroo commented on #323
I face the same issue; did you find a way to solve this?
Turning off the scrollview that comes along modalize when using a flatlist inside?

[2021-11-12 06:30] wolframus commented on #219
`
const { height } = Dimensions.get('window')

 const [contentHeight, setContentHeight] = useState(0)

return <Modalize adjustToContentHeight={height * 0.9 > contentHeight} {...otherProps}>
  <View  onLayout={({ nativeEvent }) => setContentHeight(nativeEvent.layout.height)}>
    // you scrollable content goes here
  </VIew>
</Modalize>
`

[2021-11-12 15:54] PaulMetley commented on #246
+1, interested in any solution

[2021-11-17 22:56] wandersonalwes opened #369 "Modal closing itself when clicking a TextInput on iOS with alwaysOpen"
**Describe the bug**
Modal closing itself when clicking a TextInput on iOS with alwaysOpen.

**Reproduce**

https://imgur.com/a/Kv6i81c

**Dependencies:**
 - react-native-modalize: 2.0.12
 - react-native: 0.66.2
 - react-native-gesture-handler: 1.10.3

[2021-11-19 18:36] cuongnv-dev opened #370 "Issue with input inside modalize"
**Describe the bug**
I have created a modalize with input and submit button.
When the input has focused, the keyboard shows up, and when I press the submit button, first it closes the keyboard, not executing the onPress function. Then when the keyboard is down, I can use the onPress function normally

**Reproduce**
  <Modalize ref={modalizeRef} adjustToContentHeight={true}>
        <View style={st

[2021-11-24 14:18] doougui opened #371 "Using Modalize inside a component doesn't work as expected"
When using Modalize inside a component instead of inside a page it doesn't work as expected. Instead of opening the bottom sheet relatively to the page it opens the modal relatively to the component.

![Simulator Screen Recording - iPhone 8 Plus - 2021-11-24 at 11 12 15](https://user-images.githubusercontent.com/44846329/143254729-936fe25f-fd2c-40c3-9c92-5d107379f277.gif)

You can note how the bla

[2021-11-24 14:49] doougui commented on #371
For those having the same issue as I did, I solved it using `withReactModal`, as stated [here](https://github.com/jeremybarbet/react-native-modalize/issues/9). Sorry for any inconvenience, haven't found that issue before I created this one :)

Great library btw

[2021-11-24 14:49] #371 closed

[2021-11-24 20:18] tvillafane commented on #362
Bumping this, accessibility seems to be swallowed up.

[2021-11-26 06:09] uffou commented on #132
I have a keyboard and focused input in the modal + I am using snapPoint and modalHeight to switch between 2 heights thus can't use the marginTop + flex:1 fix :(

[2021-11-26 06:46] alexandermirzoyan commented on #132
Can you send a code snippet, please?

[2021-11-26 19:59] borasumer opened #373 "How to access useModalize hook"
In the documentation there is useModalize hook but I can't see where you import it.

![Screen Shot 2021-11-26 at 2 57 44 PM](https://user-images.githubusercontent.com/36308477/143625473-e2d8fc8a-cdcf-45e5-86d8-ff526f6af902.png)

[2021-11-26 20:05] borasumer commented on #373
import { useModalize } from 'react-native-modalize/lib/utils/use-modalize';
I imported it from here, but not sure this is how it is supposed to be imported honestly. Thanks

[2021-11-27 10:31] MursiDirect commented on #370
i have the same annoying problem,  did you find any solution for it? @cuongnv-dev

[2021-11-29 11:17] #222 closed

[2021-12-03 17:16] tvillafane commented on #362
I ditched this library in favor of the stock RN modal

[2021-12-06 19:51] mickaeloak commented on #339
Anyone found a solution for this? Stuck with this too!

[2021-12-07 09:44] gesangseto opened #374 "Error: It is not supported to use minDist with activeOffsetX or activeOffsetY"
I'm using RN Modalize and have had several projects using the react-native-modalize library and no problems so far. but this time I created a new project and have followed the tutorial to apply react-native-modalize but get an error like this if I run `modalizeRef.current?.open();`  :
![image](https://user-images.githubusercontent.com/49031964/145005493-3d100ca0-117c-4da7-893e-635c3db70c5a.png)

[

[2021-12-07 13:19] Gueoff commented on #28
same problem here, but the doc says:

Because of a limitation with react-native-gesture-handler, HeaderComponent, FooterComponent and FloatingComponent are not wrapped with a PanGestureHandler on Android, which mean you cannot dismiss Modalize by swiping down on these three components. If enabled, the inner events you could have in your components (e.g. TouchableOpacity, ScrollView) are cancels an

[2021-12-08 08:17] hasanalicansu commented on #374
Bro I had the same problem, change react-native-gesture-handler version. Install this version **_react-native-gesture-handler@1.10.3_** solves the problem for now, and wait the fix problem for new react-native-gesture-handler.

[2021-12-09 02:34] gesangseto commented on #374
@hasanalicansu

I don't know how it happened, but it really worked
thank you

[2021-12-09 04:37] MrXyfir commented on #374
@gesangseto Can you keep this open? The real solution here is for `react-native-modalize` to support v2 of `react-native-gesture-handler`.

[2021-12-09 04:51] gesangseto commented on #374
Ok I will reopen

[2021-12-09 19:43] EmreKorpe commented on #339
same problem +1

[2021-12-10 11:24] harveyappleton commented on #342
@likeSo I just got this working myself, here's minimal code example

App.tsx (root)
[code]

Then in your child component file that opens your modal
ChildComponent.tsx
[code]

(as you can see I'm using the react-native-portalize library here)

They key was setting `contentContainerStyle: { flex: 1 }` on the scroll view props of the modal :)
And also having another navigation container inside the mo

[2021-12-11 06:53] likeSo commented on #342
@harveyappleton I got this:
![IMG_374CCED7F811-1](https://user-images.githubusercontent.com/12247340/145667442-e6455cc8-425c-4765-b5fc-f85addf2d0b7.jpeg)
The border-radius is gone and there is an error about the virtualized list

[2021-12-11 14:01] harveyappleton commented on #342
@likeSo yeh so this shows that you can use react-navigation within react-native-modalize :) I managed to get the border-radius back by doing some crafty styling on the headers of the react-navigation stack component I'm using - but that's not the responsibility of react-native-modalize, so out of the scope of this library. RE: the virtualized list, yeh I have the same problem at the moment, seeing

[2021-12-11 14:06] likeSo commented on #342
@harveyappleton You don't understand... There are other problems such as scroll behavior. And there is another bottom sheet library that works with React Navigation perfectly: https://github.com/gorhom/react-native-bottom-sheet
The modalize library's Robustness and usability are better than that one, but no  react-navigation support

[2021-12-11 14:18] harveyappleton commented on #342
@likeSo you're correct that it has not got react navigation _integrated_ directly into the library, you have to do it yourself. I have no problems with integrating it, or any problems with scroll behaviour... ultimately you need to find the best library for your project, if that's react native modalize than awesome, if not it may need to be the one you linked. But it is possible to use react navig

[2021-12-11 14:26] harveyappleton commented on #342
Also, you can fix the nested virtualized lists error by using custom renderer ([docs here](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=customrenderer))

[code]

Now I have react navigation working inside the modal, and no errors :)

[2021-12-11 15:26] likeSo commented on #342
@harveyappleton Okay, thank you

[2021-12-16 19:39] doougui commented on #219
Thanks. It worked for me :)

[2021-12-17 16:55] joelemanoel commented on #370
Not work for me.

[2021-12-17 19:39] meycon1 commented on #374
Boaa!!

[2021-12-22 06:39] aprilmintacpineda commented on #374
Pretty please!

[2021-12-23 11:07] FadiAboMsalam commented on #374
any update on this

[2021-12-23 13:52] borasumer opened #376 "Swiping back/go back closes the modal"
Some android devices have swipe back functionality such as Samsung S series. You can go back by swiping the screen from right to left. When I do that it closes the modal first instead of going back to the previous screen, then the next swipe it goes back. For some reason device save model opening as a navigation step and the first thing it does on swipe is to close it.

**Reproduce**
- You can see

[2021-12-23 16:44] MrXyfir commented on #374
@FadiAboMsalam see the discussion on #375

[2021-12-24 01:49] jdaniel-ap opened #377 "Modal Crash App in Android"
Good evenin everybody, I have been testing Modalize with expo and on iOS it behaves very well, but when I try to run it on android it crashes the application, I don`t know why.

this is the message it throws after crashing:
![269696184_456099702749186_6470333034505075916_n](https://user-images.githubusercontent.com/74429277/147305860-db569bc4-48d1-48fb-92ac-a9a604663f28.jpeg)

Projectd dependencie

[2021-12-24 08:07] #374 closed

[2021-12-24 08:11] jeremybarbet commented on #377
The error refers to https://docs.swmansion.com/react-native-reanimated/docs/fundamentals/layout_animations

[2021-12-24 12:01] jdaniel-ap commented on #377
The problem was solved with the lastest merged.

[2021-12-24 12:01] #377 closed

[2021-12-26 10:33] SaeedZhiany opened #379 "Use React-native-reanimated for animations"
**Is your feature request related to a problem? Please describe.**
First of all, Thank you for this amazing library.

I'm looking for a react-native modal library that supports different modal behaviors and renders contents and animations smoothly. your library is one of my choices due to supporting all modal behaviors I want. but when I looked at the file `package.json` I figured out that you're

[2021-12-28 12:31] giacomoarienti opened #380 "No gestures detected on Android with react-native-gesture-handler 2.x"
**Describe the bug**
On Android is not possible to close the modal by swiping or tapping outside the modal.

**Reproduce**
- Android emulator
- Create a Modalize instance inside a View or SafeAreaView

**Dependencies:**
- react-native-gesture-handler: ~2.1.0
- react-native-modalize:  ^2.0.13
- react-native: 0.64.3
 - expo: ^44.0.0
 - react-navigation/native: ^6.0.2,

[2021-12-29 12:59] cuongnv-dev opened #381 "Android crash when open the modalize with Expo"
**Describe the bug**
I have used react-native-modalize with expo, it work fine in IOS, but in Android, when show the modalize, I got this issue

![photo_2021-12-29 19 52 09](https://user-images.githubusercontent.com/82807964/147664230-7ea04254-32ba-46a2-8754-54030aee2144.jpeg)

**Dependencies:**
 - react-native-modalize: [2.0.13]
 - expo: [42.0.1]
 - react-native-reanimated: [2.3.1]

[2021-12-30 09:00] cuongnv-dev commented on #377
@jdaniel-ap I have the same issue, can you help me with this?

[2022-01-03 23:08] alexissanchezsequal commented on #380
Same problem only on android, on ios it closes when pressing outside the modal.

[2022-01-06 01:24] aprilmintacpineda commented on #308
Worked for me. Thanks very much!

[2022-01-06 06:39] KarthikMandava commented on #132
I'm facing the same issue in iOS when I set `adjustToContentHeight` and use text input, the view gets bounced when the keyboard opens. If I remove `adjustToContentHeight` the view gets the entire page but my content is half of the page only, which needs to look like a popup from the bottom. Any workaround to fix this behavior?

[2022-01-07 00:59] kurtiscc commented on #370
I have a similar issue where if the modal is set to `alwaysOpen` and then I open it up via a button press using `onPress={() => modalizeRef.current.open('top')}` it requires 2 taps before my content will start scrolling. This is not an issue when I open the modal by swiping up. I also came to the conclusion that `scrollViewProps={{ keyboardShouldPersistTaps: "handled", }}` would be my fix but it d

[2022-01-09 13:50] TPausL commented on #380
same here

[2022-01-10 14:44] petervistyan commented on #380
Does anyone find a workaround for this issue so far?

[2022-01-10 14:47] giacomoarienti commented on #380
To close the modal I’ve added a cancel button that calls the close method of the modal ref

[2022-01-14 16:25] peterchibunna commented on #376
Try
`onBackButtonPress={() => false}`

[2022-01-21 03:09] darrylsyms opened #382 "Basic Example does not work?"
**Describe the bug**
I can't seem to get it to work at all. Even the most basic example? Surely I'm missing something silly here...

**Reproduce**
- Check my snack: https://snack.expo.dev/Q_CTl6L-h

[2022-01-21 10:55] KULTI1995 opened #383 "Dragging does not work, clicking on overlay does not close bottom sheet."
**Describe the bug**
Posted in app "import 'react-native-gesture-handler';". Dragging does not work, clicking on overlay does not close bottom sheet. Why does it work! Just nothing happens. Bottom sheet opens and on undo button on phone closes. Dragging does not respond and clicking on the overlay does not respond. Please help me.

**Dependencies:**
  "react-native-gesture-handler": "~2.1.0",
   "

[2022-01-24 13:43] KalanaPallemulla opened #384 "Content scroll in android before full view when use snap points on Android"
Content is scrolling in 2nd time before full view when use snap points on Android. It is not happening in the first time(First time swipe up after pop up appear it's working fine). Then if try to swipe up 2nd time from snap point to full view, content is scrolling. I used tapGestureEnabled={false} but its not working.

<Modalize
          snapPoint={snapPoint}
          closeSnapPointStraightEnabl

[2022-01-25 08:35] Cmoen11 commented on #380
Is there any news on this?

[2022-01-25 08:41] Cmoen11 commented on #383
Hi, I think you had the same problem as I did. I placed `GestureHandlerRootView` to the root of my project. This didn't work.

Try adding it to the View containing the thing :p

[2022-01-25 09:31] gbumps commented on #170
@jeremybarbet This issue still happened on v2.0.13, on real device iOS, when snapPoint is used.

`<Modalize
          ref={ref1}
          flatListProps={{
            data: cities,
            keyExtractor: (item, index) => `${item.id + '_' + index}`,
            renderItem: ({item}) => (
              <Button
                padding={SPACING.sm}
                onPress={() => {

[2022-01-25 09:40] gbumps commented on #170
@jeremybarbet This issue still happened on v2.0.13, on real device iOS, when snapPoint is used.

<Modal
          ref={ref1}
          flatListProps={{
            data: cities,
            keyExtractor: (item, index) => `${item.id + '_' + index}`,
            renderItem: ({item}) => (
              <Button
                padding={SPACING.sm}
                onPress={() => {
                  cha

[2022-01-25 11:50] gbumps opened #385 "Glitchy behaviour on iOS when scrolling to top"
**Describe the bug**
Reopen from [#170](https://github.com/jeremybarbet/react-native-modalize/issues/170)
This issue still happened on real device but not in simulator
When using with `snapPoint` && `closeSnapPointStraightEnabled={false}` caused the issue.

Both iOS and Android platform.
**Reproduce**
[code]
Video
https://user-images.githubusercontent.com/16846439/150972020-88d46c85-92ca-485c-a015

[2022-01-25 11:51] KalanaPallemulla commented on #347
Same problem only on Android

[2022-01-26 02:36] KalanaPallemulla opened #386 "Dynamic values are not assigned as snappoint value"
**Describe the bug**
I'm trying to use sum dynamic values for snappoint. It's not assigning correct value and it took previous value as snappoint value.

`const snapPoint = miniViewHeight + handleHeight + hp('8.62%');

<Modalize
          snapPoint={snapPoint}
          closeSnapPointStraightEnabled={false}
          scrollViewProps={{showsVerticalScrollIndicator: false}}
          handlePosition=

[2022-01-26 07:35] sanaarshed commented on #383
please sir can you elaborate the solution?

[2022-01-26 10:53] AlfredMan opened #387 "With expo v44 and rn-gesture v2.x. Modal can't be opened/closed by dragging handle in ANDROID. Content isn't scrollable in android"
**Describe the bug**

In package.json, if we use:
     "expo": "~44.0.0"
    "react-native-gesture-handler": "^2.2.0",
Android 's modal can't be closed/opened by dragging top handle. Content also isn't scrollable anymore

As soon as we set these two dependency back to eg:
    "expo": "~43.0.0",
    "react-native-gesture-handler": "^1.10.3",
It works again in Android.

I am using react-native-modal

[2022-01-26 10:54] AlfredMan opened #388 "Android with react-native-gesture-handler 2.x + expo 44. Modal cant be opened by dragging top handle. Content isn't scrollable"
**Describe the bug**

In package.json, if we use:
     "expo": "~44.0.0"
    "react-native-gesture-handler": "^2.2.0",
Android 's modal can't be closed/opened by dragging top handle. Content also isn't scrollable anymore

As soon as we set these two dependency back to eg:
    "expo": "~43.0.0",
    "react-native-gesture-handler": "^1.10.3",
It works again in Android.

I am using react-native-modal

[2022-01-26 10:58] #387 closed

[2022-01-26 10:58] AlfredMan commented on #387
duplicated issue as
https://github.com/jeremybarbet/react-native-modalize/issues/388

[2022-01-27 05:24] BharatBhushan2907 opened #389 "scrollToEnd not working on smaller devices"
I have added a text Input in the bottom-sheet. My requirement is to scroll to end the moment user focuses on text input. The code is working fine for larger devices but for devices like Pixel 2 scroll stops on text input.

    useEffect(() => {
      scrollToContentEnd();
    }, [props?.scrollToContentEnd]);

    const scrollToContentEnd = () => {
      contentRef.current?.getScrollResponder().scr

[2022-01-27 08:43] jeremybarbet commented on #380
Hi, I haven't been able to look at it yet, but in the meantime I would recommend downgrading to RNGH v1.x.

I will eventually upgrade RNGH on my projects so I will need to fix it on Modalize. If anyone has a fix and want to open a PR before that, feel free, otherwise, please be patient, it might take a while

[2022-01-27 08:43] jeremybarbet commented on #388
Duplicate of https://github.com/jeremybarbet/react-native-modalize/issues/380

[2022-01-27 08:43] #388 closed

[2022-01-27 08:44] jeremybarbet commented on #383
Duplicate of https://github.com/jeremybarbet/react-native-modalize/issues/380

[2022-01-27 08:44] #383 closed

[2022-01-27 08:48] jeremybarbet commented on #382
You copied typescript in javascript file. Here is the fixed snack https://snack.expo.dev/UTAuEZ8xT

[2022-01-27 11:27] darrylsyms commented on #382
That doesn't seem to work either Jeremy? 🤔

[2022-01-27 11:42] jeremybarbet commented on #382
I don't know for some reason it worked when I tried it after hot reload. Anyway, looks to be related to this line https://github.com/jeremybarbet/react-native-modalize/blob/master/src/utils/libraries.ts#L16 I saw some conditional require supported by expo some time ago, but not sure what's the status and if it's related to that, a bit tricky

[2022-01-27 16:39] pqminh commented on #337
special thanks @fmedinac

[2022-01-31 11:33] KalanaPallemulla opened #390 "Popup panel drag is not working some times when try to drag with content"
**Describe the bug**
I was trying to drag down panel to snappoint by touching content and it is not working. It worked for me for first tries. After some time it is not working as before. Also it is working with hander or header.

![Stuck](https://user-images.githubusercontent.com/54788327/151786410-b2c58ac7-4d27-45ae-b485-edf7bd0a3877.gif)

**Dependencies:**
 - "react-native-modalize": "^2.0.13"

[2022-02-01 08:12] darrylsyms commented on #382
Ok Jeremy - I'll investigate. Thanks!

[2022-02-01 08:12] #382 closed

[2022-02-02 15:51] kuzkokov commented on #286
just FYI guys, this method from comment above

isn't working

[2022-02-03 06:10] AshrafulAfruz opened #391 "Consider moving up and down of the modal only if swipe direction in up or down"
I have used react native slider in modalize. But when I try to rub (slider track is clickable) the slider left and right it also happen there is slightly movement in the direction of up and down. This makes use of the slider unstable as it doesn't  work when the modalize is moving. Is there any workaround this..? Like pangesture is only enabled when swipe direction is almost straight up and down (

[2022-02-04 07:10] rajscet opened #392 "How to change overlay color from dim black to dim white?"
How to change overlay color from dim black to dim white?

[2022-02-07 15:49] serverlocal017 opened #393 "Error: It is not supported to use minDist with activeOffsetX or activeOffsetY"
Hello,

is there any fix for this ?

https://github.com/jeremybarbet/react-native-modalize/issues/374

If I upgrade my react-native-gesture-handler to 1.10, then my expo app crashes everytime. If I upgrade to 2.0 then I cant use modalize

[2022-02-07 22:49] scarlac opened #394 "inputRange must be monotonically non-decreasing"
**Describe the bug**
Crash due to interpolation range

**Reproduce**
I don't have a specific step to reproduce.

**Dependencies:**
 - react-native-modalize [2.0.6]
 - react-native [0.64.3]

The following appears in crash logs in production versions of my app:
`Fatal Exception: RCTFatalException: Unhandled JS Exception: Invariant Violation: inputRange must be monotonically non-decreasing -40,0,-120

[2022-02-08 07:29] andreygamb commented on #394
same issue

[2022-02-08 20:46] edsonjuniornarvaes commented on #374
I updated the react-native-modalize version to "^2.0.8" and the error stopped showing for me

Try running: `yarn upgrade react-native-modalize`

[2022-02-08 21:08] jeremybarbet commented on #380
I don't want to make false promise so I don't have any timeline. I started working on it here https://github.com/jeremybarbet/react-native-modalize/pull/227. It will be released as major with breaking changes once done

[2022-02-08 21:51] perroudsky commented on #380
ok cool, thanks for the update !

[2022-02-11 07:17] ChoiHyeongu commented on #394
same issue

[2022-02-16 09:43] 7dp commented on #224
Any update about this?
Thanks for this great library! But the close animation didn't smooth enough :(

When i modify `spring` & `timing` prop and then achieve the smooth animation i wanted, the `onClosed` method fires too late, 2s after the `onClose` method fires.

[2022-02-17 14:38] lurui1029 commented on #394
same here

[2022-02-23 15:19] BloodyMonkey commented on #380
I'm very interested knowing that most of my projects are using Modalize

[2022-02-24 14:05] Marcuspo commented on #213
+1

[2022-02-24 14:37] Marcuspo commented on #360
same problem

[2022-02-28 17:45] Marcuspo commented on #304
When your declare alwaysonTop, not use .open, only open('top)

[2022-03-01 14:46] Marcuspo commented on #386
+1

[2022-03-02 09:40] rgonzalez-clicoh commented on #388
Hi, @AlfredMan
 A pleasure to greet you, maybe I don't know if it works for you now, but it helped me to add this:

`<GestureHandlerRootView>{/* content */}</GestureHandlerRootView>`
![image](https://user-images.githubusercontent.com/98822152/156335907-f0bb324d-c986-427b-a1ca-e5b8c08c75eb.png)

Best regards!

[2022-03-02 20:27] Marcuspo opened #396 "How to change overlay?"
I need nothing overlay

[2022-03-03 07:56] AlfredMan commented on #388
@rgonzalez-clicoh Nice to meet you and Thanks alot ^___^

I think using <GestureHandlerRootView> with latest package install will yield warning:
[react-native-gesture-handler] Seems like you're using an old API with gesture components, check out new Gestures system!

I got the issue partially resolved by using eg scrollview, flatlist etc from react-native-reanimated (not from react-native) but the

[2022-03-03 18:26] mrcwbr opened #397 "Unable to use @react-native-segmented-control in Modalize"
**Describe the bug**
I added the [@react-native-segmented-control](https://github.com/react-native-segmented-control/segmented-control) with the following code into my project:

[code]

The `ABC` Segmented Control outside of the Modalize component works like expected. The `123` Segmented Control does not emit an `onChange` event and therefore it always moves back to `index = 0`

**Reproduce**
![Si

[2022-03-04 14:41] Marcuspo commented on #392
Have one prop:

overlayStyle={{ backgroundColor: 'white' }}

[2022-03-06 20:24] 3DJakob commented on #298
Same issue here. It works but only if you fling it fast downwards not if you let it go in the closed position.

[2022-03-07 09:35] shubhanus commented on #361
+1

[2022-03-07 20:09] edi commented on #380
Hi ... I decided to port all my modals to this project, just to find out it ain't working on Android .. damn. Guess I need to revert everything until this gets fixed ..

Hopefully it's sorted soon.

[2022-03-14 13:00] AshrafulAfruz opened #398 "How to disable pan gesture in a child component"
Is there any way to stop pan gesture in a specific child component but active on others..? If it's not possible then how can i make pan gesture work only when the y axis movement is grater than x-axis movement. I have seen in few apps that  modals pan gesture movement triggers only when  initially the absolute slope is greater than 1.

[2022-03-18 12:06] #396 closed

[2022-03-18 12:08] Marcuspo opened #399 "How can i put one value in alwaysopen for all devices?"
Hello

I have one question, in alwaysopen, received one value. How can i put one value in alwaysopen for all devices responsive modalize?

Thanks

[2022-03-21 08:31] BloodyMonkey commented on #380
Hi @jeremybarbet
I see you updated reanimated branch with REANIMATED 2 and RNGH 2, and React Native >= 0.65
Unfortunately, i'm using expo 44 (latest) who use React Native 0.64.3
What's the part of Modalize who need React Native 0.65 ?

[2022-03-21 08:34] edi commented on #380
@BloodyMonkey you can just use https://github.com/gorhom/react-native-bottom-sheet meanwhile.

Nice keyboard support, expo supported, reanimated 2, swipe to dismiss, snap points, etc.

[2022-03-21 08:54] BloodyMonkey commented on #380
@edi Thanks, I was just thinking of using it but I was still hesitating. But at this point of my project i cannot wait longer...

[2022-03-21 12:36] BloodyMonkey commented on #380
@edi @jeremybarbet
I found a solution.
Wrapping your root view inside `<GestureHandlerRootView>` fix the problem and the modal is swipeable again

[2022-03-23 03:16] hungvu193 commented on #286
hey, any updates on this, it's still happening on my project :(

[2022-03-23 03:59] hungvu193 commented on #286
this works for me! Seem like problems came from FooterComponent

[2022-03-23 03:59] hungvu193 commented on #286
this works for me! Seem like problems came from FooterComponent

[2022-03-23 23:52] Mcebrera commented on #380
@BloodyMonkey but is the modal content scrollable on Android? My modal is swipable when I wrapped it in `GestureHandlerRootView` but the inner content isn't scrollable.

Also getting a warning message:
`Warning: Cannot record touch end without a touch start.
Touch End: %s
Touch Bank: %s {"identifier":0,"pageX":0,"pageY":0,"timestamp":443417329} [null,{"touchActive":true,"startPageX":164.7110290527

[2022-03-29 21:15] shop-fluencer opened #402 "How can I close the modal when its not finishing"
Hello,

I open the modal and want to tap on overlay and its close fine. But if the modal is not finishing I cant close its only closes when the modal reachead the current height.

[2022-03-30 05:43] MohamedAhmed122 commented on #373
@borasumer I also couldn't access the `useModalize` from `utils/use-modalize ` so I create the hook by myself

[code]

and then you can call it in the component:

`const {onCloseModal, onOpenModal, ref} = useModalize();`

[2022-03-30 15:05] shop-fluencer opened #404 "TS Error: Property 'onPress' does not exist on type 'PropsWithChildren<IHandles>'"
Hello,

Why I get this ts error:

`TS Error: Property 'onPress' does not exist on type 'PropsWithChildren<IHandles>'
`
This error comes on ModalGender on line: ({ onPress }, ref) at onPress

App.tsx

[code]

ModalGender

[code]

[2022-03-30 18:38] #404 closed

[2022-03-31 13:01] Vidassundk commented on #237
For anyone still looking at this, It is possible to accomplish if you're familiar with **React Native Animated**.

The key is that if you **interpolate** the height value of the <Animated.View> Component inside <Modalize> Component, the Modal will follow suit and animate its size change if **adjustToContentHeight** prop is enabled.

[2022-04-01 20:02] coolp123 commented on #237
@wdospinal I have not sadly, but it's still on my radar! Personally, I haven't explored animation in React Native, but what @Vidassundk just posted looks interesting.

[2022-04-02 15:49] pierroo commented on #374
Unfortunately even using 2.0.8 version for gesture I still face the same error; can't get rid of it :(
Anyone found a solution yet?

[2022-04-05 03:32] christhoval06 commented on #361
[code]

[2022-04-09 14:17] Lewitje commented on #381
Same

[2022-04-15 13:59] jobberma commented on #380
Any update for this please ? I updated to expo 44 and it uses RNGH 2.
The modal opens but we can't swipe to close it on ANDROID, it works fine on IOS.

[2022-04-16 06:22] jeremybarbet opened #412 "Are you a good bot?"
Description here

[2022-04-16 06:44] jeremybarbet commented on #412
A new comment

[2022-04-16 15:54] chuyenim opened #413 "alwaysOpen: min Height"
alwaysOpen works well.
However, I want to set a min-height value so that users cannot swipe down below this height.
I don't want they can slide down.

[https://imgur.com/GDHSJhs](https://imgur.com/GDHSJhs)

How can I do that? Any idea?
Thanks in advance!

[2022-04-19 03:00] tokenswaporg opened #415 "sectionList or FlatList doesnt scroll in customRenderer"
<Modalize
        disableScrollIfPossible={false}
          panGestureEnabled={false}
          tapGestureEnabled={false}
          useNativeDriver={true}
          modalStyle={styles.modalStyle}
          ref={modalizeMenuRef}
          modalTopOffset={20}
          modalHeight={styles.modalizeHeight}

customRenderer={() => (
  <SectionList/> //doesn't scroll
)}

does anybody can help

[2022-04-19 03:02] tokenswaporg opened #416 "sectionList or FlatList doesnt scroll in customRenderer"
[code]

does anybody can help

[2022-04-19 03:10] tokenswaporg commented on #176
SectionList doesnt works in customRender,fail to scroll up or down

[2022-04-21 12:45] hrdyjan1 opened #417 "Automatic keyboard hidding"
**Describe the bug**
The keyboard bounces strangely when using the library by default. For me, it's definitely a bug that should be treated.
Every time I click on the text input in modal, it jumps a bit, and then when I try to scroll It jumps back. I spent the whole day trying different settings and I couldn't fix it.

I simulated that problem on the very basic bare react-native project

**Reprodu

[2022-04-21 23:18] davidseek commented on #324
+1

[2022-04-25 09:53] sallar commented on #219
The patch worked on 2.0.13 too. thank you

[2022-04-26 21:26] alexander-ye opened #418 "Modal Does Not Drag"
When using Modalize, we are unable to drag the modal up and down using the handle; the modal closes with a swipe down once the finger moves down a certain distance, but there is no visual feedback—the modal does not follow the finger. Is this intended, or is this a bug? (I noticed in many screenshots and demos that the modal is vertically draggable.)

[2022-04-27 15:43] alexander-ye commented on #418
It was an issue with react-native-gesture-handler. (Removed from package.json and drag worked.)

[2022-04-27 15:43] #418 closed

[2022-04-27 19:28] huduarte commented on #135
same problem here but with iOS, any suggestions ?

[2022-04-28 16:58] Ryanjso commented on #418
Hey I'm having this issue now, but if I remove react-native-gesture-handler I get

[2022-04-28 17:04] Ryanjso commented on #418
Turns out I had to reinstall react-native-gesture-handler through Expo like:
```expo install react-native-gesture-handler```

[2022-04-29 09:20] dylvaz commented on #380
If anyone is still having issues with this I wrapped my root view (everything in my App.js return) in  a `<GestureHandlerRootView style={{ flex: 1 }}>` and the modals swipe down on android.

I am using RNGH v2.2 and tested it on my Samsung s10 with one ui v4.1.

Hope this helps 🙏

[2022-05-04 04:00] alucardeht commented on #381
same

[2022-05-12 19:29] mMarcos208 commented on #223
Thanks @danilo900

add `panGestureComponentEnabled` work for me.

[2022-05-13 15:20] TomCorvus commented on #416
@tokenswaporg Can you use `flatListProps` or `sectionListProps` in your example?

[2022-05-19 06:38] MorganTrudeau commented on #394
Looks like useDimensions listener returns height and width equal to 0 sometimes. I changed to this and it prevents the crash.

[code]

[2022-05-21 23:03] shop-fluencer opened #420 "Why I cant scroll when using flatlist horizontal ?"
Hello,

I can't scroll my horizontal flatlist, whats the problem ?

[code]

[2022-05-24 02:07] kg-currenxie commented on #374
Same here, with `2.0.10`

[2022-05-24 23:52] #420 closed

[2022-05-24 23:53] #416 closed

[2022-05-24 23:57] #413 closed

[2022-05-24 23:59] #415 closed

[2022-05-24 23:59] #402 closed

[2022-05-24 23:59] #399 closed

[2022-05-24 23:59] #398 closed

[2022-05-24 23:59] #393 closed

[2022-05-25 00:00] #390 closed

[2022-05-25 00:00] jeremybarbet opened #421 "feat: new github action"
**Is your feature request related to a problem? Please describe.**
a new feature

**Describe the solution you'd like**
to make things amazing

**Describe alternatives you've considered**
that would be wonderful!

[2022-05-25 00:04] #421 closed

[2022-05-25 08:17] jeremybarbet commented on #143
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:17] #143 closed

[2022-05-25 08:17] jeremybarbet commented on #212
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:17] #212 closed

[2022-05-25 08:18] jeremybarbet commented on #185
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:18] #185 closed

[2022-05-25 08:18] jeremybarbet commented on #225
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:18] #225 closed

[2022-05-25 08:18] jeremybarbet commented on #229
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:18] #229 closed

[2022-05-25 08:21] jeremybarbet commented on #287
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:21] #287 closed

[2022-05-25 08:21] jeremybarbet commented on #277
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:21] #277 closed

[2022-05-25 08:22] jeremybarbet commented on #237
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:22] #237 closed

[2022-05-25 08:22] jeremybarbet commented on #176
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-25 08:22] #176 closed

[2022-05-26 09:23] hk-skit commented on #325
Hi @Shaninnik,  Did you find any workaround for this?

[2022-05-26 09:47] hk-skit commented on #325
@Shaninnik Did you find any workaround for this?

[2022-05-26 10:11] hk-skit commented on #258
@jeremybarbet Would highly appreciate any workaround/fix for this. 🙏🏻

[2022-05-26 12:49] jeremybarbet commented on #384
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:49] #384 closed

[2022-05-26 12:49] jeremybarbet commented on #389
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:49] #389 closed

[2022-05-26 12:50] jeremybarbet commented on #379
https://github.com/jeremybarbet/react-native-modalize/pull/227

[2022-05-26 12:50] #379 closed

[2022-05-26 12:50] jeremybarbet commented on #362
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:50] #362 closed

[2022-05-26 12:50] jeremybarbet commented on #366
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:50] #366 closed

[2022-05-26 12:51] jeremybarbet commented on #355
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:51] #355 closed

[2022-05-26 12:51] jeremybarbet commented on #354
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-26 12:51] #354 closed

[2022-05-26 12:51] jeremybarbet commented on #350
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:51] #350 closed

[2022-05-26 12:52] jeremybarbet commented on #348
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 12:52] #348 closed

[2022-05-26 12:59] jeremybarbet commented on #319
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-26 12:59] #319 closed

[2022-05-26 13:00] jeremybarbet commented on #317
This is related to the tabview library

[2022-05-26 13:00] #317 closed

[2022-05-26 13:00] jeremybarbet commented on #310
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-26 13:00] #310 closed

[2022-05-26 13:00] jeremybarbet commented on #306
I'm closing this feature request. Feel free to open a PR if you want the feature to be integrated in Modalize. Cheers.

[2022-05-26 13:00] #306 closed

[2022-05-26 13:02] #295 closed

[2022-05-26 13:03] jeremybarbet commented on #276
Sorry, friend, your issue does not properly use one of this repo's available issue templates.

[2022-05-27 07:12] abbas321 commented on #380
Does anyone find a workaround? its not working on android.

[2022-05-27 08:31] perroudsky commented on #380
@abbas321

@dylvaz solution does work !

[2022-05-27 09:59] abbas321 commented on #380
which solution ? can you please describe . @perroudsky

[2022-05-27 23:27] jeremybarbet commented on #236
Doing a bit of tidying up in the issues, closing this. 🤘

[2022-05-27 23:27] #236 closed

[2022-05-27 23:27] jeremybarbet commented on #262
Doing a bit of tidying up in the issues, closing this. 🤘

[2022-05-27 23:27] #262 closed

[2022-05-27 23:29] jeremybarbet commented on #302
Doing a bit of tidying up in the issues, this is a very old one, closing this. Feel free to reopen 🤘

[2022-05-27 23:29] #302 closed

[2022-05-27 23:29] jeremybarbet commented on #289
Doing a bit of tidying up in the issues, this is a very old one, closing this. Feel free to reopen 🤘

[2022-05-27 23:29] #289 closed

[2022-05-27 23:30] jeremybarbet commented on #369
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-27 23:30] #369 closed

[2022-05-27 23:30] jeremybarbet commented on #334
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-27 23:30] #334 closed

[2022-05-29 18:37] jeremybarbet commented on #123
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:37] #123 closed

[2022-05-29 18:37] jeremybarbet commented on #241
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:37] #241 closed

[2022-05-29 18:37] jeremybarbet commented on #207
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:37] #207 closed

[2022-05-29 18:37] jeremybarbet commented on #228
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:37] #228 closed

[2022-05-29 18:37] jeremybarbet commented on #204
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:37] #204 closed

[2022-05-29 18:38] jeremybarbet commented on #211
Sorry, your issue does not properly use one of this repo's available issue templates.

[2022-05-29 18:38] #211 closed

[2022-05-29 18:40] jeremybarbet commented on #290
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:40] #290 closed

[2022-05-29 18:40] jeremybarbet commented on #282
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:40] #282 closed

[2022-05-29 18:40] jeremybarbet commented on #265
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:40] #265 closed

[2022-05-29 18:40] jeremybarbet commented on #244
Doing a bit of tidying up in the issues, closing this. Feel free to reopen 🤘

[2022-05-29 18:40] #244 closed

[2022-05-31 15:30] shop-fluencer opened #422 "if I scroll down it leaves automatically the keyboard, how can I prevent this ?"
Hello,

I have a modal with input fields. So if my keyboard is visible and I want scroll down to my button then it automatically hides they keyboard, of if I want to scroll down to other input it again hides they keyboard. thats not good UX how can I prevent this ? That I can scroll and the keyboard are still showing ?

Code:
[code]

https://user-images.githubusercontent.com/101994056/171215529-d4

[2022-06-02 04:54] kkkasio opened #424 "style modal full height"
Hello friends, when styling the modal, I let it grow according to the screen, I would like to understand why I can't activate the 'container' as _flex:1_ so that my children occupy the entire available area.

Has anyone gone through something similar?

I believe my components are correct, programmed to grow enough (flex:1)

my Component baseModal
 ![image](https://user-images.githubusercontent.com

[2022-06-02 17:46] hrdyjan1 commented on #417
Nope. I'd try it tomorrow.

[2022-06-04 15:01] pratikdhody commented on #11
is there an example solution to this by the way @jeremybarbet that can be shared?

[2022-06-07 14:56] shop-fluencer opened #425 "Blank screen when using react-native-tab-view"
![WhatsApp Image 2022-06-07 at 16 50 38](https://user-images.githubusercontent.com/101994056/172412808-0791f590-a2ad-41c0-9475-07b025870f99.jpeg)
If I use react-native-tab-view inside modalize then I dont see my sceneMap data. It shows only blank screen except the header.

Code:
[code]

**Dependencies:**
 - react-native-modalize [2.0.13]
 - react-native-gesture-handler [2.2.1]
- expo/react-navigat

[2022-06-09 10:32] frankelly001 commented on #380
import gestureHandlerRootHOC from react-native-gesture-handler in your App.js then wrap ur App.js export with gestureHandlerRootHOC
**for example**

`import {gestureHandlerRootHOC} from 'react-native-gesture-handler';

const App = () => {
    return (
       // your code to render your layout
     )
}

export default gestureHandlerRootHOC(App)
`

[2022-06-15 07:34] DodoSpringLove opened #426 "react-native-web can not supported"
**Is your feature request related to a problem? Please describe.**
when i use `react-native-web` to transf my react-native code it use react-native-modalize ,I have some error , May i know `react-native-modalize` can run on web ?like PWA(https://web.dev/progressive-web-apps/) or if i want to run may  react-native code to web,how i do,Thank you very mach
**Describe the solution you'd like**
A clear

[2022-06-15 16:42] dcenatiempo opened #427 "provide support for RN 68"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to upgrade to react native version 0.68.2 but I can't because modalize is using react-native-gesture-handler v1, which depends on react-native-reanimated v1 which is incompatible with rn v 0.68.2

**Describe the solution you'd like**
I would like to see modalize depend on v2 of both gesture-handler

[2022-06-15 16:55] jeremybarbet commented on #427
You can fix a resolution for RNGH@2 in your package.json. I use it on client/personal projects and it works fine. Modalize v2 doesn't depend on reanimated but react-native Animated API.

[code]

For the better solution, I started the work on this branch [here](https://github.com/jeremybarbet/react-native-modalize/tree/v3) to move to RNGH@2 and their new api, and also moving to reanimated but I don

[2022-06-20 07:36] jbernar3 opened #428 "close() method does not scroll to close"
**Is your feature request related to a problem? Please describe.**
I want to add a "close modalize" button that shows the modalize scrolling down to close (the opposite animation of it opening). However, the modalize just closes like a normal modal (just disappears) and there is no option to change this.

**Describe the solution you'd like**
I would like an option in the close method that allows y

[2022-06-20 08:06] suupham2506 opened #429 "Can not push to another screen after dismiss modalize (react-native-navigation)"
**Describe the bug**
I can not push to my screen after closing modalize. It's stuck even though it showed log Running component Component4 already.

**Reproduce**
- Show modalize using Navigation.showOverlay as the example for react-native-navigation.
- Handle navigate to my screen after closing modalize.
- Nothing happens (expectation: close modalize and navigate to my screen)

**Dependencies:*

[2022-06-21 03:16] chubo274 opened #430 "handle adjustment size of content when focus on input"
<Portal>
      <Modalize
        ref={refModal}
        scrollViewProps={{
          keyboardShouldPersistTaps: "handled",
          scrollEnabled: false,
        }}
        disableScrollIfPossible
        adjustToContentHeight
        modalStyle={[]}
        onOverlayPress={() => refModal.current?.close()}
        onClose={onClose}
        withHandle={false}

        {children}
      </Modalize>

[2022-06-26 15:10] Lacerda53 opened #431 "How to leave it open by default"
I need the modal behavior to be open by default and not closed, how could I solve the problem?

With useEffect?

[2022-06-26 16:11] Lacerda53 commented on #431
#432 solution

[2022-07-01 05:56] Dani-Boy92 commented on #431
How did you manage it?

the useEffect answer is also good  for me if the merge takes to much time

[2022-07-03 17:29] obiwankenoobi commented on #425
any update on that?

[2022-07-04 12:40] HeavenMin opened #434 "@react-native-picker/picker will get stuck inside modalize with android pixel devices"
**Describe the bug**
When you put a @react-native-picker/picker 'Picker' inside modalize, it's hard to open it but with just a click, it can only be opened if you long-press the picker.
Now open found this issue in Google Pixel devices

**Reproduce**
put a Picker in side modalize like this
[code]
When you click this picker, it can not open.
Unless you long-press the picker, then it can be opened.

[2022-07-07 14:06] gmartpad commented on #425
Having the same problem here

[2022-07-08 04:16] shahedzaman-web commented on #425
I'm also having the same issue.

[2022-07-08 07:42] mmkhmk commented on #132
I'm facing the same issue. Adding flex: 1 to modalStyle solved the jumping issue, but still modal moves up with keyboard height when keyboard is opening. It happens only in Android.

[2022-07-08 10:48] zispidd commented on #434
have the same issue

[2022-07-11 14:29] obiwankenoobi opened #435 "No Animation when dismiss modal"
When trying to dismiss modal by tapping outside of the modal using `Navigation.dismissOverlay` it just remove the modal completely without animating it out

[2022-07-11 15:11] obiwankenoobi commented on #435
CLOSED: needed to pass parent component Id for it to work

[2022-07-18 23:03] acalvino4 opened #436 "ModalizeProps doesn't accept ref"
**Describe the bug**
I am creating a wrapper component for Modalize that takes additional props, but when I extend the ModalizeProps for my custom component, `ref` is not recognized as a valid prop by typescript. Other modalize props, such as `contentRef` or `disableScrollIfPossible` work just fine.
[code]

I get this error on `ref`
[code]

I am almost certain this is just a small bug in the typin

[2022-07-19 00:04] acalvino4 commented on #436
whoops, I think this was because FC's don't accept refs. I had to use a ForwardRef as my component, then it worked.

[2022-07-19 00:04] #436 closed

[2022-07-21 22:40] acalvino4 opened #438 "Background Image prop for modal."
**Is your feature request related to a problem? Please describe.**
There is currently no way (as far as I can tell) to give a modal a background image. We can change the bg color through the `modalStyle` prop, but I don't believe react native supports `background-image: url('https://...')`, so we can't load a bg image this way. Wrapping the children in `BackgroundImage` doesn't cover the whole mod

[2022-07-21 23:31] acalvino4 commented on #438
I solved this by using a custom renderer:
[code]

[2022-07-21 23:31] #438 closed

[2022-07-29 21:18] Dani-Boy92 opened #439 "How to use modalize with tab view and flat list?"
I saw the example for tabview and modalize as well as the one for flat list but how do I set up a tab view that contain flatlists.  We have only one flatlist prop in modalize but within the tab view there are multiple flatlists presents. Happy for any clarification...

[2022-08-01 16:33] datvudang opened #440 "[Android] Weird header at bottom"
**Describe the bug**
When I make a release build, a part of an unknown modal will show up at the bottom from the beginning. It stays there no matter users navigate to other screens, and users can't touch it or move it. This issue didn't happen when debugging or very hard to meet it. But in release, it always happens.

I tried many ways but it always happens unless didn't use react-native-modalize

[2022-08-02 09:41] #429 closed

[2022-08-02 19:25] #440 closed

[2022-08-03 11:37] AleksandrKarashev commented on #209
version 2.0.14 ,onPositionChange showing 'intial' instead of 'top' with these code:

[code]

[2022-08-03 11:47] AleksandrKarashev commented on #209
wait...I think snapPoint={MAX_HEIGHT} is making troubles for me...

[2022-08-05 03:25] suupham2506 opened #442 "How to use flatListProps along with children?"
**Describe the bug**
My problem is that I would like to create a list data in flatlist and a form input at the bottom like facebook comment modal. But it seems like we can not use flatlistProps and children at the same time.

**Expectation**
![image](https://user-images.githubusercontent.com/28852565/182994819-163e1964-5356-46f6-abe1-eb4e5e34cebb.png)

**Dependencies:**
 - react-native-modalize l

[2022-08-10 07:29] fukemy commented on #373
hi, did u used useModalize without problem? Can u give some example? Thanks

[2022-08-10 07:48] fukemy commented on #25
@jeremybarbet  lol i love u so much

[2022-08-10 08:41] fukemy commented on #435
hi, can u explain more? Thanks

[2022-08-10 09:07] fukemy commented on #428
click outside sheet make sheet close without animation

[2022-08-10 10:44] purge opened #443 "2.1.0: 'Modalize' only refers to a type, but is being used as a value here."
[code]

[2022-08-10 10:59] jeremybarbet commented on #443
coming from this change https://github.com/jeremybarbet/react-native-modalize/pull/441/files#diff-0b5adbfe7b36e4ae2f479291e20152e33e940f7f265162d77f40f6bdb5da7405R1004-R1005 but not sure what's wrong in there

[2022-08-10 12:12] jeremybarbet commented on #443
should be fixed in 2.1.1

[2022-08-10 13:00] borasumer commented on #373
Yes I do use it, sure.
[code]

[2022-08-10 13:13] fukemy commented on #373
i have multi modalize in some component of app, i wonder how to call each modal by ref or id? Bro did u solved this?

[2022-08-10 13:17] borasumer commented on #373
You can simply call it twice as in;
[code]
I haven't tried but this should work.

[2022-08-10 14:09] fukemy commented on #373
thanks u so much

[2022-08-11 09:10] gbettinazzi opened #444 "Open one Modalize modal on top of another"
**Describe the bug**
Hi! first of all, this library is awesome and thanks for the effort you're spending on maintaining it!
I'm trying to open a Modalize modal on top of an already open Modalize modal (without closing it), but the result is that the last one will be open behind the first one and not vice versa.
I've tried to use `withReactModal` prop but on Android the behavior changes a lot: the

[2022-08-11 21:53] austinGENEreeve opened #445 "Unable to scrollToIndex"
Unable to use the ref to scrollToIndex({ index: 0 ... within the modal

Goal is to reset the scroll position to the top when the modal is "alwaysOpen" closed.

**Reproduce**
[code]

[code]

**Dependencies:**
 - react-native-modalize [e.g. 1.3.7-rc.19]
 - react-native [e.g. 0.62.0]
 - react-native-gesture-handler [e.g. 1.6.0]
- expo/react-navigation/react-native-navigation: [e.g. expo@37.0.3]

[2022-08-11 21:58] austinGENEreeve commented on #445
suggestion in [#125](https://github.com/jeremybarbet/react-native-modalize/issues/125) doesn't seem to work

[2022-08-18 19:43] acalvino4 opened #446 "Expose modal position from useModalize hook."
**Is your feature request related to a problem? Please describe.**
Some of my Modalize children have display logic that depends on the modal's position. In typical react fashion, I manage the position state at the parent level - however, this leaves me imperatively updating it `onPositionChange` and `onClosed`. I image this is not a terribly uncommon desire, and some may even wish to access the po

[2022-08-23 11:55] nofacez commented on #422
Hi! Had the same issue, fixed it by setting
[code]

[2022-08-23 13:22] kirill268 opened #448 "New architecture issues RN 0.69.* (overlay and margin bottom)"
**Describe the bug**
After migration to the new architecture I've noticed several bugs:
1. the overlay covers the modal content
2. when the modal is open, there is a margin at the bottom

<img width="350" src="https://user-images.githubusercontent.com/102238005/186167387-1a828ed3-1a5d-48e7-8fd3-4902f6159d24.png">
<img src="https://user-images.githubusercontent.com/102238005/186167772-ee84ae9b-355c

[2022-08-24 02:24] luccameds commented on #380
@frankelly001 Thank you so much! You're a legend!

[2022-08-24 09:05] frankelly001 commented on #380
You are welcome. 😎

[2022-08-25 08:13] montossc commented on #444
Have the same issue

[2022-08-28 02:40] fakhergh commented on #380
It is working fine, thanks.

For whom are using `react-native-portalize` make sure to the Host component is above  GestureHandlerRootView, e.g:

[code]

[2022-09-03 10:42] Brenndoerfer commented on #397
Facing the same issue. Touch events of the segmented control are not handled properly when rendered within a Modalize view.

[2022-09-09 08:31] bonnmh commented on #425
It's still unresolved

[2022-09-12 12:23] masbossun commented on #445
i guess the refs are different between the scrollview/flatlist and the bottomsheet itself. You may try to use `contentRef` like documented [here](https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=contentref)

[2022-09-14 16:37] brianedelman opened #450 "Iphone 14 modalTopOffset default is off"
**Describe the bug**
On iphone 14 (specifically tested on Pro) with iso 16.0 the modalTopOffset needs to be adjusted in a way that it doesn't need to be for other iphone models.

The same implementation produces these results on 13 vs 14. I can manually add modalOffset top to resolve the issue but I believe this should be handled by default.

**Reproduce**
<img width="896" alt="Screen Shot 2022-09

[2022-09-14 22:31] bsdaoquang commented on #41
it work with me

After installation, wrap your entry point with <GestureHandlerRootView> or gestureHandlerRootHOC.

For example:
![Screenshot 2022-09-15 053105](https://user-images.githubusercontent.com/58207791/190274417-b3681d3f-0878-4c9b-8b01-e3580799fc3d.png)

export default function App() {
  return <GestureHandlerRootView style={{ flex: 1 }}>{/* content */}</GestureHandlerRootView>;
}

[2022-09-16 07:51] thanhnn147 commented on #445
I'm using contentRef with SectionList, but contentRef always undefined. I can not use SectionList methods.

[2022-09-16 14:36] mMarcos208 opened #451 "This synthetic event is reused for performance reasons"
ERROR  Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the property `nativeEvent` on a released/nullified synthetic event. This is set to null. If you must keep the original synthetic event around, use event.persist(). See https://reactjs.org/link/event-pooling for more information.
 WARN  Possible Unhandled Promise Rejection (id: 0):
TypeEr

[2022-09-19 18:14] bryan229 commented on #132
this solution works for me.
https://github.com/react-native-modal/react-native-modal/issues/344#issuecomment-1061127501

[2022-09-21 11:58] Tanujgarg commented on #451
I'm having the same problem after updating to `0.70.1`.

[2022-09-23 01:14] cesarrrc commented on #424
Any solution? I am having same problem

[2022-09-23 20:25] austinGENEreeve commented on #445
I was able to get it to work by using a `contentRef`

` <Modalize
        contentRef={contentRef}
        ....

contentRef?.current?.scrollTo({ x: 0, y: 0, animated: true });
`

[2022-09-23 20:25] #445 closed, assigned to nobody

[2022-09-28 17:51] sarnakov commented on #380
When using with native-base: <GestureHandlerRootView style={{ flex: 1 }}> works just fine

[2022-09-28 19:20] giacomoarienti commented on #380
Solution: wrap your root view in `<GestureHandlerRootView style={{ flex: 1 }}>`

[2022-09-28 19:20] #380 closed

[2022-10-03 16:03] asadbjs commented on #41
Thnx me later..!!!
after spending hours....

import { GestureHandlerRootView } from "react-native-gesture-handler";

"react-native-gesture-handler": "^2.6.0",  add this line in package.json

<img width="407" alt="Screenshot at Oct 03 21-01-11" src="https://user-images.githubusercontent.com/51972491/193623892-510d6563-6d75-4aee-b994-210265250f1f.png">

[2022-10-03 16:04] asadbjs commented on #68
Thnx me later..!!!
after spending hours....

import { GestureHandlerRootView } from "react-native-gesture-handler";

"react-native-gesture-handler": "^2.6.0", add this line in package.json
<img width="407" alt="Screenshot at Oct 03 21-01-11" src="https://user-images.githubusercontent.com/51972491/193624638-5c545cda-601b-433a-97db-dcb013b59f38.png">

[2022-10-06 11:49] AleksandrKarashev commented on #451
same

[2022-10-08 00:53] babyrusa commented on #442
Hey have you figured this out? Bạn tìm ra được lời giải chưa?

[2022-10-15 15:58] alfasin commented on #285
I still have the same issue (the workaround of removing the generic type from the ref-definition worked for me!)

I'm using:
"react": "^18.0.0",
"react-dom": "^18.0.0",
"typescript": "^4.2.3",

Any idea?

[2022-10-17 12:20] JameDodgers opened #452 "Update Installation guide concerning react-native-gesture-handler setup"
The newer versions of `react-native-gesture-handler` no longer uses `RNGestureHandlerEnabledRootView` as described in https://docs.swmansion.com/react-native-gesture-handler/docs/guides/migrating-off-rnghenabledroot/. Following the setup guide on the website gave me the following error on Android:
[code]

**Dependencies:**
 - react-native-modalize [2.0.13]
 - react-native [0.66.4]
 - react-native-

[2022-10-17 13:55] l-fernandocosta commented on #205
App.tsx
import { GestureHandlerRootView } from 'react-native-gesture-handler';

<GestureHandlerRootView>
  {children}
<\GestureHandlerRootView>

[2022-10-17 13:56] l-fernandocosta commented on #205
import { GestureHandlerRootView } from 'react-native-gesture-handler';

Wrap your app.tsx into GestureHandlerRootView with a style flex 1

[2022-10-21 02:44] gomezmark opened #453 "Crashed on ios on release mode"
App crashed when going to the screen that has modalize.
On debug mode it is working fine, there's no registered error on diagnostic.
It also working fine on android.

[code]

**Dependencies:**
[code]

[2022-10-22 14:51] lucasdzuc opened #454 "Slide to close modal"
**Describe the bug**
there is a bug in Modalize in expo sdk 46 that when opening the modal the slide to close the modal doesn't work

**Reproduce**
- Create a demo on https://snack.expo.io to reproduce the issue.
- Add gif screenshots to help explain your issue.

**Dependencies:**
 - react-native-modalize: "^2.1.1"
 - react-native: "0.69.6"
 - react-native-gesture-handler: "~2.5.0"
- expo/react-na

[2022-10-24 18:40] ignaciosantise commented on #451
having the same problem after upgrading to `0.70.3`

[2022-10-24 22:35] scarlac commented on #454
This seems to be an issue on Android, not iOS. Issue appears when using a `<Portal>`. Removing the portal makes it work again. Not 100% sure why but it could be that Expo or gesture handler are capturing those events or vice versa.

Anyway, workaround would be to stop using portals or perhaps move the portal further in.

[2022-10-28 13:27] adriano-rodrigues99 commented on #132
this solution works for me.
`avoidKeyboardLikeIOS={Platform.select({ios: true, android: true})}`
[https://jeremybarbet.github.io/react-native-modalize/#/PROPS?id=avoidkeyboardlikeios](url)

[2022-10-31 14:55] irmakcosarsahna commented on #219
Same issue - 2.1.1 version

[2022-11-01 19:42] mattgle commented on #451
same

[2022-11-01 19:52] Acetyld commented on #451
Same here!

[2022-11-02 16:46] abdullahIsa opened #455 "Cannot read property 'layout' of null"
Hello i am getting this error.

"react-native": "0.70.4"
"react-native-modalize": "^2.1.1"

![image](https://user-images.githubusercontent.com/49385380/199550349-58363430-0b6e-47b4-bd69-5798c8a0e1ad.png)

[2022-11-03 11:24] MetaCorp opened #456 "Clicking on the Backdrop doesn't close the BottomSheet"
**Describe the bug**
Clicking on the Backdrop doesn't close the BottomSheet.

**Dependencies:**
 - react-native-modalize [2.1.1]
 - react-native [0.69.6]
 - react-native-gesture-handler [2.5.0]
- expo/react-navigation/react-native-navigation: [expo@46.0.16]

[2022-11-07 02:27] LongVT8 commented on #450
Please, fix issue on iPhone 14 :(

[2022-11-07 18:17] jersonpl commented on #455
Same problem.

"react-native": "0.70.5",
"react-native-modalize": "^2.1.1",

[2022-11-08 15:38] suupham2506 commented on #442
not yet, bro. can you help me this?

[2022-11-08 20:07] willLopesz commented on #451
Same here, did anyone manage to solve it?

[2022-11-09 12:01] ckswopnera commented on #451
same here

[2022-11-09 12:23] ElGuapo322 commented on #451
Same

[2022-11-10 13:30] Bayramito opened #457 "using custom list renderer"
is there any way to use my own list renderer ?
not scrollview or flautist but a custom one

solved

[2022-11-10 14:28] Bayramito opened #458 "Prioritizing scrolls"
in my case I  just using recyclerlistview for listing my items as a children of Moralize.

But what I want to do is, when I tap one of the items in the RecyclerListView, I don't want to scroll inside my lister, but I want firstly snap the modalize to the top snap point then I want to continue scrolling in my lister element

[2022-11-11 04:40] ckswopnera commented on #451
I downgrade the expo version to 46.0.0 and the error is gone

[2022-11-11 10:53] RalissonMattias commented on #455
same here

[2022-11-11 11:56] mMarcos208 commented on #451
@ckswopnera downgrade isn't option. I'm not using expo. downgrade version cause error in Xcode and another things.

[2022-11-11 13:00] Ilannildo commented on #455
Same problem.

"react-native": "0.70.5",
"react-native-modalize": "^2.1.1",

[2022-11-11 23:44] tacianoscur commented on #451
same here.
react-native: `0.70.3`
react-native-gesture-handler: `^2.8.0`
react-native-modalize: `^2.1.1`

[2022-11-11 23:47] tacianoscur commented on #451
btw on android I can't scroll down to close modal, only by calling `.close()` function.
don't know if it's related

[2022-11-15 12:09] alexfoxy commented on #455
Yep also getting this issue:
[code]

[2022-11-16 16:51] willLopesz commented on #455
I'm having the same problem, but it only occurs when I remove the adjustToContentHeight property, if anyone else can test if this is it?!

[2022-11-16 16:54] willLopesz commented on #451
in my case, this error only occurs when I remove the adjustToContentHeight property, if anyone else can test if this is it?!

[2022-11-16 18:40] mMarcos208 commented on #451
@willLopesz what version of gesture-handler? In my case, I'm not using `adjustToContentHeight` prop

[2022-11-16 19:04] tacianoscur commented on #451
I’m not using `adjustToContentHeight` and still getting the error

[2022-11-18 02:53] mMarcos208 commented on #451
Guys, I find the error in code. The error is here

I'm looking into how to resolve this, if anyone can help.

console.warn(nativeEvent) returns null

[code]

[2022-11-18 15:13] mMarcos208 commented on #451
Guys,

In my investigations I found a bug in the onLayout prop of the KeyboardAvoidingView component, which was corrected and merged here:

https://github.com/facebook/react-native/issues/32608

In this lib it is used here in the code:

`const AnimatedKeyboardAvoidingView = Animated.createAnimatedComponent(KeyboardAvoidingView);`

According to that comment the problems with the Animation.

https:/

[2022-11-19 15:22] ricardopacheco opened #459 "How to set height for modal footer when withReactModal is true"
[code]

[2022-11-19 15:27] ricardopacheco commented on #459
This is fixed using View inside same component!

[code]

[2022-11-19 15:27] #459 closed, assigned to nobody

[2022-11-20 22:18] huszy commented on #451
Hi,
We are using the following patch in our project while it's getting fixed. It persists the original event before the LayoutAnimation occurs. It's far from perfect but works for us.

[code]

[2022-11-22 15:27] filipepalheta commented on #455
same here,

"react-native": "0.70.5",
"react-native-modalize": "^2.1.1",

[2022-11-23 08:08] harrigee commented on #450
I have this issue as well on my iPhone 14 Pro Device with iOS 16.1. Oddly my Simulator with the same setup renders it correctly.

[2022-11-23 22:46] cedricjacobs commented on #455
@willLopesz I see the same behaviour.

[2022-11-24 02:26] kg-currenxie commented on #450
Same here. Both simulator and real device. Thought rn-device-info would fix it :/

[2022-11-24 08:25] mariomurrent-softwaresolutions commented on #426
I don't think that web is currently supported

[2022-11-28 05:58] chrisedington commented on #426
I would love to see this, unfortunately I'm not good enough to port it though :)

Does anyone have any advice on how this could be achieved?

[2022-11-28 06:17] chrisedington commented on #241
@marioaks can you share how you got it working with RNW in the first place?

[2022-11-28 06:43] mariomurrent-softwaresolutions commented on #426
This is a lot of work I guess. Maybe I'll have a look at it in the near future

[2022-11-28 06:52] chrisedington commented on #426
I actually got it working quite easily - at least it builds ok -- haven't tested the UI just yet. Will post what I did to get it to build at least a bit later today.

[2022-11-28 07:08] mariomurrent-softwaresolutions commented on #426
That would be awesome

[2022-11-29 18:00] ChrisEdson opened #460 "Crash on Android with React Native 0.70"
I'm getting a crash on React Native 0.70 (works fine on 0.69) - with the error:

`TypeError: Cannot read property 'layout' of null`

This seems to be down to [this code](https://github.com/jeremybarbet/react-native-modalize/blob/master/src/index.tsx#L945), which only runs on Android.

The `handleModalizeContentLayout` function is defined [here](https://github.com/jeremybarbet/react-native-modalize

[2022-11-29 18:10] ChrisEdson commented on #460
I believe this is the same bug as https://github.com/jeremybarbet/react-native-modalize/issues/451

[2022-11-30 13:35] aryella-lacerda commented on #455
@willLopesz I just tested this. The warning only occurs when I use `modelHeight` instead of `adjustToContentHeight`. It also occurs when I use neither of these props. Once I set `adjustToContentHeight` to true, the warning disappears.

[code]

EDIT: And it only happens on Android for me. I have Hermes activated, too.

[2022-11-30 15:11] pierroo commented on #456
By any chance, did you manage to fix this issue?
I am facing the same since I upgraded to react native 0.69.7

[2022-11-30 15:13] pierroo commented on #454
Removing the portal makes the modalize not appear at all; I thought Portal was mandatory for modalize to work?
Did you manage to fix it @lucasdzuc ?

[2022-11-30 16:49] lucasdzuc commented on #454
@scarlac Yes, removing <Portal> works.

When trying to place the "Portal" further away it did not work.

[2022-11-30 16:49] lucasdzuc commented on #454
@pierroo I still can't fix it

[2022-11-30 17:00] pierroo commented on #454
@lucasdzuc unfortunately it doesn't work without Portal on my end; HOWEVER I was able to find the issue:
Since I updated to reanimated and gesture v2; I had to wrap my entire app in <GestureHandlerRootView style={{ flex: 1 }}> and now it works perfectly.

Yes gesture do mention it in their docs, but I never needed it until now. :)

[2022-11-30 17:04] lucasdzuc commented on #454
@pierroo  interesting, I will test

[2022-11-30 17:07] lucasdzuc commented on #454
@pierroo Very good, this solved the problem. I just have to thank you, thank you very much

[2022-11-30 17:08] pierroo commented on #454
Cool news, it is now solved :)

[2022-11-30 17:10] #454 closed, assigned to nobody